#!/bin/bash

current_availability_zone=$(ec2metadata --availability-zone | awk -F'-' '{print $3}')
maintenance_start_time={{ maintenance_start_time }}
maintenance_end_time={{ maintenance_end_time }}
current_time=$(date +%R)
uptime_days=$(uptime | awk '/days?/ {print $3; next}; {print 0}')

if [ $uptime_days -ge 90 ] && [[ $current_time > $maintenance_start_time ]] && [[ $current_time < $maintenance_end_time ]]; then
  if [ "$current_availability_zone" == "1a" ]; then
    logger '[Maintenance] Rebooting server as uptime is greater than or equal to ninety days in az:A'
    echo "Starting reboot"
    shutdown -r +1
  elif [ "$current_availability_zone" == "1b" ]; then
    logger '[Maintenance] Rebooting server as uptime is greater than or equal to ninety days in az:B'
    echo "Starting reboot"
    shutdown -r +30
  elif [ "$current_availability_zone" == "1c" ]; then
    logger '[Maintenance] Rebooting server as uptime is greater than or equal to ninety days in az:C'
    echo "Starting reboot"
    shutdown -r +60
  fi
fi
