#!/usr/bin/python
"""
Script provides a list of database that are on the server
but, are not being used.
"""

import psycopg2
try:
    conn=psycopg2.connect("dbname='postgres'")
except:
    print "Can not connect to database."

# JSON from Ansible's configuration using jinja2
allowed_databases = {
{% for databases in postgresql_dbs.all %}
{% if inventory_hostname == databases.host %}
"{{ databases.name }}",
{% endif %}
{% endfor %}
}

default_databases = [
"template0",
"template1",
"postgres"
]

cur = conn.cursor()
try:
    cur.execute("""SELECT datname FROM pg_database""")
except:
    conn.close()
    print "Can not select databases."

rows = cur.fetchall()

# Closing Connection to PG.
conn.close()

print ("Databases that should not be on server: ")
for row in rows:
    db_name = row[0]
    if db_name not in allowed_databases and db_name not in default_databases:
        print(db_name)

print("")
