#!/bin/bash

maintenance_time={{ maintenance_time }}
current_time=$(date +%R;)
uptime_days=`uptime | awk '/days?/ {print $3; next}; {print 0}'`


maintenance(){

maintenance_time={{ maintenance_time }}
current_time=$(date +%R;)
uptime_days=`uptime | awk '/days?/ {print $3; next}; {print 0}'`

}



while true;
do
echo $uptime_days

echo $current_time

echo $maintenance_time

  if [ $uptime_days -ge "90" ] && [ $current_time = $maintenance_time ]
  then
       x=logger '[Maintenance]  Rebooting server as uptime is greater than or equal to ninety days'
       echo "starting reboot"
       shutdown -r +1
       $x;
       exit 0
  else
          maintenance
  fi
done
