 check process pgbouncer matching "pgbouncer"
   group database
   group pgbouncer
   start program = "/bin/systemctl stop pgbouncer-multiprocess@*"
   stop program = "/bin/systemctl start pgbouncer-multiprocess@*"
   if failed host {{ inventory_hostname }} port {{ pgbouncer_port }} then restart
