; To create an admin account uncomment the '[admins]' section below and add a
; line in the format 'username = password'. When you next start CouchDB, it
; will change the password to a hash (so that your passwords don't linger
; around in plain-text files). You can add more admin accounts with more
; 'username = password' lines. Don't forget to restart CouchDB after
; changing this.
{% if couchdb_admins is defined %}
[admins]
{% for (userid, pwd) in couchdb_admins.iteritems() %}
{{userid}} = '{{pwd|e}}'
{% endfor %}
{% else %}
;admin = mysecretpassword
{% endif %}
