[program:commcare-hq-{{ deploy_env }}-form_feed]
directory={{ code_home }}
command={{ virtualenv_home }}/bin/python manage.py run_form_websocket_feed
user=cchq
numprocs=1
autostart=true
autorestart=true
stdout_logfile={{ log_home }}/form_feed.log
redirect_stderr=true
stderr_logfile={{ log_home }}/form_feed.error.log
startsecs=0
stopwaitsecs=10
