[program:{{ project }}-{{ environment }}-airflow_scheduler]
command={{ airflow_env }}/bin/airflow scheduler
directory={{ code_home }}
user={{ cchq_user }}
numprocs=1
autostart=true
autorestart=true
stdout_logfile={{ log_dir }}/airflow_scheduler.log
redirect_stderr=true
stderr_logfile={{ log_dir }}/airflow_scheduler.error.log
startsecs=10
environment=AIRFLOW_HOME="{{ airflow_home }}",HOME="{{ cchq_home }}",PATH="{{ airflow_virtualenv }}/bin:%(ENV_PATH)s"
