- name: Update setuptools
  pip: name=setuptools state=latest
  become: yes

- name: Install ndg-httpsclient so we can download couch
  pip: name="{{ item }}"
  become: yes
  with_items:
    - ndg-httpsclient

- name: Create couchdb2 dirs
  become: yes
  file:
    path: "{{ item }}"
    state: directory
    mode: 0755
  with_items:
    - "{{ couchdb_parent_srcs_dir }}"
