#!/bin/python
import sys

if len(sys.argv) != 2:
    raise Exception('Usage is backup_snapshots <filename>')

filename = sys.argv[1]
s3_connection = tinys3.Connection('{{ localsettings.AMAZON_S3_ACCESS_KEY }}', '{{ localsettings.AMAZON_S3_SECRET_KEY }}', tls=True)
f = open(filename, 'r')
s3_connection.upload(filename, f, '{{ deploy_env }}-postgres-backups')
