#!/bin/bash
BACKUP_TYPE=$1
DAYS_TO_RETAIN_BACKUPS=$2

TODAY=$(date +"%Y_%m_%d")
DIRECTORY="{{ postgresql_backup_dir }}/postgres_${BACKUP_TYPE}_${TODAY}"
pg_basebackup -D $DIRECTORY -Xs
tar -cjf "${DIRECTORY}.tar.bz" -C "${DIRECTORY}" .
rm -rf $DIRECTORY

# Remove old backups of this backup type
find {{ postgresql_backup_dir }} -mtime "+$DAYS_TO_RETAIN_BACKUPS" -name "postgres_${BACKUP_TYPE}_*" -exec rm {} \;

{% if postgres_s3 %}
/etc/cron.d/backup_snapshots.py "${DIRECTORY}.tar.bz"
{% endif %}
