#!/bin/bash
BACKUP=$1

read -p 'Are you sure you want to restore postgres to a past state [y/N]: ' -r confirm
if [ $confirm != 'y' ]; then
    exit 1
fi
read -p 'This will delete the current db. Are you SURE you are sure [y/N]: ' -r confirm2
if [ $confirm2 != 'y' ]; then
    exit 1
fi

echo 'retrieving backup from amazon'
/root/retrieve_backup.py "${BACKUP}" &&

echo 'extracting backup' &&
tar -xjf "${BACKUP}" -C "{{ postgresql_backup_dir }}" &&

echo 'stopping postgresql. if this fails the script will exit' &&
/etc/init.d/postgresql stop || exit 1

read -p 'continuing will overwrite the existing pg data directory. Are you sure? [y/N]: ' -r confirm3
if [ $confirm3 != 'y' ]; then
    exit 1
fi
echo 'copying backup to data directory' &&
rsync -avz --delete "{{ postgresql_backup_dir }}/${BACKUP}/" "{{ postgresql_home }}" &&

echo 'starting postgresql' &&
/etc/init.d/postgresql start &&

echo 'restore complete'
