#!/bin/bash
# set the path so that service can be found
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games
result=`service couchdb2 status`
date=`date`
expected='is running'
if [[ "$result" == *"$expected"* ]]; then
    echo "couch2 is up as of $date" > status.txt
else
    service couchdb2 start > service-output.txt 2> service-stderr.txt
    echo "server was restarted at $date" >> restart.txt
    echo "couch2 had to be restarted at $date." | mail -s "CouchDB2 was restarted" commcarehq-ops@dimagi.com
fi
