#
# {{ ansible_managed }}
#
init_config:
instances:
  - use_mount: true
    tags:
      - environment:{{ env_monitoring_id }}
    file_system_blacklist:
      - tmpfs$
      - devtmpfs$
      - squashfs$
      - tracefs$
    mount_point_blacklist:
      - /boot$
    service_check_rw: true
