#
# {{ ansible_managed }}
#
init_config:
instances:
  - use_mount: true
    tags:
      - environment:{{ env_monitoring_id }}
    file_system_include:
      - ext4$
      - xfs$
      - nfs4$
    service_check_rw: true
