init_config:

instances:
  - name: {{ env_monitoring_id }}
    url: https://{{ SITE_HOST }}/serverup.txt
    disable_ssl_validation: false
    check_certificate_expiration: true
    days_warning: 20
    days_critical: 10
    timeout: 30
    include_content: true
    tags:
      - check_type:serverup
{% if monitor_celery_heartbeat|default(True) %}
  - name: {{ env_monitoring_id }} Celery
    url: https://{{ SITE_HOST }}/serverup.txt?only=celery
    check_certificate_expiration: false
    timeout: 30
    tags:
      - check_type:celery
{% endif %}
{% for host in datadog_extra_host_checks %}
  - name: {{ host.url|urlsplit('hostname') }}
    url: {{ host.url }}
    disable_ssl_validation: {{ host.disable_ssl_validation|default('false') }}
    check_certificate_expiration: {{ host.check_certificate_expiration|default('true') }}
    days_warning: 28
    days_critical: 14
    timeout: 30
    include_content: false
    tags:
      - check_type:extrahost
{% endfor %}
