#
# {{ ansible_managed }}
#
init_config:

instances:
  - rabbitmq_api_url: http://{{ groups.rabbitmq.0 }}:15672/api/
    rabbitmq_user: {{ AMQP_USER }}
    rabbitmq_pass: {{ AMQP_PASSWORD }}
    tags:
      - environment:{{ env_monitoring_id }}
    vhosts:
      - {{ AMQP_NAME }}
    skip_proxy: True
    queues:
      {% for queue in celery_queues -%}
      - {{ queue }}
      {% endfor -%}
