#
# {{ ansible_managed }}
#
init_config:

instances:
  - name: Cloudant
    host: commcarehq.cloudant.com
    port: 443
    timeout: 90
    collect_response_time: true
    tags:
      - environment:{{ env_monitoring_id }}
  - name: Redis
    host: {{ groups.redis.0 }}
    port: 6379
    timeout: 90
    collect_response_time: true
    tags:
      - environment:{{ env_monitoring_id }}
  - name: Postgres (pgbouncer)
    host: {{ groups.postgresql.0 }}
    port: 6432
    timeout: 90
    collect_response_time: true
    tags:
      - environment:{{ env_monitoring_id }}
  - name: Google
    host: www.google.com
    port: 80
    timeout: 90
    collect_response_time: true
    tags:
      - environment:{{ env_monitoring_id }}
