# This file currently contains a lot of commented-out hosts
# that refer to presumed eventual hosts that will live on AWS but don't yet exist
# As they get added, we'll uncomment them and the IPs will get populated from live AWS resources
# using the aws-fill-inventory command.

{{ __proxy2__ }}
{{ __proxy3__ }}
{{ __proxy4__ }}
{{ __proxy5__ }}
{{ __proxy6__ }}

[proxy:children]
# Amazon EC2
proxy2
proxy3
proxy4
proxy5
proxy6

[logproxy:children]
proxy

{{ __web7__ }} swap_size=1G

{{ __web8__ }} swap_size=1G

[webworkers:children]
# Amazon EC2
web7
web8

{{ __pgproxy2__ }}
{{ __pgbouncer0__ }}

{{ __rds_pg0__ }}

[remote_postgresql:children]
rds_pg0

[nlb_formplayer_pgbouncer]
test-formplayer-pgbouncer-9167cac4e0edb439.elb.us-east-1.amazonaws.com

[postgresql:children]
pgproxy2
remote_postgresql
nlb_formplayer_pgbouncer

[pgbouncer:children]
pgbouncer0

{{ __couch6__ }}

{{ __couch7__ }}

{{ __couch8__ }}

[couchdb2:children]
couch6
couch7
couch8

[couchdb2_proxy:children]
couch6

{{ __rabbit2__ }}
{{ __rabbit3__ }}

[rabbitmq:children]
# Amazon EC2
rabbit2
rabbit3

{{ __kafka2__ }} kafka_broker_id=1
{{ __kafka3__ }} kafka_broker_id=2
{{ __kafka4__ }} kafka_broker_id=3

[zookeeper:children]
# Amazon EC2
kafka2

[kafka:children]
# Amazon EC2
kafka2
kafka3
kafka4

{{ __celery3__ }} swap_size=8G

[celery:children]
# Amazon EC2
celery3

{{ __pillow3__ }}

[pillowtop:children]
# Amazon EC2
pillow3

{{ __formplayer3__ }}

{{ __formplayer4__ }}

[formplayer:children]
# Amazon EC2
formplayer3
formplayer4

[formplayer:vars]
formplayer_efs_dns={{ aws_resources['formplayer-efs'] }}:/
cchq_uid=1026
cchq_gid=1027

{{ __redis2__ }}

[redis:children]
redis2

{{ __es6__ }} elasticsearch_node_name=es6-staging elasticsearch_node_zone=aws elasticsearch_master=true

{{ __es7__ }} elasticsearch_node_name=es7-staging elasticsearch_node_zone=aws elasticsearch_master=true

[elasticsearch:children]
# Amazon EC2
es6
es7

[shared_dir_host:children]
redis2

{{ __control1__ }}

[control:children]
control1

[ansible_skip:children]
rds_pg0

[django_manage:children]
# Amazon EC2
web7
