- name: Add git apt repo
  apt_repository: repo='ppa:git-core/ppa' state=present
  register: add_git_repo

- name: Update package list
  apt: update_cache=yes
  when: add_git_repo|changed

- name: Install git packages
  apt: name="{{ item }}" state=present
  become: yes
  with_items:
    - git
