 check process postgresql with pidfile {{ postgresql_pid_file }}
   group database
   group postgresql
   start program = "/etc/init.d/postgresql start"
   stop program = "/etc/init.d/postgresql stop"
   if failed host {{ inventory_hostname }} port {{ postgresql_port }} then restart
