#
# {{ ansible_managed }}
#


# FILE LOCATIONS

data_directory = '{{ postgresql_home }}'
hba_file = '{{ postgresql_config_home }}/pg_hba.conf'
ident_file = '{{ postgresql_config_home }}/pg_ident.conf'
external_pid_file = '{{ postgresql_pid_file }}'


# CONNECTIONS AND AUTHENTICATION

listen_addresses = '*'
port = {{ postgresql_port }}
max_connections = {{ postgresql_max_connections }}
{% if postgresql_version|float >= 9.3 %}
unix_socket_directories = '/var/run/postgresql'
{% else %}
unix_socket_directory = '/var/run/postgresql'
{% endif %}
ssl = {% if postgresql_ssl_enabled %}true{% else %}false{% endif %}


# RESOURCE USAGE (except WAL)

{% if not is_pg_standby|default(false) %}
shared_buffers = {{ postgresql_shared_buffers }}
work_mem = {{ postgresql_work_mem }}
max_stack_depth = {{ postgresql_max_stack_depth }}
{% endif %}
vacuum_cost_delay = 20ms


# WRITE AHEAD LOG

{% if hot_standby_server|default(None) %}
archive_mode = on
archive_command = 'rsync -a %p postgres@{{ hot_standby_server }}:{{ archive_dir }}/%f'   # archive directory lives on first standby machine specified in the inventory file
archive_timeout = 60
{% endif %}

wal_level = hot_standby
max_wal_senders = 3
checkpoint_segments = 16
checkpoint_warning = 120s


# REPLICATION

hot_standby = on    # ignored on masters


# QUERY TUNING

{% if not is_pg_standby|default(false) %}
effective_cache_size = {{ postgresql_effective_cache_size }}
{% endif %}


# ERROR REPORTING AND LOGGING

log_destination = 'csvlog'
logging_collector = on
log_directory = 'pg_log'
log_filename = 'postgresql-%a.log'
log_truncate_on_rotation = on
log_rotation_age = 1d
log_rotation_size = 0

client_min_messages = notice
log_min_messages = warning
log_min_error_statement = error
log_min_duration_statement = 300

log_checkpoints = on
log_connections = on
log_disconnections = on
log_line_prefix = '%t '
log_lock_waits = on
log_temp_files = 0


# RUNTIME STATISTICS

track_functions = all

{% if not is_pg_standby|default(false) and pg_query_stats|default(false) %}
shared_preload_libraries = 'pg_stat_statements'
pg_stat_statements.track = all
pg_stat_statements.max = 10000
track_activity_query_size = 2048
{% endif %}

# AUTOVACUUM PARAMETERS

autovacuum = on


# CLIENT CONNECTION DEFAULTS

datestyle = 'iso, mdy'

lc_messages = 'en_US.UTF-8'
lc_monetary = 'en_US.UTF-8'
lc_numeric = 'en_US.UTF-8'
lc_time = 'en_US.UTF-8'

default_text_search_config = 'pg_catalog.english'
