#!/bin/bash
# keep latest 20 log files 
find {{ postgresql_home }}/pg_log/*.csv -type f -printf '%T@\t%p\n' | sort -t $'\t' -g | head -n -20 | cut -d $'\t' -f 2- | xargs -d '\n' rm

# gzip all files except for the most recent 3
find {{ postgresql_home }}/pg_log/*.csv -type f -printf '%T@\t%p\n' | sort -t $'\t' -g | head -n -3 | cut -d $'\t' -f 2- | xargs -d '\n' gzip
