---

- name: Update the apt cache
  when: shared_drive_enabled|bool
  apt:
    update_cache: yes
    cache_valid_time: 7200

- name: Install NFS client package
  become: yes
  when: shared_drive_enabled|bool
  apt:
    name:
      - nfs-common
  tags:
    - nfs

- name: Create shared mount dir
  become: yes
  when: shared_drive_enabled|bool
  file:
    path: "{{ shared_mount_dir }}"
    owner: "{{ shared_dir_user }}"
    group: "{{ shared_dir_group }}"
    mode: 0775
    state: directory
  run_once: yes
  tags:
    - nfs

- name: Mount directory in /etc/fstab
  become: yes
  when: shared_drive_enabled|bool
  mount:
    name: "{{ shared_mount_dir }}"
    src: "{{ shared_mount_address }}"
    opts: "{{ shared_mount_opts|default(omit) }}"
    fstype: "{{ shared_mount_fstype|default('nfs') }}"
    state: mounted
  tags:
    - nfs
