# {{ ansible_managed }}

[backup]
db1-path={{ postgresql_home }}
{% if hot_standby_server|default(False) or hot_standby_master|default(False) %}
db2-host={{ hot_standby_master|default(hot_standby_server) }}
db2-path={{ postgresql_home }}
{% endif %}

{% if postgres_s3|default(false) %}
[backups3]
db1-path={{ postgresql_home }}
{% if hot_standby_server|default(False) or hot_standby_master|default(False) %}
db2-host={{ hot_standby_master|default(hot_standby_server) }}
db2-path={{ postgresql_home }}
{% endif %}
repo-path=/pgbackrest
repo-type=s3
repo-s3-bucket=dimagi-{{ deploy_env }}-postgres-backups
repo-s3-endpoint=s3.amazonaws.com
repo-s3-key={{ localsettings.AMAZON_S3_ACCESS_KEY }}
repo-s3-key-secret={{ localsettings.AMAZON_S3_SECRET_KEY }}
repo-s3-region={{ aws_region }}
{% endif %}

[global]
{% if hot_standby_server|default(False) %}
backup-standby=y
backup-host={{ hot_standby_server }}
backup-user=postgres
{% endif %}
repo-path={{ postgresql_backup_dir }}
retention-diff={{ postgresql_backup_days|default(3) }}
retention-full={{ postgresql_backup_weeks|default(4) }}
start-fast=y
stop-auto=y
compress-level=9
