[backup]
db1-host={{ hot_standby_master|default(hot_standby_server|default('localhost')) }}
db1-path={{ postgresql_home }}
db2-path={{ postgresql_home }}

[global]
repo-path={{ postgresql_backup_dir }}
retention-full=1
start-fast=y
stop-auto=y
