[pgwarehouse0]
10.203.40.118 hostname=pgwarehouse0 ufw_private_interface=ens5 ansible_python_interpreter=/usr/bin/python3 datavol_device=/dev/nvme1n1 datavol_device1=/dev/nvme1n1 is_datavol_ebsnvme=yes swap_size=8G

[localhost]
10.203.20.205 hostname=localhost swap_size=8G ufw_private_interface=ens160

[proxy:children]

[webworkers:children]

[couchdb2_proxy:children]

[couchdb2:children]

[postgresql:children]
pgwarehouse0

[zookeeper:children]

[kafka:children]

[kafka:vars]

[pg_backup:children]

[celery:children]

[pillowtop:children]

[formplayer:children]

[redis:children]

[elasticsearch:children]

[elasticsearch:vars]

[shared_dir_host:children]

[pg_standby:children]
# empty

[control:children]

[django_manage:children]
