- name: Find NodeSource apt source files
  ansible.builtin.find:
    paths: /etc/apt/sources.list.d
    patterns:
      - "deb_nodesource_com_node_*.list"
      - "nodesource*.list"
    file_type: file
  register: nodesource_lists
  become: yes

- name: Remove NodeSource apt source files
  ansible.builtin.file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ nodesource_lists.files }}"
  loop_control:
    label: "{{ item.path }}"
  become: yes

- name: Run NodeSource install script
  ansible.builtin.shell: |
    curl -fsSL https://deb.nodesource.com/setup_24.x | bash -

- name: Install nodejs packages
  apt: name="nodejs" state=present
  become: yes

- name: Set NPM registry
  command: 'npm config set registry http://registry.npmjs.org/'
  become: yes

- name: Install npm items
  npm: name="{{ item.name }}" version="{{ item.version }}" state=present global=yes
  become: yes
  with_items:
    - {name: 'n', version: '10.2.0'}
    - {name: 'less', version: '4.4.2'}
    - {name: 'yarn', version: '1.22.4'}
    - {name: 'bower', version: '1.8.14'}
    - {name: 'uglify-js', version: '3.19.3'}
    - {name: 'sass', version: '1.94.0'}
  tags:
    - npm

- name: Update Node
  command: 'n 24.11'
  become: yes
  tags:
    - npm

- name: Install correct npm version
  npm: name="{{ item.name }}" version="{{ item.version }}" state=present global=yes
  become: yes
  with_items:
    - {name: 'npm', version: '11.6.*'}
  tags:
    - npm
