- name: Add nodejs apt key
  apt_key:
    url: https://deb.nodesource.com/gpgkey/nodesource.gpg.key
  become: yes

- name: Add nodejs repo
  apt_repository:
    repo: 'deb http://deb.nodesource.com/node_24.x {{ ansible_distribution_release }} main'
    state: present
  become: yes

- name: Install nodejs packages
  apt: name="nodejs" state=present
  become: yes

- name: Set NPM registry
  command: 'npm config set registry http://registry.npmjs.org/'
  become: yes

- name: Install npm items
  npm: name="{{ item.name }}" version="{{ item.version }}" state=present global=yes
  become: yes
  with_items:
    - {name: 'n', version: '10.2.0'}
    - {name: 'less', version: '4.4.2'}
    - {name: 'yarn', version: '1.22.4'}
    - {name: 'bower', version: '1.8.14'}
    - {name: 'uglify-js', version: '3.19.3'}
    - {name: 'sass', version: '1.94.0'}
  tags:
    - npm

- name: Update Node
  command: 'n 24.11'
  become: yes
  tags:
    - npm

- name: Install correct npm version
  npm: name="{{ item.name }}" version="{{ item.version }}" state=present global=yes
  become: yes
  with_items:
    - {name: 'npm', version: '11.6.*'}
  tags:
    - npm
