postgresql_version: '9.4'
postgresql_port: 5432
postgresql_ssl_enabled: False
postgresql_dir_original_path: /var/lib/postgresql
postgresql_dir_path: "{{ encrypted_root }}/postgresql"
postgresql_backup_dir: "{{ encrypted_root }}/backups/postgresql"
postgresql_home: "{{ postgresql_dir_path }}/{{ postgresql_version }}/main"
postgresql_config_home: "/etc/postgresql/{{ postgresql_version }}/main"
postgresql_pid_file: "{{ postgresql_dir_path }}/{{ postgresql_version }}-main.pid"
pgbouncer_config_home: /etc/pgbouncer
pgbouncer_ini: "{{ pgbouncer_config_home }}/pgbouncer.ini"
pgbouncer_users: "{{ pgbouncer_config_home }}/userlist.txt"
postgres_install_dir: "/usr/lib/postgresql/{{ postgresql_version }}"
archive_dir: "{{ postgresql_dir_path }}/wal_archive"

postgresql_max_connections: 20
postgresql_work_mem: '1MB'
postgresql_shared_buffers: '1024MB'
postgresql_max_stack_depth: '2MB'
postgresql_effective_cache_size: '128MB'
pgbouncer_max_connections: 100
pgbouncer_default_pool: 15
pgbouncer_reserve_pool: 4
pgbouncer_pool_timeout: 2
pgbouncer_pool_mode: session
