/commcare-cloud-bootstrap/specs
!/commcare-cloud-bootstrap/specs/example_spec.yml
.generated.yml
!tests/postgresql_config/*/.generated.yml
*.swp
/config
.vagrant/
DimagiKeyStore
.idea/
.DS_Store
ansible/*.retry
*.pyc
*.egg-info
