/commcare-cloud-bootstrap/specs
!/commcare-cloud-bootstrap/specs/example*.yml
.generated.yml
.generated-terraform
!tests/postgresql_config/*/.generated.yml
tests/migration_config/plans/new_node/migration_build_env1_plan/
tests/file_migration_data/.generated_data
*.swp
/config
.vagrant/
DimagiKeyStore
.idea/
.DS_Store
**/ansible/*.retry
*.pyc
*.egg-info
*.pickle
*~
/build
/dist
couchdb@*_files
**/fab/config.py
