---
language: python
python: "2.7"

env:
  global:
    - ANSIBLE_ROLES_PATH="~/.ansible/roles"
    - TRAVIS_TEST=1
  matrix:
    - TEST=main
    - TEST=prove-deploy

matrix:
  fast_finish: true

before_install:
  # The next line exits out of the prove-deploy test if the last commit that was merged in doesn't contain [pv-test]
  - if [[ $TEST = 'prove-deploy' ]] && git log --pretty=format:'%s %b' -n1 HEAD^2 | grep -iv '\[pv-deploy\]'; then exit 0; fi
  # Make sure everything's up to date.
  - sudo apt-get clean
  - sudo apt-get update -qq

install:
  - "source control/init.sh"
  # Note: the installs must be done in the following order, otherwise the installation of commcare-cloud
  # tries to install from the commcare-cloud-bootstrap.egg_info directory
  - "pip install -e .[test]"
  - mkdir ~/.aws
  - touch ~/.aws/config
  - touch ~/.aws/credentials
  - touch ~/.ssh/commcarehq_testing.pem
  - echo $VAULT_PASSWORD | ansible-vault --vault-password-file=/bin/cat decrypt .travis/secrets/.aws/config --output=~/.aws/config
  - echo $VAULT_PASSWORD | ansible-vault --vault-password-file=/bin/cat decrypt .travis/secrets/.aws/credentials --output=~/.aws/credentials
  - echo $VAULT_PASSWORD | ansible-vault --vault-password-file=/bin/cat decrypt .travis/secrets/.ssh/commcarehq_testing.pem --output=~/.ssh/commcarehq_testing.pem
  - "if [[ $TEST = 'prove-deploy' ]]; then pip install -e commcare-cloud-bootstrap; fi"

script:
  - ".travis/tests.sh"

after_script:
  - "if [[ $TEST = 'prove-deploy' ]]; then commcare-cloud-bootstrap terminate hq-${TRAVIS_COMMIT}; fi"
