---
language: python
python:
  - "2.7"
  - "3.6"
os: linux
dist: trusty

env:
  global:
    - ANSIBLE_ROLES_PATH="~/.ansible/roles"
    - TRAVIS_TEST=1
  matrix:
    - TEST=main

matrix:
  fast_finish: true

before_install:
  # Make sure everything's up to date.
  - sudo apt-get clean
  - sudo apt-get update -qq

install:
  - "source control/init.sh"
  # Note: the installs must be done in the following order, otherwise the installation of commcare-cloud
  # tries to install from the commcare-cloud-bootstrap.egg_info directory
  - "pip install -e .[test]"

script:
  - ".travis/tests.sh"
