---
language: python
python: "2.7"

env:
  global:
    - ANSIBLE_ROLES_PATH="~/.ansible/roles"
    - TRAVIS_TEST=1
  matrix:
    - TEST=main
    - TEST=prove-deploy

matrix:
  fast_finish: true
  allow_failures:
    - env: TEST=prove-deploy

before_install:
  - openssl aes-256-cbc -K $encrypted_ab59a62b4b29_key -iv $encrypted_ab59a62b4b29_iv -in .travis/secrets.tar.enc -out .travis/secrets.tar -d
  - tar xvf .travis/secrets.tar
  - mkdir -p ~/.aws ~/.ssh
  - mv .travis/secrets/config ~/.aws
  - mv .travis/secrets/credentials ~/.aws
  - mv .travis/secrets/commcarehq_testing.pem ~/.ssh
  # Make sure everything's up to date.
  - sudo apt-get update -qq

install:
  - "source control/init.sh"
  - "if [[ $TEST = 'prove-deploy' ]]; then pip install -e commcare-cloud-bootstrap; fi"
  - pip install -r test_requirements.txt

script:
  - ".travis/tests.sh"

after_script:
  - "if [[ $TEST = 'prove-deploy' ]]; then commcare-cloud-bootstrap terminate hq-${TRAVIS_COMMIT}; fi"
