---
language: python
python: "2.7"

before_install:
  # Make sure everything's up to date.
  - sudo apt-get update -qq

install:
  - pip install -r ansible/requirements.txt

script:
  - ".travis/tests.sh"
