---
language: python
python: "2.7"

env:
  global:
    - ANSIBLE_ROLES_PATH="~/.ansible/roles"
    - TRAVIS_TEST=1
  matrix:
    - TEST=main
    - TEST=prove-deploy

matrix:
  fast_finish: true
  allow_failures:
    - env: TEST=prove-deploy

before_install:
  # The next line exits out of the prove-deploy test if the last commit that was merged in doesn't contain [pv-test]
  - if [[ $TEST = 'prove-deploy' ]] && git log --pretty=format:'%s %b' -n1 HEAD^2 | grep -iv '\[pv-deploy\]'; then exit 0; fi
  - openssl aes-256-cbc -K $encrypted_022d69413c1b_key -iv $encrypted_022d69413c1b_iv -in .travis/secrets.tar.enc -out .travis/secrets.tar -d
  - tar xvf .travis/secrets.tar
  - mkdir -p ~/.aws ~/.ssh
  - mv .travis/secrets/config ~/.aws
  - mv .travis/secrets/credentials ~/.aws
  - mv .travis/secrets/commcarehq_testing.pem ~/.ssh
  # Make sure everything's up to date.
  - sudo apt-get clean
  - sudo apt-get update -qq

install:
  - "source control/init.sh"
  # Note: the installs must be done in the following order, otherwise the installation of commcare-cloud
  # tries to install from the commcare-cloud-bootstrap.egg_info directory
  - "pip install -e .[test]"
  - "if [[ $TEST = 'prove-deploy' ]]; then pip install -e commcare-cloud-bootstrap; fi"

script:
  - ".travis/tests.sh"
  - "git diff"
  - "./tests/test_autogen_docs.sh"

after_script:
  - "if [[ $TEST = 'prove-deploy' ]]; then commcare-cloud-bootstrap terminate hq-${TRAVIS_COMMIT}; fi"
