#
# This file configures the New Relic Python Agent.
#
# http://newrelic.com/docs/python/python-agent-configuration

[newrelic]
license_key = {{ NEW_RELIC_KEY }}
app_name = CommCare HQ
monitor_mode = true
log_level = info
high_security = false
transaction_tracer.enabled = false
error_collector.enabled = false
browser_monitoring.auto_instrument = true
slow_sql.enabled = false
thread_profiler.enabled = false
cross_application_tracer.enabled = false
xray_session.enabled = false
datastore_tracer.instance_reporting.enabled = false
transaction_events.enabled = false

[newrelic:production]
app_name = [production] CommCare HQ (Django)
monitor_mode = true
log_file = {{ log_home }}/newrelic-python-agent.log
