{% macro render_messages(messages, color) -%}
    {% for msg in messages %}
    <p style="color:{{ color }}">{{ msg }}</p>
    {% endfor %}
    {% if messages %}
    <br/>
    {% endif %}
{%- endmacro %}
<html>
<head>
  <style>
    .text-label {
      border-radius: 1em;
      padding: 0em .5em;
      font-size: small;
    }
    .diffstat {
      font-size: 12px;
      font-weight: bold;
    }
    .text-diff-added { color: green }
    .text-diff-deleted { color: red }
    ul {
      list-style: none;
      padding-left: 0;
    }
    li { padding: .5em }
    li:nth-of-type(odd) { background-color: #eee }
    ul.expanded-prs > li { border: 1px solid lightgray }
  </style>
</head>
<body>
<h2>Deployed by {{ user }}, cheers!</h2>

{{ render_messages(errors, 'firebrick') }}
{{ render_messages(warnings, 'coral') }}

{% if new_version_details %}
<h4>New version details:</h4>
<table width="600" border="0" cellspacing="0" cellpadding="0">
<tbody>
{% for key, value in new_version_details.items() %}
  <tr>
    <td>{{ key }}</td>
    <td>{{ value }}</td>
  </tr>
{% endfor %}
</tbody>
</table>
{% endif %}

{% if pr_infos %}
  <h3>Deployed PRs:</h3>
  <ul>
    {% for pr in pr_infos %}
      <li>
        <a href="{{ pr.url }}">#{{ pr.number }}</a>
        &nbsp; <strong>{{ pr.title }}</strong> &nbsp;
        <em style="font-size: small">opened by</em> @{{ pr.opened_by }}
        <span class="diffstat">
          <span class="text-diff-added">+{{ pr.additions }}</span>
          <span class="text-diff-deleted">−{{ pr.deletions }}</span>
        </span>
        {% for label in pr.labels %}
          <span class="text-label" style="background-color:#{{ label.color }}">
            {{ label.name }}
          </span>
        {% endfor %}
      </li>
    {% endfor %}
  </ul>

  {% for label, prs in prs_by_label.items() %}
  {% if label in LABELS_TO_EXPAND %}
    <h3>{{ label }}</h3>
    <ul class="expanded-prs">
      {% for pr in prs %}
        <li>
          <h4>
            <a href="{{ pr.url }}">
              #{{ pr.number }} <strong>{{ pr.title }}</strong>
            </a>
          </h4>
          {{ pr.body }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endfor %}
{% endif %}

{% if compare_url %}
<br/>
<p>Here's the complete diff on github: <a href="{{ compare_url }}">{{ compare_url }}</a></p>
{% endif %}
</body>
</html>
