# CouchDB
- name: Install prequisites
  apt: name={{ item }} state=present
  with_items:
    - build-essential
    - g++
    - erlang-base
    - erlang-dev
    - erlang-eunit
    - erlang-nox
    - libmozjs185-dev
    - libicu-dev
    - libcurl4-gnutls-dev
    - libtool

- name: Check CouchDB existence
  stat: path={{ couchdb_install_path }}
  register: couchdb_path

- name: Download CouchDB source
  sudo: no
  get_url:
    url: "{{ couchdb_source_mirror }}/{{ couchdb_version }}/{{ couchdb_distro_filename }}"
    dest: ~/{{ couchdb_distro_filename }}
  when: not couchdb_path.stat.exists

# Note 'chdir: ~/' evaluates to /home/<ansible_user> or to /root/ depending on whether `sudo` is set to 'no' or 'yes'
- name: Compile CouchDB
  shell: "{{ item }}"
  args:
    chdir: ~/
  sudo: no
  with_items:
    - tar xvf ~/{{ couchdb_distro_filename }}
    - cd apache-couchdb-{{ couchdb_version }} && ./configure
    - make -C ~/apache-couchdb-{{ couchdb_version }}
  when: not couchdb_path.stat.exists
  register: couchdb_compile

- stat: path=~/
  sudo: no
  register: ansible_home_path

- name: Install CouchDB
  shell: "{{ item }}"
  args:
    chdir: "{{ ansible_home_path.stat.path }}"
  sudo: yes
  with_items:
    - make install -C ./apache-couchdb-{{ couchdb_version }}
    - rm -rf ./apache-couchdb-{{ couchdb_version }}*
  when: not couchdb_path.stat.exists and couchdb_compile|success

- name: Add CouchDB user
  user: name=couchdb createhome=no password=no state=present

- name: Apply CouchDB config
  template: src=local.ini.j2 dest=/usr/local/etc/couchdb/local.ini

- name: CouchDB ownership permissions
  file: path={{ item }} owner=couchdb group=couchdb recurse=yes state=directory
  with_items:
    - /usr/local/var/log/couchdb
    - /usr/local/var/lib/couchdb
    - /usr/local/var/run/couchdb
    - /usr/local/etc/couchdb/

- name: Configure CouchDB as service
  file: src=/usr/local/etc/init.d/couchdb dest=/etc/init.d/couchdb state=link

- name: Update rc.d
  shell: update-rc.d couchdb defaults

- name: Start CouchDB service
  service: name=couchdb state=started

- name: Add CouchDB databases
  shell: "{{ item }}"
  with_items:
    - curl -X PUT "http://{{ localsettings.COUCH_SERVER_ROOT }}/{{ localsettings.COUCH_DATABASE_NAME }}"
    - curl -X PUT "http://{{ localsettings.COUCH_SERVER_ROOT }}/_config/admins/{{ localsettings.COUCH_USERNAME }}" -d '"{{ localsettings.COUCH_PASSWORD }}"'
