[couch_httpd_auth]
auth_cache_size = {{ couchdb_auth_cache_size }}

[query_server_config]
os_process_limit = {{ couchdb_os_process_limit }}

[rexi]
server_per_node = true
; set this to true if all nodes are on 3.1.1
; to save some intra-cluster network bandwidth
use_kill_all = {{ couchdb_rexi_use_kill_all }}

[couchdb]
os_process_timeout = 20000
; set limit to previous default of 4GB on 2.3.1
max_document_size = 4000000000

; compaction settings
[smoosh.ratio_dbs]
min_priority = 1.3

[smoosh.ratio_views]
min_priority = 1.3

[log]
writer = file
file = {{ couchdb_dir }}/var/log/couchdb.log
level = info
