 check process couchdb2 matching "beam.smp"
   group database
   group couchdb2
   restart program = "/bin/systemctl restart {{ couchdb_service_name }}"
   if failed host {{ inventory_hostname }} port {{ couchdb2_port }} then restart
