{% macro render_pr(info) -%}
    - {{ info.title|code }}: {{ info.url|highlight }} ({{ info.labels|selectattr("name")|join(", ") }})
{%- endmacro %}

{%- if new_version_details -%}
New version details:
{%- for key, val in new_version_details.items() %}
    {{ "%-20s"|format(key) }}: {{ val }}
{%- endfor %}
{% endif %}

{%- if error -%}
{{ error|error }}
{% endif %}
{% if message -%}
{{ message|warning }}
{% endif %}

{%- if pr_infos -%}
List of PRs since last deploy:
{% for info in pr_infos -%}
{{ render_pr(info) }}
{% endfor %}
{%- endif %}

{%- if prs_by_label and prs_by_label.get("reindex/migration") -%}
You are about to deploy the following PR(s), which will trigger a reindex or migration.
Click the URL for additional context.
{% for info in prs_by_label.get("reindex/migration") -%}
{{ render_pr(info) }}
{% endfor %}
{%- endif %}

Here's the complete diff on github: {{ compare_url|highlight }}
