[{{server_inventory_name}}]
{{hostvars[inventory_hostname]['ansible_%s' | format(result_external_interface.user_input)]['ipv4']['address'] }}

[{{server_inventory_name}}:vars]
elasticsearch_node_name=es0
kafka_broker_id=0
hostname='{{server_inventory_name}}'
ufw_private_interface={{result_internal_interface.user_input}}

[control:children]
{{server_inventory_name}}

[proxy:children]
{{server_inventory_name}}

[webworkers:children]
{{server_inventory_name}}

[celery:children]
{{server_inventory_name}}

[pillowtop:children]
{{server_inventory_name}}

[formplayer:children]
{{server_inventory_name}}

[django_manage:children]
{{server_inventory_name}}

[postgresql:children]
{{server_inventory_name}}

[pg_backup:children]
{{server_inventory_name}}

[pg_standby]

[couchdb2:children]
{{server_inventory_name}}

[couchdb2_proxy:children]
{{server_inventory_name}}

[redis:children]
{{server_inventory_name}}

[zookeeper:children]
{{server_inventory_name}}

[kafka:children]
{{server_inventory_name}}

[elasticsearch:children]
{{server_inventory_name}}

[rabbitmq:children]

[shared_dir_host:children]
{{server_inventory_name}}

[riakcs]
