SITE_HOST: '{{ site_host }}'

special_sites: []
fake_ssl_cert: True
# when fake_ssl_cert is False, this parameter set soft links to the Letsencyrpt generated certificates
# and updates the nginx configuration.
letsencrypt_cchq_ssl: True 
