secrets:
  ECRYPTFS_PASSWORD: '{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}'
  KSPLICE_ACTIVATION_KEY:
  DATADOG_API_KEY: null
  DATADOG_APP_KEY: null
  AMQP_USER: "{{ env_name }}_worker"
  AMQP_PASSWORD: '{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}'
  HAPROXY_STATS_PASSWORD: '{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}'
  SUPERVISOR_HTTP_USERNAME: 'supervisor_http'
  SUPERVISOR_HTTP_PASSWORD: '{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}'
  POSTGRES_USERS:
    commcare:
      username: 'commcarehq'
      password: '{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}'
    devreadonly:
      username: 'devreadonly'
      password: '{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}'
      role_attr_flags: 'NOSUPERUSER,NOCREATEROLE,NOCREATEDB'
      privs:
        -
          privs: SELECT
          objs: ALL_IN_SCHEMA
    replication:
        username: 'hqrepl'
        password: '{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}'
        role_attr_flags: 'LOGIN,REPLICATION'

localsettings_private:
  BANK_ACCOUNT_NUMBER:
  BANK_ROUTING_NUMBER_ACH: ''
  BANK_ROUTING_NUMBER_WIRE: ''
  BOOKKEEPER_CONTACT_EMAILS: []
  BITLY_APIKEY: ''
  BITLY_LOGIN: ''
  COUCH_USERNAME: 'commcarehq'
  COUCH_PASSWORD: '{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}'
  BITLY_OAUTH_TOKEN: ''
  DROPBOX_KEY: ''
  DROPBOX_SECRET: ''
  EMAIL_LOGIN: ''
  EMAIL_PASSWORD: ''
  FORMPLAYER_INTERNAL_AUTH_KEY: '{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}'
  GMAPS_API_KEY: ''
  GOOGLE_ANALYTICS_API_ID: ''
  GOOGLE_OAUTH_CLIENT_ID: ''
  GOOGLE_OAUTH_PROJECT_ID: ''
  GOOGLE_OAUTH_CLIENT_SECRET: ''
  HUBSPOT_API_ID: ''
  HUBSPOT_API_KEY: ''
  JAR_KEY_PASS: ''
  JAR_STORE_PASS: ''
  SECRET_KEY: '{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}'

ansible_sudo_pass: '{{ lookup('password', '/dev/null length=32 chars=ascii_letters,digits') }}'
