- name: Setup Barman Config
  template:
    src: barman.conf.j2
    dest: "{{barman_configuration_file}}"
    mode: 0644

- name: Setup Barman Server Config
  template:
    src: streaming-pg.conf.j2
    dest: "{{ barman_configuration_files_directory }}/{{ item }}.conf"
    mode: 0644
  with_items: "{{ groups['pg_barman_source'] }}"
