- name: Make sure the CA certificates are available
  apt:
    pkg: ca-certificates
    state: present

- name: Add PostreSQL apt repository
  apt_repository: repo='deb http://apt.postgresql.org/pub/repos/apt/ {{ ansible_lsb.codename }}-pgdg main' state=present
  register: add_postgres_repo

- name: Add PosgreSQL apt key
  apt_key: url=https://www.postgresql.org/media/keys/ACCC4CF8.asc state=present

- name: Update package list
  apt: update_cache=yes
  when: add_postgres_repo

- name: Install Barman
  apt:
    name: "{{item}}"
    state: latest
    update_cache: yes
    cache_valid_time: "{{ apt_cache_valid_time | default (3600) }}"
  with_items:
    - barman
    - "postgresql-client-{{ postgresql_version }}"

- name: Create Barman home directory
  file:
    path: '{{ barman_home }}'
    owner: "{{ barman_user }}"
    group: "{{ barman_user }}"
    mode: 0750
    state: directory

- name: Create Barman log directory
  file:
    path: '{{ barman_log_directory }}'
    owner: "{{ barman_user }}"
    group: "{{ barman_user }}"
    mode: 0750
    state: directory
