[Unit]
Description=CouchDB Server
After=network.service
Requires=network.service

[Service]
User={{couchdb_user}}
WorkingDirectory={{couchdb_dir}}
ExecStart={{couchdb_dir}}/bin/couchdb

[Install]
WantedBy=multi-user.target