code_releases: "{{ www_home }}/releases"
code_source: "{{ code_releases }}/{{ ansible_date_time.date }}_{{ ansible_date_time.hour }}.{{ ansible_date_time.minute }}"
py3_virtualenv_source: "{{ code_source }}/python_env-3.6"
py3_virtualenv_home: "{{ code_home }}/python_env-3.6"
BROKER_URL: 'amqp://{{ AMQP_USER }}:{{ AMQP_PASSWORD }}@{{ AMQP_HOST }}:5672/{{ AMQP_NAME }}'

django_bash_runner_path: "{{ service_home }}/{{ deploy_env }}_django_bash_runner.sh"
django_bash_runner: "/bin/bash {{ django_bash_runner_path }}"
django_manage: "{{ py3_virtualenv_home }}/bin/python manage.py {{ command_name }}"
