formplayer_build_dir: "{{ www_home }}/formplayer_build"
formplayer_logging_dir: "{{ encrypted_root }}/formplayer/log"
# formplayer_sentry_dsn: ..defined in secret file
# formplayer_db_name: ..defined in secret file
formplayer_build_url: "{{
  'https://s3.amazonaws.com/dimagi-formplayer-jars/staging/latest-successful/formplayer.jar'
  if deploy_env == 'staging'
  else 'https://s3.amazonaws.com/dimagi-formplayer-jars/latest-successful/formplayer.jar'
}}"
formplayer_current_dir: "{{ formplayer_build_dir }}/current"
formplayer_release_dir: '{{ formplayer_build_dir }}/releases/{{ new_release_name }}'
_formplayer_target_dir: "{{
  formplayer_current_dir
  if _should_update_formplayer_in_place
  else formplayer_release_dir
}}"
formplayer_sensitive_data_logging: false

# Instructs Spring Boot to process X-FORWARDED-FOR headers. Should be set if behind a 
# trusted load balancer which forwards the original IP in headers.
formplayer_forward_ip_proxy: false
