---

- name: create kafka group
  group: name="{{ kafka_group }}" system=yes state=present

- name: add user "kafka"
  user: name="{{ kafka_group }}" group="{{ kafka_group }}" shell=/sbin/nologin system=yes state=present

- name: Set JMX_PORT in /etc/environment
  lineinfile:
    dest: /etc/environment
    line: 'JMX_PORT=9999'
    state: present

- name: Download Kafka
  get_url: url="http://{{ apache_mirror }}/kafka/{{ kafka_version }}/kafka_2.10-{{ kafka_version }}.tgz" dest="/opt/kafka_2.10-{{ kafka_version }}.tgz"

- name: Extract Kafka
  unarchive: src="/opt/kafka_2.10-{{ kafka_version }}.tgz" dest=/opt/ copy=no creates="/opt/kafka_2.10-{{ kafka_version }}"

- name: Symlink install directory
  file: src="/opt/kafka_2.10-{{ kafka_version }}" path=/opt/kafka state=link

- name: Set permissions to Kafka folder
  file: path=/opt/kafka/ owner=root group=root recurse=yes follow=no

- name: Create Kafka data directories
  become: yes
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ kafka_user }}"
    group: "{{ kafka_group }}"
    mode: 0755
  with_items:
    - "{{ kafka_data_dir }}"

- name: Create Kafka log directory
  file: path="{{ kafka_log_dir }}" state=directory owner="{{ kafka_user }}" group="{{ kafka_group }}" recurse=yes

- name: Link the log directory
  file: src="{{ kafka_log_dir }}" path=/opt/kafka/logs state=link

- name: Create Kafka conf directory
  file: path="{{ kafka_conf_dir }}" state=directory owner=root group=root mode=755

- name: Configure Kafka server
  template: src=server.properties.j2 dest="{{kafka_conf_dir}}/server.properties"

- name: Copies kafka log4j.properties
  copy: src=log4j.properties dest=/opt/kafka/config owner=root group=root mode=644
  tags: log4j

- name: Install Kafka init script
  template: src=kafka-server.j2 dest=/etc/init.d/kafka-server mode=0755
  when: ansible_distribution_version == '14.04'

- name: Install Kafka systemd script
  template: src=kafka.server.j2 dest=/etc/systemd/system/kafka.service mode=0755
  when: ansible_distribution_version == '18.04'

- name: Enable and start Kafka service
  service: name=kafka-server enabled=yes state=restarted
  tags: after-reboot

- name: Add Kafka binaries to PATH
  copy: src=kafka.sh dest=/etc/profile.d/ owner=root group=root mode=644

- name: Install kafkat
  command: 'gem install kafkat'
  become: yes
  tags:
    - kafkat

- name: Create kafkat config file
  template: src=kafkatcfg.j2 dest="/etc/kafkatcfg"
  become: yes
  tags:
    - kafkat
