#!/usr/bin/python
import sys
import boto3

if len(sys.argv) == 2:
    filename = sys.argv[1]
    bucket = 'dimagi-{{ deploy_env }}-postgres-backups'
elif len(sys.argv) == 3:
    filename = sys.argv[1]
    bucket = sys.argv[2]
elif len(sys.argv) == 4:
    filename = sys.argv[1]
    bucket = sys.argv[2]
    endpoint = sys.argv[3]
else:
    raise Exception('Usage is backup_snapshots.py filename <s3_bucket>')


session = boto3.session.Session()
{% if aws_region is defined %}
s3 = session.client(service_name='s3',endpoint_url=endpoint,region_name='{{ aws_region }}')
{% else %}
s3 = session.client(service_name='s3',endpoint_url=endpoint)

{% endif %}
s3.download_file(bucket,
                 filename, filename)
