#!/bin/bash
{%- for config, file_list_filename in rsync_file_list %}
rsync -e 'ssh -oStrictHostKeyChecking=no' --append-verify -aH --info=progress2 \
    {% for arg in config.rsync_args %}{{ arg }} {% endfor %}\
    {{ config.source_user }}@{{ config.source_host }}:{{ config.source_dir }} {{ config.target_dir }} \
    {% for exclude in config.exclude -%}--exclude {{ exclude }} {% endfor %} \
    {% if file_list_filename %}--files-from {{ rsync_file_root }}/{{ file_list_filename }}{% endif %} \
    -r $@ &

    pids[{{ loop.index0 }}]=$!
{% endfor %}

# wait for all pids
for pid in ${pids[*]}; do
    wait $pid
done
