{
  "couch": {{groups['us-postgresql-staging']}},
  "pg": [],
  "rabbitmq": [],
  "django_celery": [],
  "sms_queue": [],
  "pillow_retry_queue": [],
  "django_app": [],
  "django_pillowtop": [],
  "formsplayer": [],
  "lb": [],
  "staticfiles": [],
  "deploy": [],
  "django_monolith": []
}
