;
; {{ ansible_managed }}
;

[program:{{ item.name }}]
command={{ item.command }}
directory={{ item.directory }}
redirect_stderr={{ item.redirect_stderr|default(true) }}
autostart={{item.autostart|default(true)}}
autorestart={{item.autorestart|default(true)}}
{% if supervisor_env_vars|length > 0 %}
environment={% for name, value in env_vars.iteritems() %}{{ name }}="{{ value }}"{% if not loop.last %},{% endif %}{% endfor %}
{% endif %}
