cchq_home: "/home/{{ cchq_user }}"
www_dir: "{{ cchq_home }}/www"
www_home: "{{ www_dir }}/{{ deploy_env }}"
code_home: "{{ www_home }}/current"
log_home: "{{ www_home }}/log"
metrics_home: "{{ www_home }}/metrics"
legacy_service_home: "{{ code_home }}/services"
service_home: "{{ www_home }}/services"
py3_virtualenv_home: "{{ code_home }}/python_env-3.6"
nginx_static_home: "{{ code_home }}/staticfiles"
encrypted_root: "/opt/data"
root_encryption_mode: "ecryptfs"
encrypted_tmp: "/opt/tmp"
project: "commcare-hq"

prometheus_monitoring_enabled: False

airflow_home: "{{ cchq_home }}/airflow"
airflow_virtualenv: "{{ airflow_home }}/env"

internal_network_interface: "{{ ansible_default_ipv4.interface }}"
internal_network_interface_fact: "ansible_{{ internal_network_interface }}"
internal_ipv4: "{{ hostvars[inventory_hostname][internal_network_interface_fact].ipv4 }}"

shared_dir_gid: 1500  # This GID cannot already be allocated
shared_dir_name: "shared{{ '_' ~ deploy_env if deploy_env != 'production' else '' }}"
shared_data_dir: "/opt/{{ shared_dir_name }}"
shared_mount_dir: "/mnt/{{ shared_dir_name }}"
is_monolith: '{{ groups["all"]|length == 1 }}'
shared_drive_enabled: '{{ not is_monolith }}'
transfer_payload_dir_name: "transfer_payloads"
restore_payload_dir_name: "restore_payloads"
shared_temp_dir_name: "temp"
public_site_path: /opt/commcare-hq-public/site/output
cchq_user: cchq
cchq_group: cchq
dev_group: dimagidev

etc_hosts_lines: []
etc_hosts_lines_removed: []
ssh_allow_password: False
ssh_allow_password_users: []
django_port: 9010
zookeeper_client_port: 2181
formplayer_port: 8181
couchdb_use_haproxy: False
couchdb2_port: 15984
couchdb2_proxy_port: "{{ 35984 if couchdb_use_haproxy else 25984 }}"
couchdb_admins: "{
  '{{ COUCH_USERNAME }}': '{{ COUCH_PASSWORD }}',
}"
is_redis_cluster: '{{ "redis_cluster_master" in groups and groups["redis_cluster_master"]|length > 1 }}'
redis_bind: 0.0.0.0
run_websockets_wsgi: False

# commcare-hq connects to an S3-compatible service
s3_blob_db_enabled: False
s3_blob_db_url:
s3_blob_db_s3_bucket:
s3_bulk_delete_chunksize: 1000

# For instructions on S3-to-S3 migrations, see docs/howto/migrate-s3-to-s3.md
# or http://dimagi.github.io/commcare-cloud/howto/migrate-s3-to-s3
old_s3_blob_db_url: ~
old_s3_blob_db_s3_bucket: ~
old_s3_bulk_delete_chunksize: ~

# To use these vars without deploying the riak control machine
# add s3_access_key and s3_secret_key to the ansible secret config directory
s3_blob_db_access_key: "{{ s3_access_key|default('') }}"
s3_blob_db_secret_key:  "{{ s3_secret_key|default('') }}"

datadog_integration_airflow: false
datadog_integration_couch: false
datadog_integration_elastic: false
datadog_integration_gunicorn: false
datadog_integration_kafka: false
datadog_integration_kafka_consumer: false
datadog_integration_nginx: false
datadog_integration_pgbouncer: false
datadog_integration_pgbouncer_custom: false
datadog_integration_postgres: false
datadog_integration_postgres_receiver: false
datadog_integration_rabbitmq: false
datadog_integration_redisdb: false
datadog_integration_zk: false
datadog_integration_jmx: false
datadog_integration_vmware: false
datadog_integration_http: false
datadog_integration_haproxy: false
datadog_integration_tcp_check: false
datadog_integration_disk_check: true
datadog_swift_instances: []
datadog_extra_host_checks: []
datadog_patch_modules:
  - requests:true
  - gevent:true
  - psycopg:true
  - redis:true
  - sqlalchemy:true
  - elasticsearch:true

root_email: commcarehq-ops+root@example.com
server_email: commcarehq-noreply@example.com
server_admin_email: commcarehq-ops+admins@example.com
default_from_email: commcarehq-noreply@example.com
support_email: support@example.com
probono_support_email: pro-bono@example.com
accounts_email: accounts@example.com
data_email: datatree@example.com
subscription_change_email: accounts+subchange@example.com
internal_subscription_change_email: accounts+subchange+internal@example.com
billing_email: sales@example.com
invoicing_contact_email: billing-support@example.com
growth_email: growth@example.com
saas_reporting_email: null
master_list_email: master-list@example.com
sales_email: sales@example.com
privacy_email: privacy@dimagi.com
feedback_email: hq-feedback@dimagi.com
eula_change_email: eula-notifications@example.com
contact_email: info@example.com
soft_assert_email: commcarehq-ops+soft_asserts@example.com
daily_deploy_email: null
check_s3_backups_email: null
return_path_email: null
new_domain_email: inquiries@example.com


ALTERNATE_HOSTS: []
AMQP_HOST: "{{ groups.rabbitmq.0 }}"
AMQP_NAME: commcarehq
OLD_AMQP_HOST: null
OLD_AMQP_NAME: commcarehq
DROPBOX_APP_NAME: 'CommCareHQFiles'
ELASTICSEARCH_PORT: 9200
JAR_KEY_ALIAS: javarosakey
TWO_FACTOR_GATEWAY_ENABLED: False
internal_domain_name: null
# To enable Local ES snapshot override with repository location
es_local_repo: false
blobdb_snapshot_bucket: dimagi-{{ deploy_env }}-blobdb-backups
couchdb_snapshot_bucket: dimagi-{{ deploy_env }}-couch-backups
postgres_snapshot_bucket: dimagi-{{ deploy_env }}-postgres-backups
backup_es_s3: False
es_snapshot_bucket: "dimagi-{{ deploy_env }}-es-snapshots"
aws_region: None
# this reads "'s3.{{ aws_region }}.amazonaws.com' if aws_region else None"
aws_endpoint: '{{ aws_region and "s3." + aws_region + ".amazonaws.com" }}'
aws_versioning_enabled: true

nofile_limit: 4096
keepalived_recepient_email: '{{ root_email }}'

# this parameter is to set backups hour frequency, by default it will take backups for every '3' hours 
# if hourly backups are enabled. 
nadir_hour_frequency: 3

# celery variables to soft/hard kill tasks running for long hours.
# To enable cron job to hard/soft kill celery processes set these thresholds. Use null/~ to disable cron job.
celery_hours_before_hard_kill: ~
celery_hours_before_soft_kill: ~
