- name: Install cloudant check
  get_url:
    url: "https://raw.githubusercontent.com/dimagi/datadog-checks/{{ datadog_cloudant_version }}/cloudant/cloudant.py"
    dest: /etc/dd-agent/checks.d/cloudant.py
    sha256sum: "{{ datadog_cloudant_sha256sum }}"
    force: yes
  notify: restart datadog
  when: "'cloudant' in datadog_integrations"

- name: Install celery check
  get_url:
    url: "https://raw.githubusercontent.com/dimagi/datadog-checks/{{ datadog_celery_version }}/celery/celery.py"
    dest: /etc/dd-agent/checks.d/celery.py
    sha256sum: "{{ datadog_celery_sha256sum }}"
    force: yes
  notify: restart datadog
  run_once: true
  when: inventory_hostname == groups.celery[0]

- name: add datadog integration configs
  template: src={{ item }}.yaml.j2 dest=/etc/dd-agent/conf.d/{{ item }}.yaml
  notify: restart datadog
  tags:
    - datadog_integrations
  with_items: "{{ datadog_integrations|default([]) }}"

