check file elasticsearch with path {{ elasticsearch_data_dir }}/logs/{{ elasticsearch_cluster_name }}.log
   group database
   group elasticsearch
   start program = "/bin/systemctl start {{ elasticsearch_service_name }}"
   stop program = "/usr/bin/pkill -f {{ elasticsearch_service_name }};/bin/sleep 5;/bin/systemctl stop {{ elasticsearch_service_name }}"
   if content = "java.lang.OutOfMemoryError" then restart
