[barman]
barman_user = "{{barman_user}}"
configuration_files_directory = "{{barman_configuration_files_directory}}"
barman_home = "{{barman_home}}"
log_file = "{{barman_log_file}}"
log_level = "{{barman_log_level}}"
compression = gzip
