[{{ item }}]
description =  "{{ item }} (Streaming-Only)"
conninfo = "host={{ groups[item].0 }} user={{ barman_users.username }} dbname=postgres password={{ barman_users.password }}"
streaming_conninfo = "host={{ groups[item].0 }} user={{ postgres_users.replication.username }} password={{ postgres_users.replication.password }}"
backup_method = postgres
streaming_archiver = on
slot_name = barman
