{% if 'hostname' in hostvars[item] %}
[{{ hostvars[item]['hostname'] }}]
description =  "{{ hostvars[item]['hostname'] }} (Streaming-Only)"
{% else %}
[{{ hostvars[item]['inventory_hostname_short'] }}]
description =  "{{ hostvars[item]['inventory_hostname_short'] }} (Streaming-Only)"
{% endif %}
conninfo = "host={{ item }} user={{ postgres_users.barman.username }} dbname=postgres password={{ postgres_users.barman.password }}"
streaming_conninfo = "host={{ item }} user={{ postgres_users.replication.username }} password={{ postgres_users.replication.password }}"
backup_method = postgres
streaming_archiver = on
slot_name = barman
