# Sourced by init script for configuration.

COUCHDB_USER=couchdb
COUCHDB_STDOUT_FILE=/dev/null
COUCHDB_STDERR_FILE=/usr/local/var/log/couchdb/couch.err
COUCHDB_RESPAWN_TIMEOUT=5
COUCHDB_OPTIONS=
ENV_ERL_FLAGS="+A 64"
