cchq_home: /home/{{ cchq_user }}
www_dir: "{{ cchq_home }}/www"
www_home: "{{ www_dir }}/{{ deploy_env }}"
code_home: "{{ www_home }}/code_root"
preindex_home: "{{ www_home }}/code_root_preindex"
log_home: "{{ www_home }}/log"
service_home: "{{ cchq_home }}/services"
virtualenv_home: "{{ www_home }}/python_env"
virtualenv_preindex_home: "{{ www_home }}/python_env_preindex"

shared_dir_gid: 1500  # This GID cannot already be allocated
shared_mount_dir: "/mnt/shared_data{{ '_' ~ deploy_env if deploy_env != 'production' else '' }}"
transfer_payload_dir_name: "transfer_payloads"
restore_payload_dir_name: "restore_payloads"
shared_temp_dir_name: "temp"
transfer_payload_dir: "{{ shared_mount_dir }}/{{ transfer_payload_dir_name }}"
restore_payload_dir: "{{ shared_mount_dir }}/{{ restore_payload_dir_name }}"
shared_temp_dir: "{{ shared_mount_dir }}/{{ shared_temp_dir_name }}"
public_site_path: /opt/commcare-hq-public/site/output
commtrack_public_site_path: /opt/commtrack-static/site/output/
cchq_user: cchq
dev_group: dev

django_port: 9010
