<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CommcareHQ Monitoring</title>
    <style>
        iframe {
            margin: 16px;
        }
    </style>
  </head>
  <body>
    Also check the <a href="http://stats.pingdom.com/6wqkruu52i2u/307542">Pingdom dashboard</a>.
    <div id="hqdb0">
        <iframe src="https://rpm.newrelic.com/public/charts/gUiI3gF2Jef" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/g4QvjkXv8Qk" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <div id="hqpillowtop0">
        <iframe src="https://rpm.newrelic.com/public/charts/lD5VE6W9MNs" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/7g1t1HN5OiR" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <div id="hqes1">
        <iframe src="https://rpm.newrelic.com/public/charts/d3ubWJuArV1" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/lQx1vi9K4lZ" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <div id="hqes0">
        <iframe src="https://rpm.newrelic.com/public/charts/33LyMcC60TQ" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/1J3VFWarsyj" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <div id="hqcelery1"></div>
        <iframe src="https://rpm.newrelic.com/public/charts/d3eAm4glykX" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/jYrNFIUSUcc" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <div id="hqproxy0">
        <iframe src="https://rpm.newrelic.com/public/charts/359jzP4wMOk" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/6LXNUQBhrOS" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/84M9Mbq0sme" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <div id="hqtouch0">
        <iframe src="https://rpm.newrelic.com/public/charts/9AppYTobXE4" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/lw1qvqI698I" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <div id="hqtouch1">
        <iframe src="https://rpm.newrelic.com/public/charts/5u0aWrbsjAY" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/2t6BujQZmjl" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <div id="hqdjango5">
        <iframe src="https://rpm.newrelic.com/public/charts/cDlNT2uLXZO" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/j6JdYiwhdLG" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <div id="hqdjango4">
        <iframe src="https://rpm.newrelic.com/public/charts/5jQrqtO1EpE" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/eTkXrrXplMj" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <div id="hqdjango3">
        <iframe src="https://rpm.newrelic.com/public/charts/hguFWpOkjWQ" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/hGTtpu3Fc93" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
    <!--
        <iframe src="https://rpm.newrelic.com/public/charts/l20CfDiWYpe" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/jIxYI1q8biS" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    -->
    <div id="hqindia">
        <iframe src="https://rpm.newrelic.com/public/charts/1EkAVsyy6AA" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/iyHjwg5KeI4" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/cXLLlTGoy5L" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/iHwcDFlxpft" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/e23xBeJmrUR" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/gzonrDYySZb" width="500" height="300" scrolling="no" frameborder="no"></iframe>
        <iframe src="https://rpm.newrelic.com/public/charts/6B6Fs9BDhfi" width="500" height="300" scrolling="no" frameborder="no"></iframe>
    </div>
  </body>
</html>
