- name: Clone source code
  git_setup_release:
    repo: "{{ commcarehq_repository }}"
    dest: "{{ code_source }}"
    version: "{{ code_version }}"
    reference: "{{ code_releases }}/.git_mirrors"
    key_file: "{{ deploy_key | default(omit, true) }}"
    previous_release: "{{ code_home }}"

- name: Setup virtualenv
  setup_virtualenv:
    src: "{{ code_home }}"
    dest: "{{ code_source }}"
    python_version: "{{ python_version }}"
    requirements_file: "requirements/prod-requirements.txt"
    http_proxy: "{{ http_proxy | default(omit, true) }}"

- name: Copy localsettings.py
  copy:
    src: "{{ code_home }}/localsettings.py"
    dest: "{{ code_source }}/localsettings.py"
    remote_src: true
    mode: preserve

- name: Update localsettings.py
  template:
    src: roles/commcarehq/templates/localsettings.py.j2
    dest: "{{ code_source }}/localsettings.py"
    owner: "{{ cchq_user }}"
    group: "{{ cchq_user }}"
    mode: 0600
  when: update_config | default(False)

- name: Mark keep until
  file:
    path: "{{ code_source }}/KEEP_UNTIL__{{ keep_until }}"
    mode: 0644
    state: touch
  when: keep_until | default(None)

- name: Set manage.py shebang
  # Convenience for running management commands without activating virtualenv.
  lineinfile:
    path: "{{ code_source }}/manage.py"
    line: "#! {{ code_source }}/python_env/bin/python"
    regexp: "^#!"
    firstmatch: true
    state: present
