[program:captain-rq]
directory={{ captain_src_dir }}/
command={{ captain_virtualenv_dir }}/bin/python manage.py rqworker default
user={{ cchq_user }}
autostart=true
autorestart=true
stdout_logfile={{ captain_log_dir }}/rq.log
redirect_stderr=true
stderr_logfile={{ captain_log_dir }}/rq.error.log
;stopsignal=QUIT
;stopwaitsecs=60
;killasgroup=true
;stopasgroup=false
