{% for machine in inventory.all_hosts -%}
[{{ machine.name }}]
{{ machine.private_ip }} ansible_host={{ machine.public_ip }}
{%- for key, value in machine.vars.items() %} {{ key }}={{ value }}{% endfor %}

{% endfor -%}
{% for _, group in inventory.all_groups.items()|sort %}
[{{ group.name }}:children]
{% for host_name in group.host_names -%}
{{ host_name }}
{%- endfor %}
{% endfor %}

[control]
