# About this changelog

The following changes to `commcare-cloud` that require your attention,
newest first.

## Changelog
{% for changelog_entry in changelog_contents %}
### **{{ changelog_entry.date }}** [{{ changelog_entry.title }}]({{ changelog_entry.filename }})
{{ changelog_entry.context }}
{%- endfor -%}
