title: {{name}}
key: {{key}}
date: {{date}}
optional_per_env: [yes/no]
# (optional) Min version of HQ that MUST be deployed before this change can be rolled out (commit hash)
min_commcare_version:
# (optional) Max version of HQ that can be deployed before this change MUST be rolled out (commit hash)
max_commcare_version:
context: |
  Description of the change.
  This will be shown as a sort of "preview" in the index.
  Can be formatted as markdown.

details: |
  Details of the change.
  Can be formatted as markdown.

update_steps: |
  Steps to update.
  Can be formatted as markdown.
