# {{ ordinal }}. {{ changelog_entry.title }}

**Date:** {{ changelog_entry.date }}

**Optional per env:** {% if changelog_entry.optional_per_env %}Yes{% else %}No{% endif %}

{% if changelog_entry.max_commcare_version -%}
## CommCare Version Dependency
CommCare versions beyond this commit require this change to function correctly:
[{{ changelog_entry.max_commcare_version[:8] }}](https://github.com/dimagi/commcare-hq/commit/{{ changelog_entry.max_commcare_version }})
{% endif %}

{%- if changelog_entry.min_commcare_version -%}
## CommCare Version Dependency
This version of CommCare must be deployed before rolling out this change:
[{{ changelog_entry.min_commcare_version[:8] }}](https://github.com/dimagi/commcare-hq/commit/{{ changelog_entry.min_commcare_version }})
{% endif %}

## Change Context
{{ changelog_entry.context }}
## Details
{{ changelog_entry.details }}
## Steps to update
{{ changelog_entry.update_steps }}
