# {{ ordinal }}. {{ changelog_entry.title }}

**Date:** {{ changelog_entry.date }}

**Optional per env:** {% if changelog_entry.optional_per_env %}Yes{% else %}No{% endif %}

**Dependant CommCare version:** {% if changelog_entry.max_commcare_version -%}
[{{ changelog_entry.max_commcare_version }}](https://github.com/dimagi/commcare-hq/commit/{{ changelog_entry.max_commcare_version }})
{%- else %}None{% endif %}

## Change Context
{{ changelog_entry.context }}
## Details
{{ changelog_entry.details }}
## Steps to update
{{ changelog_entry.update_steps }}
