 check process postgresql_{{ postgresql_version }} with pidfile {{ postgresql_pid_file }}
   group database
   group postgresql
   start program = "/bin/systemctl start postgresql@{{ postgresql_version }}-main"
   stop program = "/bin/systemctl stop postgresql@{{ postgresql_version }}-main"
   if failed host {{ inventory_hostname }} port {{ postgresql_port }} then restart
