# For a real deployment
# should be e.g. 'www.commcarehq.org'
SITE_HOST: '{{ groups.proxy.0 }}'
COMMTRACK_SITE_HOST: '{{ groups.proxy.0 }}'
NO_WWW_SITE_HOST: '{{ groups.proxy.0 }}'
J2ME_SITE_HOST: 'j2me.{{ groups.proxy.0 }}'

testing: True

etc_host_lines: []
# - "169.38.74.104   commcarehq-india.cloudant.com"

# active sites defines the sites that will be configured with nginx
# "cchq" is always deployed, the corresponding configurations live in roles/nginx/vars
active_sites:
  cchq_redirect: True
  cchq_http: True
  cchq_http_redirect: True
  cchq_http_j2me: False
  commtrack_ssl: True
  commtrack_http: True
  riakcs: True
  hq_status: False
  icds_tableau: False
  dhis: False
  motech: False
  motech1: False
  motech2: False
  wiki: False


deploy_env: dev
fake_ssl_cert: yes
ansible_user_password_sha_512: "{{ secrets.ANSIBLE_USER_PASSWORD_SHA_512 }}"

dev_users:
  present:
    - dmiller
    - droberts
  absent: []

# use this value to switch between nginx and apache
proxy_type: nginx

elasticsearch_endpoint: '{{ groups.elasticsearch.0 }}'
elasticsearch_memory: '128m'
elasticsearch_cluster_name: 'deves'

# uncomment to only allow access to eth1
#ufw_private_interface: eth1

# uncomment and change to the control machine IP when using ufw
# this ensures that ssh access from the control machine is always allowed regardless of other firewall rules
#control_machine_ip: 127.0.0.1

ECRYPTFS_PASSWORD: "{{ secrets.ECRYPTFS_PASSWORD }}"

KSPLICE_ACTIVE: no
KSPLICE_ACTIVATION_KEY: "{{ secrets.KSPLICE_ACTIVATION_KEY }}"

DATADOG_ENABLED: False
DATADOG_API_KEY: "{{ secrets.DATADOG_API_KEY }}"
DATADOG_APP_KEY: "{{ secrets.DATADOG_API_KEY }}"

CLOUDANT_CLUSTER_NAME: null

AMQP_USER: "{{ deploy_env }}_worker"
AMQP_PASSWORD: "{{ secrets.AMQP_PASSWORD }}"
AMQP_HOST: "{{ groups.celery.0 }}"
AMQP_NAME: commcarehq

# This dumps the dummy keystore, but allows the ansible script to continue, should be overriden for real deploys
keystore_file: 'DimagiKeyStore'

postgres_users:
  commcare:
    username: "{{ localsettings.PG_DATABASE_USER }}"
    password: "{{ secrets.pg_user_passwords.default }}"
  devreadonly:
    username: "devreadonly"
    password: "{{ secrets.pg_user_passwords.devreadonly }}"

postgresql_ssl_enabled: False
postgres_config:
  max_connections: 20
  pgb_max_connections: 100
  pgb_default_pool: 15
  pgb_reserve_pool: 4
  pgb_pool_timeout: 2
  pgb_pool_mode: session

shared_drive_enabled: True
backup_postgres: False
backup_blobdb: True
postgres_s3: False

supervisor_http_enabled: True
supervisor_http_username: "{{ secrets.SUPERVISOR_HTTP_USERNAME }}"
supervisor_http_password: "{{ secrets.SUPERVISOR_HTTP_PASSWORD }}"

formplayer_db_name: formplayer

# postgresql_dbs keys description
#
#postgresql_dbs:
#  - name: "database_name"
#    host: "db_host" # defaults to localsettings.PG_DATABASE_HOST
#    port: "db_port" # defaults to  localsettings.get('PG_DATABASE_PORT', 5432))
#    user: "db user for django" # defaults to localsettings.PG_DATABASE_USER
#    password: "db user password for django" # defaults to localsettings.PG_DATABASE_PASSWORD
#    options: "django db options dict" # defaults to localsettings.get('PG_DATABASE_OPTIONS', {})
#    django_alias: "default" # if present this DB will be configured for django under this alias
#    shards: [0, 99] # pl_proxy shards assigned to this DB (total accross all DB's must be power of 2)

postgresql_dbs:
  - name: "{{ localsettings.UCR_DATABASE_NAME }}"
  - name: "{{localsettings.PG_DATABASE_NAME}}"
    django_alias: default
  - name: "{{ formplayer_db_name }}"

# example setup for sharded database
# also set localsettings.USE_PARTITIONED_DATABASE to True
#
#postgresql_dbs:
#  - django_alias: default
#    name: "{{localsettings.PG_DATABASE_NAME}}"
#  - django_alias: proxy
#    name: commcarehq_proxy
#  - django_alias: p1
#    name: commcarehq_p1
#    shards: [0, 99]
#  - django_alias: p2
#    name: commcarehq_p2
#    shards: [100, 199]
#  - django_alias: p3
#    name: commcarehq_p3
#    shards: [200, 299]
#  - django_alias: p4
#    name: commcarehq_p4
#    shards: [300, 399]
#  - django_alias: p5
#    name: commcarehq_p5
#    shards: [400, 511]
#  - name: "{{localsettings.UCR_DATABASE_NAME}}"

localsettings:
  ALLOWED_HOSTS:
    - localhost
    - 127.0.0.1
    - "{{ SITE_HOST }}"
#  BANK_ACCOUNT_NUMBER: "{{ localsettings_private.BANK_ACCOUNT_NUMBER }}"
#  BANK_ADDRESS:
#  BANK_NAME:
#  BANK_SWIFT_CODE:
  BANK_ROUTING_NUMBER_ACH: "{{ localsettings_private.BANK_ROUTING_NUMBER_ACH }}"
  BANK_ROUTING_NUMBER_WIRE: "{{ localsettings_private.BANK_ROUTING_NUMBER_WIRE }}"
  BITLY_APIKEY: "{{ localsettings_private.BITLY_APIKEY }}"
  BITLY_LOGIN: "{{ localsettings_private.BITLY_LOGIN }}"
#  BOOKKEEPER_CONTACT_EMAILS: "{{ localsettings_private.BOOKKEEPER_CONTACT_EMAILS }}"
  BROKER_URL: 'amqp://{{ AMQP_USER }}:{{ AMQP_PASSWORD }}@{{ AMQP_HOST }}:5672/{{ AMQP_NAME }}'
  CELERY_FLOWER_URL: "http://{{ groups.celery.0 }}:5555"
  CELERY_PERIODIC_QUEUE: 'celery_periodic'
#  CELERY_REMINDER_CASE_UPDATE_QUEUE:
#  CELERY_REMINDER_RULE_QUEUE:
#  CELERY_REPEAT_RECORD_QUEUE:
  CELERY_RESULT_BACKEND: 'database'
#  COUCH_CACHE_DOCS:
#  COUCH_CACHE_VIEWS:
  COUCH_DATABASE_NAME: "{{ localsettings_private.COUCH_DATABASE_NAME }}"
  COUCH_HTTPS: no
  COUCH_PASSWORD: "{{ localsettings_private.COUCH_PASSWORD }}"
  COUCH_SERVER_ROOT: "{{ groups.couchdb.0 }}"
  COUCH_USERNAME: "{{ localsettings_private.COUCH_USERNAME }}"
  COUCH_PORT: 5984
  COUCH_MONITORING_USERNAME: commcarehq
  COUCH_MONITORING_PASSWORD: commcarehq
  DEPLOY_MACHINE_NAME: "{{ inventory_hostname }}"
  DROPBOX_APP_NAME: "{{ localsettings_private.DROPBOX_APP_NAME }}"
  DROPBOX_KEY: "{{ localsettings_private.DROPBOX_KEY }}"
  DROPBOX_SECRET: "{{ localsettings_private.DROPBOX_SECRET }}"
  ELASTICSEARCH_HOST: "{{ groups.elasticsearch.0 }}"
  ELASTICSEARCH_PORT: '9200'
  EMAIL_LOGIN: "{{ localsettings_private.EMAIL_LOGIN }}"
  EMAIL_PASSWORD: "{{ localsettings_private.EMAIL_PASSWORD }}"
  # Run `python -m smtpd -n -c DebuggingServer 0.0.0.0:1025` on proxy
  EMAIL_SMTP_HOST: '{{ groups.proxy.0 }}'
  EMAIL_SMTP_PORT: '1025'
  # use True in prod!
  EMAIL_USE_TLS: no
  FULLSTORY_ID:
  GMAPS_API_KEY: "{{ localsettings_private.GMAPS_API_KEY }}"
  GOOGLE_ANALYTICS_API_ID: "{{ localsettings_private.GOOGLE_ANALYTICS_API_ID }}"
  HUBSPOT_API_ID: "{{ localsettings_private.HUBSPOT_API_ID }}"
  HUBSPOT_API_KEY: "{{ localsettings_private.HUBSPOT_API_KEY }}"
  HQ_INSTANCE: 'dev'
#  INVOICE_FROM_ADDRESS:
#  INVOICE_PREFIX:
#  INVOICE_STARTING_NUMBER:
  JAR_KEY_ALIAS: ''
  JAR_KEY_PASS: "{{ localsettings_private.JAR_KEY_PASS }}"
  JAR_STORE_PASS: "{{ localsettings_private.JAR_STORE_PASS }}"
  J2ME_ADDRESS: ''
  KAFKA_URL: ''
  KISSMETRICS_KEY: "{{ localsettings_private.KISSMETRICS_KEY }}"
#  MAPS_LAYERS:
#  MEDIA_ROOT:
  OPEN_EXCHANGE_RATES_API_ID: "{{ localsettings_private.OPEN_EXCHANGE_RATES_API_ID }}"
  PG_DATABASE_HOST: "{{ groups.postgresql.0 }}"
  PG_DATABASE_NAME: commcarehq
  PG_DATABASE_PASSWORD: "{{ secrets.pg_user_passwords.default }}"
  PG_DATABASE_USER: commcarehq
#  PILLOWTOP_MACHINE_ID:
#  PILLOW_RETRY_QUEUE_ENABLED:
  REDIS_DB: '0'
  REDIS_HOST: "{{ groups.redis.0 }}"
  REDIS_PORT: '6379'
#  REMINDERS_QUEUE_ENABLED:
  UCR_DATABASE_NAME: commcarehq_ucr
  SECRET_KEY: "{{ localsettings_private.SECRET_KEY }}"
  STATIC_CDN: ""
#  SIMPLE_API_KEYS: "{{ localsettings_private.SIMPLE_API_KEYS }}"
#  SMS_QUEUE_ENABLED: ''
#  STAGING_DOMAINS:
#  STATIC_ROOT:
#  STRIPE_PRIVATE_KEY: "{{ localsettings_private.STRIPE_PRIVATE_KEY }}"
#  STRIPE_PUBLIC_KEY: "{{ localsettings_private.STRIPE_PUBLIC_KEY }}"
  TOUCHFORMS_API_PASSWORD: "{{ localsettings_private.TOUCHFORMS_API_PASSWORD }}"
  TOUCHFORMS_API_USER: 'touchforms@example.com'
  XFORMS_PLAYER_URL: "http://{{ groups.touchforms.0 }}:4444"
  FORMPLAYER_URL: "http://{{ groups.touchforms.0 }}:8181"
#  ENABLE_DRACONIAN_SECURITY_FEATURES: yes
