#!/usr/bin/python
import argparse
import boto3
import datetime

parser = argparse.ArgumentParser(description="S3 Backup Status.")
parser.add_argument('env', choices=['pna','softlayer','production','staging'] ,help='Environment Name')
parser.add_argument('service', choices=['couch','blobdb','postgres'] ,help='Service Name')
args = parser.parse_args()

BUCKET_NAME = 'dimagi-'+args.env+'-'+args.service+'-backups'

s3 = boto3.resource('s3')

bucket = s3.Bucket(BUCKET_NAME)

today = datetime.datetime.today()

for key in bucket.objects.all():
    if today.day - key.last_modified.day > 2:
        print "[ALERT]" , key.key , key.last_modified
    else:
        print "[OK]", key.key , key.last_modified