#
# {{ ansible_managed }}
#

<VirtualHost *:80>
    ServerName {{ SITE_HOST }}

    RewriteEngine On
    RewriteCond %{HTTP_HOST} (.*)
    # TODO: Uncomment these with the rest of the static site
    # RewriteRule ^/(home|users|support|software-plans|images|pdfs|style|js|tour|div2|docs|workshops|fr|poc|es|service-packages|forms)/ http://www.commcarehq.org%{REQUEST_URI} [L]
    # RewriteRule ^/(home|users|support|software-plans|images|pdfs|style|js|tour|div2|docs|workshops|fr|poc|es|service-packages|forms) http://www.commcarehq.org%{REQUEST_URI} [L]
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=permanent,L]
</VirtualHost>
