#
# {{ ansible_managed }}
#

<VirtualHost *:443>
    # much of this __should__ be paramaterized
    SSLEngine On
    SSLCertificateFile {{ apache2_ssl_cert }}
    SSLCertificateKeyFile {{ apache2_ssl_key }}
{% if apache2_ssl_ca_certificate_file %}
    SSLCACertificateFile {{ apache2_ssl_ca_certificate_file }}
{% endif %}
    SSLProxyEngine On
    SetEnv proxy-sendcl 1

    # potential timeout fix: https://issues.apache.org/bugzilla/show_bug.cgi?id=37770
    # SetEnv force-proxy-request-1.0 1 # looks like this line breaks chunked encoding

    SetEnv proxy-nokeepalive 1
    RequestHeader set X-FORWARDED-PROTOCOL ssl
    RequestHeader set X-FORWARDED-SSL on
    RequestHeader set X-FORWADED-PROTO https


    Alias /static {{ code_home }}/staticfiles/
    <Directory {{ code_home }}/staticfiles>
        Order deny,allow
        Allow from all
        Options -Indexes
    </Directory>

    ErrorLog {{ log_home }}/cchq-apache-error.log
    LogLevel error
    CustomLog {{ log_home }}/cchq-apache.log combined
    # CustomLog "|/home/logstash/domainparser.py > {{ log_home }}/cchq_apache_json.log" logstash_lb_geo_json
    # CustomLog "{{ log_home }}/cchq_apache_json.log.raw" logstash_lb_geo_json
    # ForensicLog "|/home/logstash/forensic.py > {{ log_home }}/cchq_forensic_json.log"


    ErrorDocument 503  "Sorry! CommCareHQ is undergoing some maintenance at the moment, we hope to be back online as soon as possible!"
    ErrorDocument 502  "Sorry! CommCareHQ is undergoing some maintenance at the moment, we hope to be back online as soon as possible!"

    # ProxyPass /static !
    <Proxy balancer://hqcluster>
    {% for host in groups['webworkers'] %}
        BalancerMember http://{{ host }}:{{ django_port }} loadfactor=2
    {% endfor %}
        ProxySet lbmethod=byrequests
    </Proxy>

    ProxyPass / balancer://hqcluster/
    ProxyPassReverse / balancer://hqcluster/
    ServerName {{ SITE_HOST }}

    ## This directive is causing trouble in my local development tests because
    ## it always gets hit before the proxy pass has a chance to work correctly.
    ## I've commented it out here, but if it works for you, go ahead and put it
    ## back. --cewing@jazkarta
    #if reaching this bottom, bounce back to http://home
    # RewriteEngine On
    # RewriteRule ^/(home|users|support|plans|images|pdfs|style|js|tour|div2|docs|fr|poc|es)/ http://%{HTTP_HOST}%{REQUEST_URI} [L]
</VirtualHost>

<VirtualHost *:443>
    SSLEngine On
    SSLCertificateFile {{ apache2_ssl_cert }}
    SSLCertificateKeyFile {{ apache2_ssl_key }}
{% if apache2_ssl_ca_certificate_file %}
    SSLCACertificateFile {{ apache2_ssl_ca_certificate_file }}
{% endif %}
    ServerName commcarehq.org

    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^commcarehq\.org
    RewriteRule (.*) https://www.commcarehq.org%{REQUEST_URI} [R=permanent,L]
</VirtualHost>



