// {{ ansible_managed }}

DPkg {
  // Auto re-mounting of a noexec /tmp since some packages desire exec
  Pre-Invoke { "mount -o remount,exec /tmp"; };
  Post-Invoke { "test ${NO_APT_REMOUNT:-no} = yes || mount -o remount,noexec /tmp || true"; };
};
