{
  "kafka_path": "/opt/kafka",
  "log_path": "{{ kafka_log_dir }}",
  "zk_path": "{% for host in groups.zookeeper %}{{ host }}:{{ zookeeper_client_port }}{% if not loop.last %},{% endif %}{% endfor %}"
}
