---
- name: Install Erlang dependencies (Bionic)
  block:
    - name: Install Erlang Solutions PGP key
      apt_key:
        url: http://packages.erlang-solutions.com/ubuntu/erlang_solutions.asc
        state: present

    - name: Add Erlang Solutions repository
      apt_repository:
        repo: 'deb http://packages.erlang-solutions.com/ubuntu {{ ansible_distribution_release|lower }} contrib'
        state: present

    - name: Install Erlang packages
      apt:
        name: "esl-erlang={{ erlang }}"
        update_cache: yes
        force: yes
      register: rabbitmq_erlang_apt_install_result
      ignore_errors: true

    - name: Install Erlang dependencies (alternate method)
      apt:
        deb: "https://packages.erlang-solutions.com/ubuntu/pool/esl-erlang_{{ erlang | regex_replace('^[0-9]+:(.*)$', '\\1') }}~ubuntu~bionic_amd64.deb"
        force: yes
      when: rabbitmq_erlang_apt_install_result is failed
  when: ansible_distribution_version == '18.04'

- name: Install Erlang dependencies (Jammy)
  apt:
    name: erlang
    state: present
  when: ansible_distribution_version == '22.04'

- name: Add trusted key
  apt_key:
    url: https://packagecloud.io/rabbitmq/rabbitmq-server/gpgkey
    state: present

- name: Add rabbitmq official apt repository
  apt_repository:
    repo: 'deb https://packagecloud.io/rabbitmq/rabbitmq-server/ubuntu {{ ansible_distribution_release|lower }} main'
    state: present
    update_cache: yes

- name: Install package
  apt:
    name: "rabbitmq-server={{ rabbitmq_version }}"
    update_cache: yes
    state: present
  ignore_errors: '{{ ansible_check_mode }}'

- name: Enable rabbitmq plugins
  rabbitmq_plugin:
    names: rabbitmq_management,rabbitmq_tracing,rabbitmq_federation
    state: enabled
  notify:
  - restart rabbitmq
