---
- include: install_latest.yml
  when: rabbitmq_version == '3.8.5-1'

- include: install_old.yml
  when: rabbitmq_version == '3.6.15'

- name: Place config file
  template:
    src: "{{ item.src }}"
    dest: "/etc/rabbitmq/{{ item.dest }}"
    group: root
    owner: rabbitmq
    mode: 0644
  loop:
    - {"src": "rabbitmq.config.j2", "dest": "rabbitmq.config"}
    - {"src": "rabbitmq-env.conf.j2", "dest": "rabbitmq-env.conf"}

- name: Create directory for ulimt
  file:
    path: /etc/systemd/system/rabbitmq-server.service.d
    state: directory
    mode: '0755'
  when: ansible_distribution_version == '18.04'

- name: setting Ulimit for rabbitmq
  raw: echo "[Service]\nLimitNOFILE=65536" > /etc/systemd/system/rabbitmq-server.service.d/limits.conf
  when: ansible_distribution_version == '18.04'

- name: just force systemd to reread configs
  systemd:
    daemon_reload: yes
  when: ansible_distribution_version == '18.04'

- name: Make sure RabbitMQ service is started before running config tasks
  become: yes
  service: name=rabbitmq-server state=started

- include: config-cluster.yml
  when: rabbitmq_create_cluster|bool

- include: config.yml
  when: not rabbitmq_create_cluster or ( ansible_fqdn == hostvars[rabbitmq_cluster_master]['ansible_fqdn'] )

- name: Enable and start RabbitMQ service
  become: yes
  service: name=rabbitmq-server state=started
  tags: after-reboot

- include: join-cluster.yml
  when: (rabbitmq_create_cluster | bool) and ( ansible_fqdn != hostvars[rabbitmq_cluster_master]['ansible_fqdn'] )

- include: ha-policy.yml
  when: (rabbitmq_create_cluster| bool ) and ( ansible_fqdn == hostvars[rabbitmq_cluster_master]['ansible_fqdn'] )
