# If "pull CommCare HQ source" fails with any of these messages
# - fatal: destination path '/home/cchq/www/dev/code_root' already exists and is not an empty directory.
# - /home/cchq/www/dev/code_root/.git: Permission denied
# Uncomment these lines
#- name: delete staticfiles
#  sudo: yes
#  file:
#    path: "{{ code_home }}"
#    state: absent

- name: create required directories
  become: true
  file:
    path: "{{ item }}"
    owner: "{{ cchq_user }}"
    group: "{{ cchq_user }}"
    mode: 0755
    state: directory
  with_items:
    - "{{ www_dir }}"
    - "{{ www_home }}"
    - "{{ log_home }}"
    - "{{ code_releases }}"

# Do not update source unless you're cloning for the first time

- name: register git repo
  stat: path="{{ code_home }}/.git"
  register: gitdir

- block:
    - name: Pull full CommcareHQ source
      git:
        repo: "{{ commcarehq_repository }}"
        dest: "{{ code_source }}"
        version: "{{ commcarehq_version }}"
        recursive: yes
        accept_hostkey: yes
        update: yes
      become: true
      become_user: "{{ cchq_user }}"
      tags:
        - git
        - slow

    - name: Link source to code_home
      become: true
      become_user: "{{ cchq_user }}"
      file:
        state: link
        src: "{{ code_source }}"
        dest: "{{ code_home }}"


    - name: install pip requirements
      become: true
      become_user: "{{ cchq_user }}"
      with_items: "{{ commcarehq_requirements }}"
      pip:
        requirements: "{{ code_home }}/requirements/{{ item }}"
        virtualenv: "{{ virtualenv_source }}"
        chdir: "{{ code_home }}"
      tags:
        - slow
      when: not testing|default(False)

    - name: chown clone
      become: true
      become_user: "{{ cchq_user }}"
      file:
        path: "{{ item }}"
        state: directory
        owner: "{{ cchq_user }}"
        group: "{{ cchq_user }}"
        recurse: yes
      with_items:
        - "{{ code_source }}"
        - "{{ virtualenv_source }}"
  when: not gitdir.stat.exists

- name: Upgrade setuptools
  easy_install:
    # HACK: -U allows us to force update. In ansible 2.0 we can just use the state property
    name: "-U setuptools"
    virtualenv: "{{ virtualenv_home }}"

- name: copy localsettings
  become: true
  template:
    src: localsettings.py.j2
    dest: "{{ item.path }}/localsettings.py"
  with_items:
    - { path: "{{ code_home }}", deploy_env_name: "{{ env_name|default(deploy_env) }}" }
  tags:
    - localsettings

- name: chown localsettings
  become: true
  file:
    path: "{{ item.path }}/localsettings.py"
    state: file
    owner: "{{ cchq_user }}"
    group: "{{ cchq_user }}"
  with_items:
    - { path: "{{ code_home }}", deploy_env_name: "{{ env_name|default(deploy_env) }}" }
  tags:
    - localsettings
