# If "pull CommCare HQ source" fails with any of these messages
# - fatal: destination path '/home/cchq/www/dev/code_root' already exists and is not an empty directory.
# - /home/cchq/www/dev/code_root/.git: Permission denied
# Uncomment these lines
#- name: delete staticfiles
#  sudo: yes
#  file:
#    path: "{{ code_home }}"
#    state: absent

- name: Add cchq user
  sudo: yes
  user: name={{ cchq_user }} state=present shell=/bin/bash

- name: create required directories
  sudo: yes
  file:
    path: "{{ item }}"
    owner: "{{ cchq_user }}"
    group: "{{ cchq_user }}"
    mode: 0755
    state: directory
  with_items:
    - "{{ www_dir }}"
    - "{{ www_home }}"
    - "{{ log_home }}"
    - "{{ code_releases }}"

# Do not update source unless you're cloning for the first time

- name: register git repo
  stat: path="{{ code_home }}/.git"
  register: gitdir

- name: Pull full CommcareHQ source
  git:
    repo: "{{ commcarehq_repository }}"
    dest: "{{ code_source }}"
    version: "{{ commcarehq_version }}"
    recursive: yes
    accept_hostkey: yes
    update: yes
  sudo_user: "{{ cchq_user }}"
  tags:
    - git
    - slow
  when: not gitdir.stat.exists

- name: Link source to code_home
  sudo_user: "{{ cchq_user }}"
  file:
    state: link
    src: "{{ code_source }}"
    dest: "{{ code_home }}"

- name: install pip requirements
  sudo_user: "{{ cchq_user }}"
  with_items: commcarehq_requirements
  pip:
    requirements: "{{ code_home }}/requirements/{{ item }}"
    virtualenv: "{{ virtualenv_home }}"
  tags:
    - slow

- name: copy localsettings
  sudo_user: "{{ cchq_user }}"
  template:
    src: localsettings.py.j2
    dest: "{{ item.path }}/localsettings.py"
  with_items:
    - { path: "{{ code_home }}", deploy_env_name: "{{ deploy_env }}" }
  tags:
    - localsettings
