- name: define reminder queue services
  become: cchq
  template:
    src: "../templates/common_supervisor_management.conf.j2"
    dest: "{{ service_home }}/{{ deploy_env }}_{{ item.dest_name }}"
  when: app_processes_config.celery_processes.get(inventory_hostname).reminder_queue is defined
  with_items:
    - dest_name: supervisor_reminder_queue.conf
      process_name: reminder_queue
      management_command: run_reminder_queue
    - dest_name: supervisor_queue_schedule_instances.conf
      process_name: queue_schedule_instances
      management_command: queue_schedule_instances
    - dest_name: supervisor_handle_survey_actions.conf
      process_name: handle_survey_actions
      management_command: handle_survey_actions
  tags:
    - services
  register: celery_reminder_queue_files

- name: define submission reprocessing queue services
  become: cchq
  template:
    src: "../templates/common_supervisor_management.conf.j2"
    dest: "{{ service_home }}/{{ deploy_env }}_supervisor_submission_reprocessing_queue.conf"
  when: app_processes_config.celery_processes.get(inventory_hostname).submission_reprocessing_queue is defined
  with_items:
    - process_name: submission_reprocessing_queue
      management_command: run_submission_reprocessing_queue
  tags:
    - services
  register: celery_submission_reprocessing_files

- name: define sms queue services
  become: cchq
  template:
    src: "../templates/common_supervisor_management.conf.j2"
    dest: "{{ service_home }}/{{ deploy_env }}_supervisor_sms_queue.conf"
  when: app_processes_config.celery_processes.get(inventory_hostname).sms_queue is defined
  with_items:
    - process_name: sms_queue
      management_command: run_sms_queue
  tags:
    - services
  register: celery_sms_files

- name: define errand boy services
  become: cchq
  template:
    src: "../templates/supervisor_errand_boy.conf"
    dest: "{{ service_home }}/{{ deploy_env }}_supervisor_errand_boy.conf"
  tags:
    - services
  register: celery_errand_boy_files

- name: Add celery_bash_runner files
  template:
    src: "../templates/celery_bash_runner.sh.j2"
    dest: "{{ service_home }}/{{ deploy_env }}_{{ item.file_name }}"
  with_items:
    - file_name: "celery_bash_runner.sh"
    - file_name: "celery_bash_runner_optimized.sh"
      python_options: "-O"
  tags:
    - services
  register: celery_bash_runner_files

- name: define celery_flower services
  become: cchq
  template:
    src: "../templates/supervisor_celery_flower.conf.j2"
    dest: "{{ service_home }}/{{ deploy_env }}_supervisor_celery_flower.conf"
  when: app_processes_config.celery_processes.get(inventory_hostname).flower is defined
  tags:
    - services
  register: celery_flower_files

- name: define celery beat service
  become: cchq
  template:
    src: "../templates/supervisor_celery_beat.conf.j2"
    dest: "{{ service_home }}/{{ deploy_env }}_supervisor_celery_beat.conf"
  when: app_processes_config.celery_processes.get(inventory_hostname).celery_periodic is defined
  tags:
    - services
  register: celery_beat_files

- name: define celery workers
  become: cchq
  template:
    src: "../templates/supervisor_celery_worker.conf.j2"
    dest: "{{ service_home }}/{{ deploy_env }}_supervisor_celery_worker.conf"
  when: app_processes_config.celery_processes.get(inventory_hostname) is defined
  tags:
    - services
  register: celery_worker_files

- name: remove old celery services
  become: yes
  become_user: cchq
  file:
    state: absent
    path: "{{ legacy_service_home }}/supervisor/{{ deploy_env }}_{{ item }}"
  with_items:
    - "celery_bash_runner.sh"
    - "celery_bash_runner_optimized.sh"
    - "supervisor_celery_flower.conf"
    - "supervisor_celery_beat.conf"
  tags:
    - services

- set_fact:
    celery_supervisor_files: "{{ celery_reminder_queue_files.get('results', []) + celery_submission_reprocessing_files.get('results', []) + celery_sms_files.get('results', []) + celery_errand_boy_files.get('results', []) }} + celery_bash_runner_files.get('results', []) + celery_flower_files.get('results', []) + celery_beat_files.get('results', []) + celery_worker_files.get('results', [])"

- set_fact:
    celery_managed_files: "{{ celery_supervisor_files|selectattr('dest', 'string')|map(attribute='dest')|list + celery_supervisor_files|selectattr('path', 'string')|map(attribute='path')|select|list }}"
