- name: define pillowtop services
  become: yes
  template:
    src: "{{ supervisor_service_files.pillowtop.template }}"
    dest: "{{ supervisor_service_files.pillowtop.file_path }}"
    owner: "{{ cchq_user }}"
    group: "{{ cchq_user }}"
    mode: 0644
  when: supervisor_service_files.pillowtop.should_exist
  with_items:
    - env_vars:
        TMPDIR: '{{ encrypted_tmp }}'
        READ_FROM_PLPROXY_STANDBYS: 1
        PROMETHEUS_MULTIPROC_DIR: "{% if prometheus_monitoring_enabled|default(False) %}{{ metrics_home }}{% endif %}"
