---
nginx_ssl_cert: "{{ cas_nginx_ssl_cert }}"
nginx_ssl_key:  "{{ cas_nginx_ssl_key }}"

nginx_sites:
- server:
   balancers:
    - name: "{{ deploy_env }}_cas_commcare"
      hosts: webworkers
      port: "{{ django_port }}"
    - name: "{{ deploy_env }}_cas_formplayer"
      hosts: formplayer
      port: "{{ formplayer_port }}"
   limit_req_zones:
    - name: "restore"
      zone: "$server_name"
      size: "10m"
      rate: "100r/s"
    - name: "submissions"
      zone: "$server_name"
      size: "10m"
      rate: "200r/s"
    - name: "server_name"
      zone: "$server_name"
      size: "10m"
      rate: "100r/s"
   file_name: "{{ deploy_env }}_cas_commcare"
   listen: "443 ssl default_server"
   server_name: "{{ CAS_SITE_HOST }}"
   client_max_body_size: 100m
   proxy_set_headers:
   - "Host $http_host"
   - "X-Forwarded-For $remote_addr"
   add_header: "X-Frame-Options SAMEORIGIN"
   access_log: "{{ log_home }}/{{ deploy_env }}-timing.log timing"
   locations:
     - name: "/hq/multimedia/file"
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
     - name: "/a/icds-cas/apps/download"
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
     - name: "/accounts/login"
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
     - name: "/a/icds-cas/phone/keys"
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
     - name: "/a/icds-cas/phone/restore"
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
       limit_reqs:
         - zone_name: "restore"
           burst: 100
           nodelay: True
     - name: "/a/icds-cas/receiver"
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
       limit_reqs:
         - zone_name: "submissions"
           burst: 100
           nodelay: True
     - name: /
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
       limit_reqs:
         - zone_name: "server_name"
           nodelay: True
     - name: "/static"
       alias: "{{ nginx_static_home }}"
       add_header: "Access-Control-Allow-Origin *"
       expires: "1M"
       try_files: "$uri $uri/index.html $uri/ =404"
     - name: "/{{ transfer_payload_dir_name }}"
       alias: "{{ shared_mount_dir if shared_drive_enabled else shared_data_dir }}/{{ transfer_payload_dir_name }}"
       is_internal: True
     - name: /errors
       alias: "{{ errors_home }}/pages"
     - name: /ws
       proxy_pass: "http://unix:{{ www_home }}/web.socket"
       proxy_http_version: "1.1"
       proxy_set_headers:
       - "Upgrade $http_upgrade"
       - "Connection \"upgrade\""
     - name: /formplayer
       balancer: "{{ deploy_env }}_cas_formplayer/"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
