---
nginx_sites:
- server:
   file_name: motech
   listen: "443 ssl"
   # Move these to a localsetting?
   server_name: motech.commcarehq.org
   proxy_set_headers:
   - "Host $http_host"
   - "X-Forwarded-For $remote_addr"
   - "X-Forwarded-Proto $scheme"
   - "X-Forwarded-Host $host:443"
   error_page: "502 503 /errors/50x.html"
   locations:
     - name: /errors
       alias: "{{ errors_home }}/pages"
     - name: /supply
       proxy_pass: http://motech-main.internal.commcarehq.org:8888/supply
       proxy_read_timeout: 360s
     - name: /supply-dhis
       proxy_pass: http://motech-main.internal.commcarehq.org:8888/supply-dhis
       proxy_read_timeout: 360s
     - name: /cdc-moz
       proxy_pass: http://motech3.internal-va.commcarehq.org:8080/cdc-moz
       proxy_read_timeout: 360s
     - name: /pi-lad
       proxy_pass: http://motech4.internal-va.commcarehq.org:8080/pi-lad
       proxy_read_timeout: 360s
     - name: /endos
       proxy_pass: http://motech1.internal.commcarehq.org:8080/endos
       proxy_read_timeout: 360s
     - name: /endos-dhis
       proxy_pass: http://motech1.internal.commcarehq.org:8080/endos-dhis
       proxy_read_timeout: 360s
     - name: /possiblehealth
       proxy_pass: http://motech1.internal.commcarehq.org:8080/possiblehealth
       proxy_read_timeout: 360s
