#!{{ virtualenv_home }}/python
from elasticsearch import Elasticsearch
from elasticsearch.client import SnapshotClient
from datetime import datetime
from datetime import timedelta

def get_snapshot_client():
    es = Elasticsearch('{{ groups.elasticsearch.0 }}')
    snapshot_client = SnapshotClient(es)
    return snapshot_client


def create_snapshot(client):
    today = date.today()
    client.create('{{ es_repository_name }}', '{{ es_snapshot_name }}_{year}_{month}_{day}'.format(today.year, today.month, today.day))


def delete_old_snapshots(client):
    snaps = client.get('es_snapshot', '_all')
    three_days_ago = (datetime.utcnow() - timedelta(days=3)).isoformat()
    old_snapshots = [s['snapshot'] for s in snaps['snapshots'] if s['start_time'] < three_days_ago]
    for snap in old_snapshots:
        client.delete('es_snapshot', snap)


def main():
    client = get_snapshot_client()
    create_snapshot(client)
    delete_old_snapshots(client)


if __name__ == "__main__":
    main()
