# {{ ansible_managed }}

log_format rt_cache '$remote_addr - $remote_user - $upstream_cache_status - [$time_local]  '
                    '"$request" $status $body_bytes_sent '
                    '"$http_referer" "$http_user_agent"';

server {
  listen 127.0.0.1:80;
  listen [::1]:80;

  location /nginx_stub_status {
      stub_status on;
      access_log off;
      allow 127.0.0.1;
      allow ::1;
      deny all;
  }
}
