#
# {{ ansible_managed }}
#

{% for balancer in item.server.get('balancers', []) %}
upstream {{ balancer.name }} {
  {% if balancer.get('method') %}
  {{ balancer.method }};
  {% else %}
  least_conn;
  {% endif %}

{% for host in groups[balancer.hosts] %}
  server {{ host }}:{{ balancer.port }};
{% endfor %}
}
{% endfor %}

server {

{% if nginx_separate_logs_per_site == True %}
  access_log {{ log_home }}/{{ item.server.file_name }}-{{ nginx_access_log_name }};
  error_log {{ log_home }}/{{ item.server.file_name }}-{{ nginx_error_log_name }};
{% endif %}

{% if 'ssl' in item.server.listen %}
  ssl_certificate {{ ssl_certs_dir }}/{{ nginx_ssl_cert }};
  ssl_certificate_key {{ ssl_keys_dir }}/{{ nginx_ssl_key }};
{% if nginx_ssl_protocols|default('') %}
  ssl_protocols {{ nginx_ssl_protocols }};
{% endif %}
{% if nginx_ssl_ciphers|default('') %}
  ssl_ciphers {{ nginx_ssl_ciphers }};
{% endif %}
{% endif %}

{% for k,v in item.server.iteritems() %}
  {% if k.find('location') == -1 and k not in ['file_name', 'balancers', 'proxy_set_headers', 'upstream_port'] %}
  {{ k }} {{ v }};
  {% endif %}
{% endfor %}

{% for k,v in item.server.iteritems() if k == 'proxy_set_headers' %}
  {% for header in v %}
  proxy_set_header {{ header }};
  {% endfor %}
{% endfor %}

{% for value in error_pages %}
  error_page {{ value }};
{% endfor %}

{% for location in item.server.get('locations', []) %}
  location {{ location.name }} {
    {% if location.get('balancer', None) %}
        proxy_pass http://{{ location.balancer }};
    {% endif %}
    {% if location.get('is_internal', False) == True %}
        internal;
    {% endif %}
    {% for x,y in location.iteritems() if x not in ['name', 'balancer', 'is_internal', 'proxy_set_headers'] %}
        {{ x }} {{ y }};
    {% endfor %}
    {% if location.get('proxy_set_headers') %}
      {% for header in location.proxy_set_headers %}
        proxy_set_header {{ header }};
      {% endfor %}
    {% endif %}

  }
{% endfor %}
}
