#
# {{ ansible_managed }}
#

{% if item.server.get('use_balancer', False) == True %}
upstream {{ item.server.file_name }} {
  least_conn;
{% for host in groups['webworkers'] %}
  server {{ host }}:{{ django_port }};
{% endfor %}
}
{% endif %}

server {

{% if nginx_separate_logs_per_site == True %}
  access_log {{ log_home }}/{{ item.server.file_name }}-{{ nginx_access_log_name }};
  error_log {{ log_home }}/{{ item.server.file_name }}-{{ nginx_error_log_name }};
{% endif %}

{% if 'ssl' in item.server.listen %}
  ssl_certificate {{ ssl_certs_dir }}/{{ nginx_ssl_cert }};
  ssl_certificate_key {{ ssl_keys_dir }}/{{ nginx_ssl_key }};
{% if nginx_ssl_protocols|default('') %}
  ssl_protocols {{ nginx_ssl_protocols }};
{% endif %}
{% if nginx_ssl_ciphers|default('') %}
  ssl_ciphers {{ nginx_ssl_ciphers }};
{% endif %}
{% endif %}

{% for k,v in item.server.iteritems() %}
  {% if k.find('location') == -1 and k != 'file_name' and k != 'use_balancer' and k != 'proxy_set_headers' %}
  {{ k }} {{ v }};
  {% endif %}
{% endfor %}

{% for k,v in item.server.iteritems() if k == 'proxy_set_headers' %}
  {% for header in v %}
  proxy_set_header {{ header }};
  {% endfor %}
{% endfor %}

{% for k,v in item.server.iteritems() if k.find('location') != -1 %}
  location {{ v.name }} {
    {% if v.get('use_balancer', False) == True %}
        proxy_pass http://{{ item.server.file_name }};
    {% endif %}
    {% if v.get('is_internal', False) == True %}
        internal;
    {% endif %}
    {% for x,y in v.iteritems() if x not in ['name', 'use_balancer', 'is_internal'] %}
        {{ x }} {{ y }};
    {% endfor %}
  }
{% endfor %}
}
