#
# {{ ansible_managed }}
#

User_Alias ANSIBLE_USERS = {% for user in dev_users.present -%}
{{ user }}
{%- if not loop.last %}, {% endif %}
{%- endfor %}

{{ ansible_control_user }}    ALL=(ALL) ALL
ANSIBLE_USERS ALL = ({{ ansible_control_user }}) NOPASSWD: ALL
