- name: Install celery check
  get_url:
    url: "https://raw.githubusercontent.com/dimagi/datadog-checks/{{ datadog_celery_version }}/celery/celery.py"
    dest: /etc/dd-agent/checks.d/celery.py
    sha256sum: "{{ datadog_celery_sha256sum }}"
    force: yes
  notify: restart datadog
  when: inventory_hostname == groups.celery[0]
  tags:
    - datadog_integrations

- name: Install shell check
  get_url:
    url: "https://raw.githubusercontent.com/dimagi/datadog-checks/{{ datadog_shell_version }}/shell/shell.py"
    dest: /etc/dd-agent/checks.d/shell.py
    sha256sum: "{{ datadog_shell_sha256sum }}"
    force: yes
  when: datadog_integration_vmware|bool
  notify: restart datadog
  tags:
    - datadog_integrations

- name: Install pgbouncer_custom check
  get_url:
    url: "https://raw.githubusercontent.com/dimagi/datadog-checks/{{ datadog_pgbouncer_custom_version }}/pgbouncer_custom/pgbouncer_custom.py"
    dest: /etc/dd-agent/checks.d/pgbouncer_custom.py
    sha256sum: "{{ datadog_pgbouncer_custom_sha256sum }}"
    force: yes
  when: datadog_integration_pgbouncer_custom|bool
  notify: restart datadog
  tags:
    - datadog_integrations

- name: Install airflow check python requirement
  command: /opt/datadog-agent/embedded/bin/pip install sqlalchemy
  become_user: dd-agent
  when: datadog_integration_airflow|default(False)

- name: Install airflow check
  get_url:
    url: "https://raw.githubusercontent.com/dimagi/datadog-checks/{{ datadog_airflow_version }}/airflow/airflow.py"
    dest: /etc/dd-agent/checks.d/airflow.py
    sha256sum: "{{ datadog_airflow_sha256sum }}"
    force: yes
  when: datadog_integration_airflow|default(False)
  notify: restart datadog
  tags:
    - datadog_integrations

- name: Install swift check
  get_url:
    url: "https://raw.githubusercontent.com/dimagi/datadog-checks/{{ datadog_swift_version }}/swift/swift.py"
    dest: /etc/dd-agent/checks.d/swift.py
    sha256sum: "{{ datadog_swift_sha256sum }}"
    force: yes
  when: datadog_swift_instances|default(False) and inventory_hostname == groups.control[0]
  notify: restart datadog
  tags:
    - datadog_integrations

- name: add datadog integration configs
  template: src="{{ item.name }}.yaml.j2" dest="/etc/dd-agent/conf.d/{{ item.name }}.yaml" owner="dd-agent" group="dd-agent"
  notify: restart datadog
  tags:
    - datadog_integrations
    - formplayer_deploy
  when: item is defined and item.enabled
  with_items:
    - {"name": "airflow", "enabled": "{{ datadog_integration_airflow }}"}
    - {"name": "elastic", "enabled": "{{ datadog_integration_elastic }}"}
    - {"name": "gunicorn", "enabled": "{{ datadog_integration_gunicorn }}"}
    - {"name": "kafka", "enabled": "{{ datadog_integration_kafka }}"}
    - {"name": "kafka_consumer", "enabled": "{{ datadog_integration_kafka_consumer }}"}
    - {"name": "nginx", "enabled": "{{ datadog_integration_nginx }}"}
    - {"name": "pgbouncer", "enabled": "{{ datadog_integration_pgbouncer }}"}
    - {"name": "pgbouncer_custom", "enabled": "{{ datadog_integration_pgbouncer_custom }}"}
    - {"name": "postgres", "enabled": "{{ datadog_integration_postgres }}"}
    - {"name": "process", "enabled": "{{ datadog_integration_postgres_receiver }}"}
    - {"name": "rabbitmq", "enabled": "{{ datadog_integration_rabbitmq }}"}
    - {"name": "redisdb", "enabled": "{{ datadog_integration_redisdb }}"}
    - {"name": "zk", "enabled": "{{ datadog_integration_zk }}"}
    - {"name": "jmx", "enabled": "{{ datadog_integration_jmx }}"}
    - {"name": "celery", "enabled": "{{ inventory_hostname == groups.celery[0] }}"}
    - {"name": "couch", "enabled": "{{ inventory_hostname == couchdb2_first_host }}"}
    - {"name": "shell", "enabled": "{{ datadog_integration_vmware }}"}
    - {"name": "http_check", "enabled": "{{ datadog_integration_http and inventory_hostname == groups.proxy[0] }}"}
    - {"name": "haproxy", "enabled": "{{ datadog_integration_haproxy }}"}
    - {"name": "tcp_check", "enabled": "{{ datadog_integration_tcp_check }}"}
    - {"name": "disk", "enabled": "{{ datadog_integration_disk_check }}"}
    - {"name": "swift", "enabled": "{{ datadog_swift_instances and inventory_hostname == groups.control[0]}}"}
