# For a real deployment
# should be e.g. 'www.commcarehq.org'
SITE_HOST: '{{ groups.proxy.0 }}'
internal_domain_name: 'localdomain'

testing: True

etc_hosts_lines: []
etc_hosts_lines_removed: []
# - "169.38.74.104   commcarehq-india.cloudant.com"

nameservers:
  - 8.8.8.8
  - 8.8.4.4

static_routes:
  - name: docker
    cmd: add
    interface: eth1
    prefix: "172.17.0.0/16"
    gateway: "192.168.121.1"
  - name: local
    cmd: del
    interface: eth1
    prefix: "10.0.0.0/8"
    gateway: "192.168.121.1"

http_proxy_address: '192.168.33.14'
http_proxy_port: '3128'
http_proxy_parent_address: '192.168.33.1'
http_proxy_parent_port: '3128'

riak_backend: "leveldb"
riak_ring_size: 64

fake_ssl_cert: yes

elasticsearch_endpoint: '{{ groups.elasticsearch.0 }}'
elasticsearch_memory: '128m'
elasticsearch_cluster_name: 'deves'

# uncomment to only allow access to eth1
#ufw_private_interface: eth1

# uncomment and change to the control machine IP when using ufw
# this ensures that ssh access from the control machine is always allowed regardless of other firewall rules
#control_machine_ip: 127.0.0.1

KSPLICE_ACTIVE: no

DATADOG_ENABLED: False

CLOUDANT_CLUSTER_NAME: null


# This dumps the dummy keystore, but allows the ansible script to continue, should be overriden for real deploys
#keystore_file: 'DimagiKeyStore'

backup_es: False

postgres_users:
  commcare:
    username: "{{ DEFAULT_POSTGRESQL_USER }}"
    password: commcarehq
  devreadonly:
    username: "devreadonly"
    password: devreadonly
    role_attr_flags: 'NOSUPERUSER,NOCREATEROLE,NOCREATEDB'
    privs:
      -
        privs: SELECT
        objs: ALL_IN_SCHEMA
  replication:
      username: 'hqrepl'
      password: 'hqrepl'
      role_attr_flags: 'LOGIN,REPLICATION'
  backup:
      username: 'hqbackup'
      password: 'hqbackup'
      role_attr_flags: 'SUPERUSER'

encrypted_root: '/opt/data'

shared_drive_enabled: True
backup_postgres: dump
backup_blobdb: True
postgresql_backup_master: True
postgres_s3: False
nadir_hour: 18

nofile_limit: 65536
nginx_worker_rlimit_nofile: "{{ nofile_limit }}"

supervisor_http_enabled: True

mailrelay: 'relay.example.com'
root_email: 'root@example.com'

couchdb2:
  username: "{{ localsettings_private.COUCH_USERNAME }}"
  password: "{{ localsettings_private.COUCH_PASSWORD }}"

couch_dbs:
  default:
    host: "{{ groups.couchdb2.0 }}"
    port: 15984
    name: commcarehq
    username: "{{ localsettings_private.COUCH_USERNAME }}"
    password: "{{ localsettings_private.COUCH_PASSWORD }}"
    is_https: False
  users:
    host: "{{ groups.couchdb2.0 }}"
    port: 15984
    name: commcarehq__users
    username: "{{ localsettings_private.COUCH_USERNAME }}"
    password: "{{ localsettings_private.COUCH_PASSWORD }}"
    is_https: False

TOUCHFORMS_API_USER: 'touchforms@example.com'

localsettings:
  ALLOWED_HOSTS:
    - localhost
    - 127.0.0.1
    - "{{ SITE_HOST }}"
#  BANK_ADDRESS:
#  BANK_NAME:
#  BANK_SWIFT_CODE:
  CELERY_PERIODIC_QUEUE: 'celery_periodic'
#  CELERY_REMINDER_CASE_UPDATE_QUEUE:
#  CELERY_REMINDER_RULE_QUEUE:
#  CELERY_REPEAT_RECORD_QUEUE:
  CELERY_RESULT_BACKEND: 'database'
#  COUCH_CACHE_DOCS:
#  COUCH_CACHE_VIEWS:
  DEPLOY_MACHINE_NAME: "{{ inventory_hostname }}"
  ELASTICSEARCH_HOST: "{{ groups.elasticsearch.0 }}"
  ELASTICSEARCH_PORT: '9200'

  # Run `python -m smtpd -n -c DebuggingServer 0.0.0.0:1025` on proxy
  EMAIL_SMTP_HOST: '{{ groups.proxy.0 }}'
  EMAIL_SMTP_PORT: '1025'
  # use True in prod!
  EMAIL_USE_TLS: no
  FULLSTORY_ID:
    HQ_INSTANCE: 'dev'
#  INVOICE_FROM_ADDRESS:
#  INVOICE_PREFIX:
#  INVOICE_STARTING_NUMBER:
  J2ME_ADDRESS: ''
  KAFKA_URL: ''
    LOCAL_PILLOWS:
    custom:
      - name: 'kafka-ucr-main-custom-1'
        class: 'corehq.apps.userreports.pillow.ConfigurableReportKafkaPillow'
        instance: 'corehq.apps.userreports.pillow.get_kafka_ucr_static_pillow'
        params:
          ucr_division: '09'
      - name: 'kafka-ucr-main-custom-2'
        class: 'corehq.apps.userreports.pillow.ConfigurableReportKafkaPillow'
        instance: 'corehq.apps.userreports.pillow.get_kafka_ucr_static_pillow'
        params:
          ucr_division: 'af'
#  MEDIA_ROOT:
#  PILLOWTOP_MACHINE_ID:
#  PILLOW_RETRY_QUEUE_ENABLED:
  REDIS_DB: '0'
  REDIS_HOST: "{{ groups.redis.0 }}"
  REDIS_PORT: '6379'
#  REMINDERS_QUEUE_ENABLED:
  STATIC_CDN: ""
#  SMS_QUEUE_ENABLED: ''
#  STAGING_DOMAINS:
#  STATIC_ROOT:
  XFORMS_PLAYER_URL: "http://{{ groups.touchforms.0 }}:4444"
  FORMPLAYER_URL: "http://{{ groups.touchforms.0 }}:8181"
#  ENABLE_DRACONIAN_SECURITY_FEATURES: yes

commcare_cloud_use_vault: no
