#!/bin/bash
BACKUP_TYPE=$1
DAYS_TO_RETAIN_BACKUPS=$2

TODAY=$(date +"%Y_%m_%d")
BACKUP_FILE="blobdb_${BACKUP_TYPE}_${TODAY}.tar.gz"

tar -Pzcf "{{ blobdb_backup_dir }}/${BACKUP_FILE}" "{{ blobdb_dir_path }}"

# Remove old backups of this backup type
find {{ blobdb_backup_dir }} -mtime "+${DAYS_TO_RETAIN_BACKUPS}" -name "blobdb_${BACKUP_TYPE}_*" -delete;

{% if blobdb_s3 %}
( cd {{ blobdb_backup_dir }} && /usr/local/sbin/backup_snapshots.py "${BACKUP_FILE}" {{ blobdb_snapshot_bucket }} {{aws_endpoint}} )
{% endif %}
