 check process redis with pidfile {{ redis_pidfile }}
   group database
   group redis
   start program = "/etc/init.d/{{ redis_service_name }} start"
   stop program = "/etc/init.d/{{ redis_service_name }} stop"
   if failed host {{ inventory_hostname|ipaddr }} port {{ redis_port }} then restart
