daemonize yes
pidfile /var/run/redis/redis-server.pid
port {{ redis_port }}
bind {{ redis_bind_address }}

timeout 300

loglevel notice

{% if redis_syslog_enabled == "no" %}
logfile {{ redis_logfile }}
{% endif %}

syslog-enabled {{ redis_syslog_enabled }}
syslog-ident redis
syslog-facility {{ redis_syslog_facility }}

databases {{ redis_databases }}

# DB
dir {{ redis_db_dir }}

## RDB
{% for i in redis_database_save_times %}
save  {{ i[0] }} {{ i[1] }}
{% endfor %}
rdbcompression yes
dbfilename {{ redis_dbfilename }}

## Append Mode
appendonly {{ redis_appendonly }}
appendfsync {{ redis_appendfsync }}
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb
aof-load-truncated yes
aof-use-rdb-preamble yes

# Replication
{% if redis_role == 'slave' %}
slaveof {{ redis_master_ip }} {{ redis_master_port }}
masterauth {{ redis_master_auth }}
slave-serve-stale-data yes
{% endif %}

# Security
{% if redis_requirepass %} 
requirepass {{ redis_pass }}
{% endif %}

# Limits
maxclients {{ redis_max_clients }}
maxmemory {{ redis_max_memory }}
maxmemory-policy {{ redis_maxmemory_policy }}

# Slowlog
# microseconds, so 1000000 is equivalent to one second. -1 disables
slowlog-log-slower-than 10000
slowlog-max-len 128
