terraform {
  backend "s3" {
    bucket  = {{ state_bucket|tojson }}
    key     = "state/{{ environment }}.tfstate"
    region  = {{ state_bucket_region|tojson }}
    encrypt = true
  }
  {#- guaranteed to be a valid string; see comment in terraform_version_range_string definition #}
  required_version = "{{ terraform_version_range_string }}"
}

provider "aws" {
  version = "~> 3.75.1"
  region  = {{ region|tojson }}
}

provider "archive" {
  version = "~> 2.2.0"
}

provider "random" {
  version = "~> 3.1.2"
}

// for global accelerator which can only be configured in us-west-2
provider "aws" {
  alias = "us-west-2"
  region = "us-west-2"
}

variable "rds_password" {
  type = string
}
