variable "region" {}
variable "environment" {}
variable "azs" {
  type = list
}
variable "az_codes" {
  type = list
}
variable "vpc_begin_range" {}

# OptInRequired: In order to use this AWS Marketplace product you need to accept terms and subscribe.
# To do so please visit http://aws.amazon.com/marketplace/pp?sku=3ihdqli79gl9v2jnlzs6nq60h


data "aws_ami" "ubuntu_jammy" {
  # Should match what is in
  # https://cloud-images.ubuntu.com/locator/ec2/
  # with search hvm:ebs-ssd jammy amd64

  most_recent = true

  filter {
    name   = "name"
    values = ["ubuntu/images/hvm-ssd/ubuntu-jammy-22.04-amd64-server-*"]
  }

  filter {
    name   = "virtualization-type"
    values = ["hvm"]
  }

  owners = ["099720109477"] # Canonical
}

variable "dns_zone_id" {}
variable "dns_domain" {}
variable "internal_ssl_cert_arn" {}
variable "external_routes" {
  type = list
  default = []
}

variable "vpn_connections" {
  type = list
  default = []
}

variable "vpn_connection_routes" {
  type = list
  default = []
}

# Redis/ElastiCache variables
variable "redis" {
  type = map(string)
  default = {}
}

variable "rds_instances" {
  type = list
  default = []
}

variable "account_alias" {}

variable "key_name" {}
variable "servers" {
  type = list
  default = []
}

variable "proxy_servers" {
  type = list
  default = []
}

variable "s3_blob_db_s3_bucket" {}
variable "release_bucket" {}