commcarehq.host=https://{{ SITE_HOST }}
server.port=8181
user.suffix=commcarehq.org
logging.level.org.springframework.web.filter.CommonsRequestLoggingFilter=INFO

// Properties for HQ db
datasource.hq.driverClassName=org.postgresql.Driver
datasource.hq.url=jdbc:postgresql://{{ groups.postgresql.0 }}:6432/commcarehq?prepareThreshold=0
datasource.hq.username={{ postgres_users.commcare.username }}
datasource.hq.password={{ postgres_users.commcare.password }}

datasource.formplayer.driverClassName=org.postgresql.Driver
datasource.formplayer.url=jdbc:postgresql://{{ groups.postgresql.0 }}:6432/{{ formplayer_db_name
}}?prepareThreshold=0
datasource.formplayer.username={{ postgres_users.commcare.username }}
datasource.formplayer.password={{ postgres_users.commcare.password }}

// set flyway URL to Formplayer's own DB
flyway.url=jdbc:postgresql://{{ groups.postgresql.0 }}:6432/{{ formplayer_db_name }}?prepareThreshold=0
flyway.user={{ postgres_users.commcare.username }}
flyway.password={{ postgres_users.commcare.password }}
flyway.driverClassName=org.postgresql.Driver
flyway.location=classpath:db/migration

spring.jpa.hibernate.ddl-auto
