---

- name: Configure and start cloudwatch agent
  block:
    
  - name: Check if cloudwatch-agent-ctl exists
    shell: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a status
    become: yes
    register: ctl_status
    failed_when: false
    check_mode: no

  - name: install cwa if check command fails
    include: install-cwa.yml
    when: ctl_status.rc > 0

  - name: Create cloudwatch logs config
    template:
      src: "cloudwatch_logs.json.j2"
      dest: "/opt/aws/amazon-cloudwatch-agent/etc/cloudwatch_logs.json"
      group: cwagent
      owner: cwagent
      mode: 0644
    become: yes

  - name: Reload cloudwatch agent
    shell: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s
      -c file:/opt/aws/amazon-cloudwatch-agent/etc/cloudwatch_logs.json
    become: yes

  - name: Ensure cloudwatch agent enabled
    shell: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a start
    become: yes
  when: enable_cloudwatch_logs and log_files_collect_list | length
  tags: cloudwatch-logs
