---
- name: Install Nginx
  include: install.yml
  when: action == 'install'

- name: Configure Site
  include: site.yml
  when: action == 'site'

- name: Drop Site
  include: dropsite.yml
  when: action == 'dropsite'

- name: restart Site
  include: restart.yml
  when: action == 'restart'
  tags:
    - update-cert

- name: Configure Static Error pages
  include: errorpages.yml
  when: action == 'errorpages'
