[hqproxy0]
hqproxy0.internal-va.commcarehq.org

[proxy:children]
hqproxy0

[proxy:vars]
mount_points="[{'partition':'/dev/xvdb1', 'dest':'/mnt/storage', 'fstype':'ext4'}]"

[web0]
{{ web0-production }} hostname=web0-production ec2=yes

[web1]
{{ web1-production }} hostname=web1-production ec2=yes datadog_integration_tcp_check=yes

[web2]
{{ web2-production }} hostname=web2-production ec2=yes

[web3]
{{ web3-production }} hostname=web3-production ec2=yes

[web4]
{{ web4-production }} hostname=web4-production ec2=yes

[web5]
{{ web5-production }} hostname=web5-production ec2=yes

[web6]
{{ web6-production }} hostname=web6-production ec2=yes

[web7]
{{ web7-production }} hostname=web7-production ec2=yes datadog_integration_tcp_check=yes

[web8]
{{ web8-production }} hostname=web8-production ec2=yes

[web9]
{{ web9-production }} hostname=web9-production ec2=yes

[web10]
{{ web10-production }} hostname=web10-production ec2=yes

[web11]
{{ web11-production }} hostname=web11-production ec2=yes


[webworkers:children]
web0
web1
web2
web3
web4
web5
web6
web7
web8
web9
web10
web11

[hqdb0]
hqdb0.internal-va.commcarehq.org

[hqdb0:vars]
hot_standby_server=hqstandby0.internal-va.commcarehq.org
postgresql_replication_slots=['standby','spare']
datavol_device=/dev/xvdb

[hqdb1]
hqdb1.internal-va.commcarehq.org

[hqdb1:vars]
hot_standby_server=hqstandby1.internal-va.commcarehq.org
postgresql_replication_slots=['standby','spare']
datavol_device=/dev/xvdb

[hqdb3]
hqdb3.internal-va.commcarehq.org datadog_integration_tcp_check=yes

[hqdb3:vars]
#hot_standby_server=hqstandby3.internal-va.commcarehq.org
postgresql_replication_slots=['standby','spare']
datavol_device=/dev/xvdb

[hqdb5]
hqdb5.internal-va.commcarehq.org

[hqdb5:vars]
hot_standby_server=hqstandby2.internal-va.commcarehq.org
postgresql_replication_slots=['standby','spare']
datavol_device=/dev/xvdb

[pgsynclog1]
pgsynclog1.internal-va.commcarehq.org

[pgsynclog1:vars]
postgresql_replication_slots=['standby','spare']
datavol_device=/dev/xvdb

[postgresql_15gb:vars]
postgresql_work_mem=2457kB
postgresql_shared_buffers=3840MB
postgresql_effective_cache_size=11520MB
postgresql_maintenance_work_mem=960MB


[postgresql_30gb:vars]
postgresql_work_mem=6553kB
postgresql_shared_buffers=7680MB
postgresql_effective_cache_size=23040MB
postgresql_maintenance_work_mem=1920MB

[postgresql_30gb:children]
hqdb5

[postgresql_15gb:children]
hqdb0
hqdb1
hqdb3
pgsynclog1

[postgresql:children]
postgresql_30gb
postgresql_15gb

[hqtouch0]
hqtouch0.internal-va.commcarehq.org

[rabbitmq:children]
hqtouch0

[rabbitmq:vars]
swap_size=2G

[hqes1]
hqes1.internal-va.commcarehq.org

[zookeeper:children]
hqes1

[kafka:children]
hqes1

[kafka:vars]
kafka_broker_id=1

[hqcelery0]
hqcelery0.internal-va.commcarehq.org

[hqcelery1]
hqcelery1.internal-va.commcarehq.org datadog_integrations=celery

[hqcelery2]
hqcelery2.internal-va.commcarehq.org

[hqcelery3]
hqcelery3.internal-va.commcarehq.org

[hqcelery4]
hqcelery4.internal-va.commcarehq.org

[celery:children]
hqcelery1
hqcelery0
hqcelery2
hqcelery3
hqcelery4

[celery:vars]
swap_size=8G

[hqpillowtop0]
hqpillowtop0.internal-va.commcarehq.org

[hqpillowtop2]
hqpillowtop2.internal-va.commcarehq.org

[hqpillowtop3]
hqpillowtop3.internal-va.commcarehq.org

[pillowtop:children]
hqpillowtop0
hqpillowtop2
hqpillowtop3

[hqformplayer1]
hqformplayer1.internal-va.commcarehq.org

[formplayer:children]
hqformplayer1

[redis1]
redis1.internal-va.commcarehq.org datavol_device=/dev/xvdb

[redis:children]
redis1

[es10]
{{ es10-production }} hostname=es10-production elasticsearch_node_name=es10 ec2=yes

[es11]
{{ es11-production }} hostname=es11-production elasticsearch_node_name=es11 ec2=yes

[es12]
{{ es12-production }} hostname=es12-production elasticsearch_node_name=es12 ec2=yes

[es13]
{{ es13-production }} hostname=es13-production elasticsearch_node_name=es13 ec2=yes

[es14]
{{ es14-production }} hostname=es14-production elasticsearch_node_name=es14 ec2=yes

[esmaster0]
{{ esmaster0-production }} hostname=esmaster0-production elasticsearch_node_name=esmaster0 ec2=yes

[esmaster1]
{{ esmaster1-production }} hostname=esmaster1-production elasticsearch_node_name=esmaster1 ec2=yes

[esmaster2]
{{ esmaster2-production }} hostname=esmaster2-production elasticsearch_node_name=esmaster2 ec2=yes

[es_master:children]
esmaster0
esmaster1
esmaster2

[es_master:vars]
elasticsearch_master=true
elasticsearch_data=false

[es_data:children]
es10
es11
es12
es13
es14

[es_data:vars]
elasticsearch_node_zone=aws

[elasticsearch:children]
es_master
es_data


[shared_dir_host:children]
hqdb0

[shared_dir_host:vars]
datadisk_device=/dev/xvde

[hqriak21]
hqriak21.internal-va.commcarehq.org

[hqriak22]
hqriak22.internal-va.commcarehq.org

[hqriak23]
hqriak23.internal-va.commcarehq.org

[hqriak24]
hqriak24.internal-va.commcarehq.org

[hqriak28]
hqriak28.internal-va.commcarehq.org

[hqriak29]
hqriak29.internal-va.commcarehq.org

[hqriak30]
hqriak30.internal-va.commcarehq.org

[hqriak31]
hqriak31.internal-va.commcarehq.org

[hqriak32]
hqriak32.internal-va.commcarehq.org

[hqriak33]
hqriak33.internal-va.commcarehq.org

[hqriak34]
hqriak34.internal-va.commcarehq.org

[hqriak35]
hqriak35.internal-va.commcarehq.org

[hqriak36]
hqriak36.internal-va.commcarehq.org

[riakcs:children]
hqriak21
hqriak22
hqriak23
hqriak24
hqriak28
hqriak29
hqriak30
hqriak31
hqriak32
hqriak33
hqriak34
hqriak35
hqriak36

[riakcs:vars]
datavol_device=/dev/mapper/consolidated-data
swap_size=4G
devices=["/dev/xvdc"]
partitions=["/dev/xvdc1"]

[stanchion:children]
hqriak21

[lvm:children]
riakcs

[hqstandby0]
hqstandby0.internal-va.commcarehq.org

[hqstandby0:vars]
pg_backup_from=hqdb0.internal-va.commcarehq.org
hot_standby_master=hqdb0.internal-va.commcarehq.org
replication_slot=standby

[hqstandby1]
hqstandby1.internal-va.commcarehq.org

[hqstandby1:vars]
pg_backup_from=hqdb1.internal-va.commcarehq.org
hot_standby_master=hqdb1.internal-va.commcarehq.org
replication_slot=standby
datavol_device=/dev/xvdb

[hqstandby2]
hqstandby2.internal-va.commcarehq.org

[hqstandby2:vars]
pg_backup_from=hqdb5.internal-va.commcarehq.org
hot_standby_master=hqdb5.internal-va.commcarehq.org
replication_slot=standby
datavol_device=/dev/xvdb

[pg_standby:children]
hqstandby0
hqstandby1
hqstandby2

[pg_backup:children]
hqstandby0
hqstandby1
hqstandby2

[control]
{{ control-production }} hostname=control-production ec2=yes

[hqdjangomanage0]
hqdjangomanage0.internal-va.commcarehq.org

[django_manage:children]
hqdjangomanage0
