{{ __proxy2__ }}
{{ __proxy3__ }}

[proxy:children]
proxy2
proxy3

{{ __web_a__ }}

{{ __web_b__ }}

[logproxy:children]
proxy

[hq_webworkers:children]
web_a

[mobile_webworkers:children]
web_b

[webworkers:children]
hq_webworkers
mobile_webworkers

{{ __pgbouncer3__ }}
{{ __pgbouncer5__ }}
{{ __pgbouncer6__ }}
{{ __pgbouncer7__ }}
{{ __pgbouncer8__ }}

{{ __rds_pgmain0__ }}

{{ __rds_pgucr0__ }}

{{ __rds_pgshard1__ }}

{{ __rds_pgshard2__ }}

{{ __rds_pgshard3__ }}

{{ __rds_pgshard4__ }}

{{ __rds_pgshard5__ }}

{{ __rds_pgsynclog0__ }}

{{ __pgformplayer_nlb__ }}

[remote_postgresql:children]
rds_pgmain0
rds_pgucr0
rds_pgshard1
rds_pgshard2
rds_pgshard3
rds_pgshard4
rds_pgshard5
rds_pgsynclog0

[postgresql:children]
pgbouncer3
remote_postgresql

[pgbouncer:children]
pgbouncer3
pgbouncer5
pgbouncer6
pgbouncer7
pgbouncer8
pgformplayer_nlb

[ansible_skip:children]
remote_postgresql
pgformplayer_nlb

{{ __rabbit2__ }}
{{ __rabbit3__ }}

[rabbitmq:children]
rabbit2
rabbit3

[rabbitmq:vars]
swap_size=2G

{{ __kafka1__ }} kafka_broker_id=2

[zookeeper:children]
kafka1

[kafka:children]
kafka1

{{ __celery_a__ }}

[celery:children]
celery_a

[celery:vars]
swap_size=8G

{{ __pillow1__ }}

{{ __pillow_a__ }}

[pillowtop:children]
pillow1
pillow_a

{{ __formplayer_c__ }}

[formplayer:children]
formplayer_c

[formplayer:vars]
extra_formplayer_args='-XX:+UseG1GC -XX:+UseStringDeduplication'
formplayer_efs_dns={{ aws_resources['formplayer-efs'] }}:/
cchq_uid=1025
cchq_gid=1026

[formplayer_debug:vars]
use_formplayer_debug_options=true

[formplayer_debug:children]
formplayer_c000
formplayer_c014

[formplayer_with_monit:vars]
use_monit_for_formplayer=true

[formplayer_with_monit:children]
formplayer_c014
formplayer_c023

{{ __redis0__ }} swap_size=1G

[redis:children]
redis0

{{ __shareddir1__ }}

[shared_dir_host:children]
shareddir1

{{ __es24__ }} elasticsearch_node_name=es24

{{ __es25__ }} elasticsearch_node_name=es25

{{ __es26__ }} elasticsearch_node_name=es26

{{ __es27__ }} elasticsearch_node_name=es27

{{ __es28__ }} elasticsearch_node_name=es28

{{ __es29__ }} elasticsearch_node_name=es29

{{ __es30__ }} elasticsearch_node_name=es30

{{ __es31__ }} elasticsearch_node_name=es31

{{ __es_a__ }}

{{ __esmaster3__ }} elasticsearch_node_name=esmaster3

{{ __esmaster4__ }} elasticsearch_node_name=esmaster4

{{ __esmaster5__ }} elasticsearch_node_name=esmaster5

[es_master:children]
esmaster3
esmaster4
esmaster5

[es_master:vars]
elasticsearch_master=true
elasticsearch_data=false

[es_data:children]
es24
es25
es26
es27
es28
es29
es30
es31
es_a

[es_data:vars]
elasticsearch_node_zone=aws

[elasticsearch:children]
es_master
es_data

{{ __couch12__ }}
{{ __couch13__ }}
{{ __couch14__ }}

[couchdb2:children]
couch12
couch13
couch14

[couchdb2:vars]
swap_size=8G

{{ __couchproxy2__ }}

[couchdb2_proxy:children]
couchproxy2

{{ __control1__ }}

[control:children]
control1

{{ __djangomanage1__ }}

[django_manage:children]
djangomanage1
