---
- import_playbook: host_group_aliases.yml

- name: CitusDB Machine Setup
  hosts:
    - citusdb
  become: true
  roles:
    - {role: ecryptfs, tags: 'ecryptfs'}

- name: Encrypt WAL Drive
  hosts: citusdb:!pg_standby
  tasks: 
    - name: Encrypt drive 
      vars: 
        dir_path: "{{ postgresql_archive_path }}"
      include: encrypt_dir.yml
      when: postgresql_archive_path is defined    
  tags: ecryptfs

- name: CitusDB
  hosts: 
    - citusdb
  become: true
  roles:
    - {role: citusdb, tags: 'citusdb'}

- name: pgbouncer
  hosts: citusdb_master
  become: true
  roles:
    - {role: pgbouncer, tags: 'pgbouncer'}

- name: Setup auth for standby
  hosts:
    - citusdb
  vars:
    - userFrom: postgres
    - hostTo: "{{ hot_standby_server }}"
    - userTo: postgres
    - state: 'present'
  tasks:
    - import_tasks: roles/setup_auth_keys.yml
      when: hot_standby_server is defined and hot_standby_server
  tags:
    - pg_standby

- name: pgbouncer
  hosts: citusdb_worker
  become: true
  vars:
    - postgresql_port: "{{ citus_postgresql_port }}"
  vars_files:
    - roles/citusdb/defaults/main.yml
    - roles/citusdb/vars/pgbouncer_workers.yml
  roles:
    - {role: pgbouncer, tags: 'pgbouncer'}

# Disables transparent huge pages (THP)
- name: Disable THP
  become: true
  hosts:
    - citusdb
  tags:
    - kernel_tuning
    - after-reboot
  roles:
    - role: kernel_tune
