- import_playbook: host_group_aliases.yml

- name: CommcareHQ
  hosts: commcarehq
  become: true
  roles:
    - {role: commcarehq, tags: commcarehq}
  tasks:
    - import_tasks: roles/ecryptfs/tasks/tmp.yml
      tags: ecryptfs

- name: Celery cron jobs for HQ
  hosts:
    - celery
  become: true
  roles:
    - role: tmpreaper
      tags: ['commcarehq', 'celery_hq', 'tmpreaper', 'cron']
      tmpreaper_time: '2d'

- name: Temporary task to remove old service directory
  become: true
  become_user: "{{ cchq_user }}"
  hosts:
    - webworkers
    - formplayer
    - celery
    - proxy
  tasks:
    - file:
        path: "{{ legacy_service_home }}/"
        state: absent
      tags: services

- name: Celery Supervisor Config
  hosts: celery
  tasks:
    - include_tasks: roles/commcarehq/tasks/celery.yml
      tags: services

- name: Pillowtop Supervisor Config
  hosts: pillowtop
  tasks:
    - include_tasks: roles/commcarehq/tasks/pillowtop.yml
      tags: services

- name: Proxy Websockets Supervisor Config
  hosts: proxy
  tasks:
    - include_tasks: roles/commcarehq/tasks/proxy_websockets.yml
      when: run_websockets_wsgi|bool
      tags: services

- name: Webworker Supervisor Config
  hosts: webworkers
  tasks:
    - include_tasks: roles/commcarehq/tasks/webworkers.yml
      tags: services

- name: Formplayer Supervisor Config
  hosts: formplayer
  tasks:
    - import_role:
        name: commcarehq
        tasks_from: formplayer
      tags: services

- name: Airflow Supervisor Config
  hosts: airflow_scheduler
  tasks:
    - include_tasks: roles/commcarehq/tasks/airflow.yml
      tags: services

- name: Management Command Supervisor Config
  hosts: commcarehq
  tasks:
    - include_tasks: roles/commcarehq/tasks/management_commands.yml
      tags: services

- name: Prometheus Supervisor Config
  hosts: celery,webworkers,pillowtop
  tasks:
    - include_tasks: roles/commcarehq/tasks/prometheus.yml
      tags: services
      when: prometheus_monitoring_enabled|default(False)

# https://stackoverflow.com/a/30372407
- name: Remove old supervisor files
  hosts:
    - celery
    - formplayer
    - pillowtop
    - proxy
    - webworkers
  tasks:
    - set_fact:
        supervisor_files: "{{ celery_managed_files|default([]) + pillowtop_managed_files|default([]) + proxy_managed_files|default([]) + webworker_managed_files|default([]) + airflow_managed_files|default([]) + formplayer_managed_files|default([]) + mgmt_cmd_managed_files|default([]) + prometheus_managed_files|default([]) }}"
      tags: services
    - shell: find {{ service_home|quote }} -type f
      register: contents
      tags: services
      check_mode: no
      changed_when: no
    - name: "Remove supervisor configs that are no longer needed"
      file:
        path: "{{ item }}"
        state: absent
      with_items: "{{ contents.stdout_lines }}"
      when: item not in supervisor_files
      tags: services