---
- name: Common Database Machine Setup
  hosts:
    - couchdb
    - redis
    - elasticsearch
    - rabbitmq
    - riakcs
    - formplayer
    - django_manage
  become: true
  roles:
    - {role: ecryptfs, tags: 'ecryptfs'}
    - {role: backups, tags: 'backups'}
  tasks:
    - import_tasks: roles/ecryptfs/tasks/remove-tmp.yml
      tags: ecryptfs-cleanup


- name : PostgreSQL
  import_playbook: deploy_postgres.yml

- name : CitusDB
  import_playbook: deploy_citusdb.yml

- name: Couchdb
  hosts: couchdb
  become: true
  roles:
    - {role: couchdb, tags: 'couchdb'}

- name: Couchdb log rolling configurations
  hosts: couchdb
  become: true
  roles:
    - role: ansible-logrotate
      tags: couchdb
      logrotate_scripts:
        - name: "{{ deploy_env }}_couchdb"
          path: "{{ couch_log_dir }}/*.log"
          options:
            - daily
            - size 100M
            - rotate 10
            - missingok
            - compress
            - delaycompress
            - copytruncate
            - nocreate
            - notifempty

- import_playbook: deploy_couchdb2.yml

- name: Redis
  hosts: redis
  become: true
  roles:
    - {role: redis, tags: 'redis'}

- name: Elasticsearch
  hosts: elasticsearch
  become: true
  roles:
    - {role: elasticsearch, tags: 'elasticsearch'}

- name: Redis Monitoring
  hosts: redis
  become: true
  roles:
    - redis_monitoring

- import_playbook: deploy_rabbitmq.yml
  tags:
    - rabbitmq

- import_playbook: deploy_kafka.yml
  tags:
    - kafka
    - zookeeper

- import_playbook: deploy_riakcs.yml
  tags: riakcs

# Note other machines also have java installed, but are initiated through the meta task
- name: Java
  become: true
  hosts:
    - celery
  roles:
    - {role: java, tags: java}

# Disables transparent huge pages (THP)
- name: Disable THP
  become: true
  hosts:
    - couchdb
    - redis
    - elasticsearch
    - rabbitmq
    - riakcs
    - formplayer
  tags: 'kernel_tuning'
  roles:
    - role: thp

- name: Move logrotate to hourly
  hosts:
    - proxy
  become: true
  roles:
    - role: logrotate
