---
- name: Common Database Machine Setup
  hosts:
    - kafka
    - zookeeper
  become: true
  roles:
    - {role: ecryptfs, tags: 'ecryptfs'}
  tasks:
    - import_tasks: roles/ecryptfs/tasks/remove-tmp.yml
      tags: ecryptfs-cleanup

- name: Zookeeper
  hosts: zookeeper
  become: true
  roles:
    - {role: zookeeper, tags: 'zookeeper'}

- name: Kafka
  hosts: kafka
  become: true
  environment:
    JMX_PORT: 9999
  roles:
    - {role: kafka, tags: 'kafka'}

- name: Disable THP
  become: true
  hosts:
    - zookeeper
    - kafka
  tags: 'kernel_tuning'
  roles:
    - role: thp
