---
- name: Common Database Machine Setup
  hosts:
    - couchdb2
  become: true
  roles:
    - {role: ecryptfs, tags: 'ecryptfs'}
    - {role: backups, tags: 'backups'}

- name: Couchdb 2.0
  hosts: couchdb2
  become: true
  roles:
    - {role: couchdb2, tags: 'couchdb2'}

- name: Move logrotate to hourly
  hosts: couchdb2_proxy
  become: true
  roles:
    - role: logrotate

- name: Couchdb2 log rolling configurations
  hosts: couchdb2
  become: true
  roles:
    - role: ansible-logrotate
      tags: couchdb2
      logrotate_scripts:
        - name: "{{ deploy_env }}_couchdb2"
          path: "{{ couchdb_dir }}/var/log/*.stderr"
          options:
            - daily
            - size 100M
            - rotate 10
            - missingok
            - compress
            - delaycompress
            - copytruncate
            - nocreate
            - notifempty

- name: Couchdb2 proxy
  hosts: couchdb2_proxy
  become: true
  tasks:
    - import_tasks: partials/couchdb2_proxy_nginx.yml
      when: not couchdb_use_haproxy
    - import_tasks: partials/couchdb2_proxy_haproxy.yml
      when: couchdb_use_haproxy
  tags: proxy
