- name: "Install postfix"
  hosts: all
  become: true
  tasks:
    - debconf: name=postfix question="postfix/main_mailer_type" value="Internet Site" vtype="string"
    - apt: name=postfix state=present force=yes
  tags:
    - postfix

- name: "mail relay deploy"
  hosts: mailrelay
  become: true
  tasks:
    - name: "sets our relayhost"
      lineinfile:
        dest: /etc/postfix/main.cf
        regexp: '^relayhost ='
        line: "relayhost = {{ parent_mailrelay }}"
      when: groups['mailrelay'] is defined and parent_mailrelay is defined
    - name: "grants relay access"
      lineinfile:
        dest: /etc/postfix/main.cf
        regexp: '^mynetworks ='
        line: "mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128 {{ groups['all']|sort|join('/32 ') }}"
      when: groups['mailrelay'] is defined and parent_mailrelay is defined

    - name: "no error for relay transport"
      lineinfile:
        dest: /etc/postfix/main.cf
        line: "relay_transport = error"
        state: absent
    - name: "no error for mail transport"
      lineinfile:
        dest: /etc/postfix/main.cf
        line: "default_transport = error"
        state: absent
    - name: "unbinds from localhost"
      lineinfile:
        dest: /etc/postfix/main.cf
        line: "inet_interfaces = loopback-only"
        state: absent
      when: groups['mailrelay'] is defined and parent_mailrelay is defined
      notify: restart postfix
  handlers:
    - name: restart postfix
      service: name=postfix state=restarted
  tags:
    - postfix

- name: "mail relay clients deploy"
  hosts: all:!mailrelay
  become: true
  tasks:
    - name: "sets external relayhost"
      lineinfile:
        dest: /etc/postfix/main.cf
        regexp: '^relayhost ='
        line: "relayhost = {{ groups['mailrelay'][0] }}"
      when: groups['mailrelay'] is defined
      notify: restart postfix
  handlers:
    - name: restart postfix
      service: name=postfix state=restarted
  tags:
    - postfix
