- name: CommcareHQ
  hosts:
   - webworkers
   - touchforms
   - formplayer
   - celery
   - proxy
   - pillowtop
   - couchdb2_proxy
  become: true
  roles:
    - {role: commcarehq, tags: commcarehq}

- name: Celery cron jobs for HQ
  hosts:
    - celery
  become: true
  roles:
    - role: tmpreaper
      tags: ['commcarehq', 'celery_hq', 'tmpreaper', 'cron']
      tmpreaper_time: '2d'

- name: Pillows Supervisor Config
  hosts: pillowtop
  tasks:
    - include_tasks: roles/commcarehq/tasks/pillowtop.yml
      tags: services

- name: Celery Supervisor Config
  hosts: celery
  tasks:
    - include_tasks: roles/commcarehq/tasks/celery.yml
      tags: services

- name: Proxy Supervisor Config
  hosts: proxy
  tasks:
    - include_tasks: roles/commcarehq/tasks/proxy.yml
      tags: services

- name: Webworker Supervisor Config
  hosts: webworkers
  tasks:
    - include_tasks: roles/commcarehq/tasks/webworkers.yml
      tags: services

# https://stackoverflow.com/a/30372407
- name: Remove old supervisor files
  hosts:
    - celery
    - pillowtop
    - proxy
    - webworkers
  tasks:
    - set_fact:
        supervisor_files: "{{ celery_managed_files|default([]) + pillowtop_managed_files|default([]) + proxy_managed_files|default([]) + webworker_managed_files|default([]) }}"
      tags: services
    - shell: ls -1 {{ service_home|quote }}
      register: contents
      tags: services
    - name: "Remove supervisor configs that are no longer needed"
      file:
        path: "{{ service_home }}/{{ item }}"
        state: absent
      with_items: contents.stdout_lines
      when: item not in supervisor_files
      tags: services
