---
- name: Common Database Machine Setup
  hosts:
    - postgresql
    - couchdb
    - redis
    - elasticsearch
    - rabbitmq
  sudo: yes
  roles:
    - {role: ecryptfs, tags: 'ecryptfs'}

- name: Postgresql
  hosts: postgresql
  sudo: yes
  roles:
    - {role: postgresql, tags: 'postgresql'}

- name: Couchdb
  hosts: couchdb
  sudo: yes
  roles:
    - couchdb

- name: Redis
  hosts: redis
  sudo: yes
  roles:
    - bennojoy.redis

- name: Elasticsearch
  hosts: elasticsearch
  sudo: yes
  roles:
    - {role: elasticsearch, tags: 'elasticsearch'}

- name: Redis Monitoring
  hosts: redis
  sudo: yes
  roles:
    - redis_monitoring

- name: RabbitMQ
  hosts: rabbitmq
  sudo: yes
  roles:
    - rabbitmq
