- name: "Install postfix"
  hosts: all
  sudo: yes
  tasks:
    - debconf: name=postfix question="postfix/main_mailer_type" value="'Internet Site'" vtype="string"
    - apt: name=postfix state=present force=yes

- name: "mail relay deploy"
  hosts: mailrelay
  sudo: yes
  tasks:
    - name: "sets our relayhost"
      lineinfile:
        dest: /etc/postfix/main.cf
        regexp: '^relayhost ='
        line: "relayhost = {{ mailrelay }}"
      when: groups['mailrelay'] is defined and mailrelay is defined

- name: "mail relay clients deploy"
  hosts: all:!mailrelay
  sudo: yes
  tasks:
    - name: "sets external relayhost"
      lineinfile:
        dest: /etc/postfix/main.cf
        regexp: '^relayhost ='
        line: "relayhost = {{ groups['mailrelay'][0] }}"
      when: groups['mailrelay'] is defined
