---
# deploy_proxy.yml
- name: Proxy
  hosts: proxy
  roles:
    - { role: shared_dir }
    - { role: nginx, when: proxy_type == 'nginx', action: install }
    - { role: nginx, when: proxy_type == 'nginx', action: site, site_name: cchq_ssl }
    - { role: nginx, when: proxy_type == 'nginx', action: errorpages }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.cchq_redirect == True, action: site, site_name: cchq_redirect }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.cchq_http == True, action: site, site_name: cchq_http }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.cchq_http_redirect == True, action: site, site_name: cchq_http_redirect }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.hq_status == True, action: site, site_name: hq_status }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.motech2 == True, action: site, site_name: motech2 }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.motech2 == True, action: site, site_name: motech2_http }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.wiki == True, action: site, site_name: wiki }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.wiki == True, action: site, site_name: wiki_http }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.motech == True, action: site, site_name: motech}
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.motech == True, action: site, site_name: motech_http }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.cchq_http_j2me == True, action: site, site_name: cchq_http_j2me }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.riakcs == True, action: site, site_name: riakcs }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.tmp_riakcs == True, action: site, site_name: tmp_riakcs }
    # Don't put any .commcarehq.org ssl configurations below commtrack, the ssl cert variable that gets loaded persists between roles
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.commtrack_ssl == True, action: site, site_name: commtrack_ssl }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.commtrack_http == True, action: site, site_name: commtrack_http }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.icds_tableau == True, action: site, site_name: icds_tableau }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.icds_tableau == True, action: site, site_name: icds_tableau_http }
    - { role: nginx, when: proxy_type == 'nginx', action: restart }

- name: CAS Proxy
  hosts: cas_proxy
  roles:
    - { role: shared_dir }
    - { role: nginx, when: proxy_type == 'nginx', action: install }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.cas_ssl == True, action: site, site_name: cas_ssl }
    - { role: nginx, when: proxy_type == 'nginx', action: restart }

- name: Enikshay Proxy
  hosts: enikshay_proxy
  roles:
    - { role: shared_dir }
    - { role: nginx, when: proxy_type == 'nginx', action: install }
    - { role: nginx, when: proxy_type == 'nginx' and active_sites.enikshay_ssl == True, action: site, site_name: enikshay_ssl }
    - { role: nginx, when: proxy_type == 'nginx', action: restart }

- name: Nginx log rolling configurations
  hosts: proxy
  sudo: yes
  roles:
    - role: ansible-logrotate
      logrotate_scripts:
        - name: "{{ deploy_env }}"
          path: "{{ log_home }}/*.log"
          options:
            - monthly
            - size 1G
            - rotate 14
            - missingok
            - compress
            - delaycompress
            - copytruncate
            - nocreate
            - notifempty
