[program:{{ project }}-{{ deploy_env }}-formsplayer-spring]
environment={% for name, value in item.env_vars.items() %}{% if value %}{{ name }}="{{ value }}",{% endif %}{% endfor %}

command=java {{ app_processes_config.formplayer_command_args }} -Xmx{{ app_processes_config.formplayer_memory }} -XX:MaxMetaspaceSize=128m -XX:-OmitStackTraceInFastThrow -Xss1024k -jar {{ www_home }}/formplayer_build/current/formplayer.jar
user={{ cchq_user }}
autostart=true
autorestart=true
stdout_logfile={{ log_home }}/formplayer-spring.log
redirect_stderr=true
stderr_logfile={{ log_home }}/formplayer-spring.error.log
directory={{ www_home }}/formplayer_build/current
startsecs=10
