{% for command_name, params in app_processes_config.management_commands.get(inventory_hostname).items() | sort %}
[program:{{ project }}-{{ deploy_env }}-{{ command_name }}]
directory={{ code_home }}
environment=TMPDIR="{{ encrypted_tmp }}"
environment={% for name, value in item.env_vars.items() %}{% if value %}{{ name }}="{{ value }}",{% endif %}{% endfor %}

command={{ django_bash_runner if prometheus_monitoring_enabled else django_direct_runner }} {{ command_name }}
user={{ cchq_user }}
numprocs=1
autostart=true
autorestart=true
stdout_logfile={{ log_home }}/{{ command_name }}.log
redirect_stderr=true
stderr_logfile={{ log_home }}/{{ command_name }}.error.log
startsecs=0
stopwaitsecs=10

{% endfor %}
