[program:{{ project }}-{{ deploy_env }}-celery_flower]
command={{ virtualenv_home }}/bin/celery -A corehq flower --address=0.0.0.0 --port={{ app_processes_config.flower_port }}
directory={{ code_home }}
user={{ cchq_user }}
numprocs=1
autostart=true
autorestart=true
stdout_logfile={{ log_home }}/celery_flower.log
redirect_stderr=true
stderr_logfile={{ log_home }}/celery_flower.error.log
startsecs=10
; Need to wait for currently executing tasks to finish at shutdown.
; Increase this if you have very long running tasks.
stopwaitsecs = 600
; if rabbitmq is supervised, set its priority higher
; so it starts first
