{{ __control0__ }}
{{ __djangomanage0__ }}
{{ __web0__ }}
{{ __web1__ }}
{{ __celery1__ }} swap_size=4G
{{ __celery2__ }} swap_size=4G
{{ __celery3__ }} swap_size=4G
{{ __couch5__ }} swap_size=8G
{{ __couch8__ }} swap_size=8G
{{ __couch9__ }} swap_size=8G
{{ __esmaster2__ }} elasticsearch_node_name=esmaster2 elasticsearch_node_zone=ap-south-1b
{{ __esmaster3__ }} elasticsearch_node_name=esmaster3 elasticsearch_node_zone=ap-south-1b
{{ __esmaster4__ }} elasticsearch_node_name=esmaster4 elasticsearch_node_zone=ap-south-1a
{{ __es0__ }} elasticsearch_node_name=es0 elasticsearch_node_zone=ap-south-1a
{{ __es2__ }} elasticsearch_node_name=es2 elasticsearch_node_zone=ap-south-1b
{{ __citusmaster0__ }}
{{ __citusworker0__ }}
{{ __citusworker1__ }}
{{ __citusworker2__ }}

[es_master:children]
esmaster2
esmaster3
esmaster4

[es_master:vars]
elasticsearch_master=true
elasticsearch_data=false

[es_data:children]
es0
es2

[elasticsearch:children]
es_master
es_data

{{ __formplayer1__ }}
{{ __pillow2__ }}
{{ __kafka1__ }} kafka_broker_id=0
{{ __rabbit2__ }}
{{ __pgbouncer0__ }}
{{ __pgbouncer1__ }} pgbouncer_processes=2
{{ __proxy1__ }}
{{ __rds_pgmain0__ }}
{{ __pgformplayer_nlb__ }}
{{ __pgmain_nlb__ }}
{{ __pgucr_nlb__ }}
{{ __pgsynclogs_nlb__ }}


[citusdb_worker:children]
citusworker0
citusworker1
citusworker2

[citusdb_master:children]
citusmaster0

[citusdb:children]
citusmaster0
citusworker0
citusworker1
citusworker2

[pg_standby:children]
# empty

[proxy:children]
proxy1

[logproxy:children]
proxy1

[webworkers:children]
web0
web1

[postgresql:children]
remote_postgresql
pgbouncer0

[pgbouncer:children]
pgbouncer1
pgformplayer_nlb
pgmain_nlb
pgucr_nlb
pgsynclogs_nlb

[rabbitmq:children]
kafka1
rabbit2

[zookeeper:children]
kafka1

[kafka:children]
kafka1

[celery:children]
celery1
celery2
celery3

[pillowtop:children]
pillow2

[formplayer:children]
formplayer1

[elasticsearch:children]
es0
es2

[shared_efs_client_host:children]
celery
django_manage
proxy
pillowtop
webworkers

[couchdb2:children]
couch5
couch8
couch9

[couchdb2_proxy:children]
couch5

[control:children]
control0

[django_manage:children]
djangomanage0

[remote_postgresql:children]
rds_pgmain0

[ansible_skip:children]
remote_postgresql
pgformplayer_nlb
pgmain_nlb
pgucr_nlb
pgsynclogs_nlb
