{{ __control0__ }}
{{ __djangomanage0__ }}
{{ __web0__ }}
{{ __web1__ }}
{{ __citus0__ }}
{{ __citus1__ }}
{{ __citus2__ }}
{{ __citus2standby__ }}
{{ __citus1standby__ }}
{{ __airflow1__ }}
{{ __celery1__ }} swap_size=4G
{{ __celery2__ }} swap_size=4G
{{ __celery3__ }} swap_size=4G
{{ __couch5__ }} swap_size=8G
{{ __couch6__ }} swap_size=8G
{{ __couch7__ }} swap_size=8G
{{ __redis0__ }}
{{ __esmaster2__ }} elasticsearch_node_name=esmaster2 elasticsearch_node_zone=aws
{{ __esmaster3__ }} elasticsearch_node_name=esmaster3 elasticsearch_node_zone=aws
{{ __esmaster4__ }} elasticsearch_node_name=esmaster4 elasticsearch_node_zone=aws
{{ __es0__ }} elasticsearch_node_name=es0 elasticsearch_node_zone=aws
{{ __es1__ }} elasticsearch_node_name=es1 elasticsearch_node_zone=aws
{{ __citusmaster0__ }}
{{ __citusworker0__ }}
{{ __citusworker1__ }}
{{ __citusworker2__ }}

[es_master:children]
esmaster2
esmaster3
esmaster4

[es_master:vars]
elasticsearch_master=true
elasticsearch_data=false

[es_data:children]
es0
es1

[elasticsearch:children]
es_master
es_data

{{ __formplayer1__ }}
{{ __pillow2__ }}
{{ __kafka1__ }} kafka_broker_id=0
{{ __pgbouncer0__ }}
{{ __proxy1__ }}
{{ __rds_pgmain0__ }}

[citusdb_worker:children]
citus1
citus2
citus1standby
citus2standby
citusworker0
citusworker1
citusworker2

[citusdb_master:children]
citus0
citusmaster0

[citusdb:children]
citus0
citus1
citus2
citus1standby
citus2standby
citusmaster0
citusworker0
citusworker1
citusworker2

[citusdb_main:children]
citus0
citus1
citus2
citus1standby
citus2standby

[citusdb_test:children]
citusmaster0
citusworker0
citusworker1
citusworker2

[citusdb_main:vars]
citus_postgresql_version=12.4
citus_postgresql_port=5433
citus_version=9.4

[pg_standby:children]
citus1standby
citus2standby

[citus1:vars]
postgresql_replication_slots=['standby0']
hot_standby_server=10.203.10.220

[citus2:vars]
postgresql_replication_slots=['standby0']
hot_standby_server=10.203.10.105

[citus1standby:vars]
replication_slot=standby0
hot_standby_master=10.203.10.74

[citus2standby:vars]
replication_slot=standby0
hot_standby_master=10.203.10.190

[proxy:children]
proxy1

[logproxy:children]
proxy1

[webworkers:children]
web0
web1

[postgresql:children]
remote_postgresql
pgbouncer0

[rabbitmq:children]
kafka1

[zookeeper:children]
kafka1

[kafka:children]
kafka1

[celery:children]
celery1
celery2
celery3

[pillowtop:children]
pillow2

[formplayer:children]
formplayer1

[redis:children]
redis0

[elasticsearch:children]
es0
es1

[shared_dir_host:children]
redis0

[couchdb2:children]
couch5
couch6
couch7

[couchdb2_proxy:children]
couch5
couch6

[control:children]
control0

[django_manage:children]
djangomanage0

[airflow:children]
airflow1

[remote_postgresql:children]
rds_pgmain0

[ansible_skip:children]
remote_postgresql
