{{ __couch_a0__ }}
{{ __couch_a1__ }}
{{ __couch_a2__ }}

[couchdb2:children]
couch_a0
couch_a1
couch_a2

[couchdb2:vars]
swap_size=8G

{{ __couch_alb__ }}

[couchdb2_proxy:children]
couch_alb

[couchdb2_alb:children]
couch_alb

{{ __control_a0__ }}

[control:children]
control_a0

[control:vars]
swap_size=2G

[proxy:children]
control_a0

[ansible_skip:children]
couch_alb

[rabbitmq:children]
control_a0

[zookeeper:children]
control_a0

[kafka:children]
control_a0

[elasticsearch:children]
control_a0

[elasticsearch:vars]
number_of_replicas=0

[celery:children]
control_a0

[celery:vars]
celery_command_prefix='celery -A commcare.celery_tasks.tasks'

[django_manage:children]
control_a0

[pillowtop:children]
control_a0

[formplayer:children]
control_a0