{% if ALTERNATE_FORMPLAYER_HQ_HOST is defined %}
commcarehq.host=https://{{ ALTERNATE_FORMPLAYER_HQ_HOST }}
{% else %}
commcarehq.host=https://{{ SITE_HOST }}
{% endif %}
commcarehq.environment={{ env_monitoring_id }}
commcarehq.formplayerAuthKey={{ FORMPLAYER_INTERNAL_AUTH_KEY }}
server.port={{ formplayer_port }}
user.suffix=commcarehq.org
logging.level.org.springframework.web.filter.CommonsRequestLoggingFilter=INFO
sqlite.dataDir={{ formplayer_data_dir }}/
// Takes the format of https://<key>@sentry.io/<project>
// More info on the DSN can be found here: https://docs.sentry.io/quickstart/#configure-the-dsn
{% if http_proxy_address is defined %}
sentry.dsn={{ formplayer_sentry_dsn }}?http.proxy.host={{ http_proxy_address }}&http.proxy.port={{ http_proxy_port }}
{% else %}
sentry.dsn={{ formplayer_sentry_dsn }}
{% endif %}

couch.username={{ couch_dbs.default.username }}
couch.password={{ couch_dbs.default.password }}
// Note: line break after setting is necessary because jinja eats the newline
couch.protocol={% if couch_dbs.default.is_https %}https{% else %}http{% endif %}

couch.host={{ couch_dbs.default.host }}
couch.port={{ couch_dbs.default.port }}
couch.databaseName={{ couch_dbs.default.name }}

// Properties for HQ db
datasource.hq.driverClassName=org.postgresql.Driver
datasource.hq.url=jdbc:postgresql://{{ postgresql_dbs.main.pgbouncer_host }}:{{ postgresql_dbs.main.port }}/commcarehq?prepareThreshold=0
datasource.hq.username={{ postgres_users.commcare.username }}
datasource.hq.password={{ postgres_users.commcare.password }}

datasource.formplayer.driverClassName=org.postgresql.Driver
datasource.formplayer.url=jdbc:postgresql://{{ postgresql_dbs.formplayer.pgbouncer_host }}:{{ postgresql_dbs.formplayer.port
}}/{{ formplayer_db_name }}?prepareThreshold=0
datasource.formplayer.username={{ postgres_users.commcare.username }}
datasource.formplayer.password={{ postgres_users.commcare.password }}

// set flyway URL to Formplayer's own DB
flyway.url=jdbc:postgresql://{{ postgresql_dbs.formplayer.pgbouncer_host }}:{{ postgresql_dbs.formplayer.port }}/{{ formplayer_db_name }}?prepareThreshold=0
flyway.user={{ postgres_users.commcare.username }}
flyway.password={{ postgres_users.commcare.password }}
flyway.driverClassName=org.postgresql.Driver
flyway.location=classpath:db/migration

spring.jpa.hibernate.ddl-auto

smtp.host={{ localsettings.EMAIL_SMTP_HOST }}
smtp.port={{ localsettings.EMAIL_SMTP_PORT }}
smtp.username={{ EMAIL_LOGIN }}
{% if EMAIL_PASSWORD %}
smtp.password={{ EMAIL_PASSWORD }}
{% else %}
smtp.password=dummy
{% endif %}

smtp.from.address=commcarehq-noreply+{{ inventory_hostname_short }}@dimagi.com
smtp.to.address=commcarehq-ops+formplayer@dimagi.com

// Redis for locking
{% if is_redis_cluster %}
redis.clusterString={{ groups.redis_cluster_master | join(":" + localsettings.REDIS_PORT + ",") }}:{{ localsettings.REDIS_PORT }}
{% else %}
redis.hostname={{ localsettings.REDIS_HOST }}
{% endif %}

endpoints.enabled=true
management.address: 0.0.0.0
management.port: 8081
