 check file formplayer with path {{ formplayer_process_log_dir }}/formplayer-spring.log
  group formplayer
  start program = "/usr/bin/supervisorctl start {{ project }}-{{ deploy_env }}-formsplayer-spring"
  stop program = "/usr/bin/supervisorctl stop {{ project }}-{{ deploy_env }}-formsplayer-spring"
  if content = "^Caused by: java.lang.OutOfMemoryError: GC overhead limit exceeded" then restart

