---
- name: Copy extra config
  become: yes
  template:
    src: extras.ini.j2
    dest: "{{ couchdb_etc_local_dir }}/extras.ini"
    owner: '{{ couchdb_user }}'
    group: '{{ couchdb_group }}'
    mode: 0644
  notify: restart couchdb2

- meta: flush_handlers

- name: Add nodes
  uri:
    url: "http{% if couchdb_secure %}s{% endif %}://{{ inventory_hostname|ipaddr }}:{{ couchdb_node_port }}/_nodes/couchdb@{{ item|ipaddr }}"
    method: PUT
    user: "{{ couchdb2.username }}"
    password: "{{ couchdb2.password }}"
    force_basic_auth: true
    status_code: 201, 409 # 409 means already set up (conflict)
    body: '{}'
  when: inventory_hostname == groups.couchdb2.0 and item != groups.couchdb2.0
  with_items: "{{ groups.couchdb2 }}"
  tags:
    - add_couch_nodes

- name: Create system databases
  uri:
    url: "http{% if couchdb_secure %}s{% endif %}://{{ inventory_hostname|ipaddr }}:{{ couchdb_port }}/{{ item }}"
    method: PUT
    user: "{{ couchdb2.username }}"
    password: "{{ couchdb2.password }}"
    force_basic_auth: true
    status_code: 201, 412 # 412 means already set up (conflict)
    body: '{}'
  when: inventory_hostname == groups.couchdb2.0
  register: result
  until: not result.failed or 'Connection refused' not in result.msg
  retries: 5
  delay: 20
  with_items:
   - _users
   - _replicator
   - _global_changes

- name: Copy couch restart script (cleanup)
  become: yes
  file:
    dest: "/usr/local/sbin/couch2-restarter.sh"
    state: absent
  tags:
    - cron

- name: Create Cron job (cleanup)
  become: yes
  cron:
    name: "Reboot Couch"
    job: "/usr/local/sbin/couch2-restarter.sh > /dev/null"
    user: root
    cron_file: couch2-restarter
    state: absent
  tags:
    - cron

- name: Create couch backup dir
  become: yes
  file:
    path: "{{ couch_backup_dir }}"
    state: directory
    mode: 0700
    group: couchdb
    owner: couchdb
  when: backup_couch|bool
  tags:
    - cron
    - backups

- name: Copy couch backup script
  become: yes
  template:
    src: "create_couchdb_backup.sh.j2"
    dest: "/usr/local/sbin/create_couchdb_backup.sh"
    group: couchdb
    owner: couchdb
    mode: 0700
    backup: yes
  when: backup_couch|bool
  tags:
    - cron
    - backups

- name: Copy couch restore script
  become: yes
  template:
    src: "restore_couchdb_backup.sh.j2"
    dest: "/usr/local/sbin/restore_couchdb_backup.sh"
    group: couchdb
    owner: couchdb
    mode: 0700
    backup: yes
  when: backup_couch|bool
  tags:
    - cron
    - backups

- name: Create Daily Cron job (cleanup blobdb)
  become: yes
  cron:
    name: "Backup blobdb daily"
    job: "/usr/local/sbin/create_couchdb_backup.sh daily {{ couchdb_backup_days }}"
    minute: 0
    hour: "{{ nadir_hour|default(0) }}"
    weekday: "1,2,3,4,5,6"
    user: couchdb
    cron_file: backup_couch
    state: absent
  when: backup_couch|bool
  tags:
    - cron
    - backups

- name: Create Weekly Cron job (cleanup blobdb)
  become: yes
  cron:
    name: "Backup blobdb weekly"
    job: "/usr/local/sbin/create_couchdb_backup.sh weekly {{ couchdb_backup_weeks * 7 }}"
    minute: 0
    hour: "{{ nadir_hour|default(0) }}"
    weekday: 0
    user: couchdb
    cron_file: backup_couch
    state: absent
  when: backup_couch|bool
  tags:
    - cron
    - backups

- name: Create Hourly Cron job
  become: yes
  cron:
    name: "Backup couchdb hourly"
    job: "/usr/local/sbin/create_couchdb_backup_hourly.sh hourly {{ couchdb_backup_hours * 60 }}"
    minute: 0
    hour: "*/{{ nadir_hour_frequency|default(3) }}"
    weekday: "1,2,3,4,5,6"
    user: couchdb
    cron_file: backup_couch
    state: '{{ "present" if backup_couch and couch_backup_hourly else "absent"}}' 
  tags:
    - cron
    - backups

- name: Create Daily Cron job
  become: yes
  cron:
    name: "Backup couchdb daily"
    job: "/usr/local/sbin/create_couchdb_backup.sh daily {{ couchdb_backup_days }}"
    minute: 0
    hour: "{{ nadir_hour|default(0) }}"
    weekday: "1,2,3,4,5,6"
    user: couchdb
    cron_file: backup_couch
    state: '{{ "present" if backup_couch else "absent"}}'
  tags:
    - cron
    - backups

- name: Create Weekly Cron job
  become: yes
  cron:
    name: "Backup coudhdb weekly"
    job: "/usr/local/sbin/create_couchdb_backup.sh weekly {{ couchdb_backup_weeks * 7 }}"
    minute: 0
    hour: "{{ nadir_hour|default(0) }}"
    weekday: 0
    user: couchdb
    cron_file: backup_couch
    state: '{{ "present" if backup_couch else "absent"}}'
  tags:
    - cron
    - backups

- name: Set up check_s3_backups
  become: yes
  import_role:
    name: backups
    tasks_from: set_up_check_s3_backups.yml
  vars:
    service: 'couch'
    condition: "{{ check_s3_backups_email and couch_s3 and backup_couch and ('couchdb2' in group_names) }}"
    user: "couchdb"
    service_backup_dir: "{{ couch_backup_dir }}"

- import_tasks: compact.yml
  when: compact_couch_cron and inventory_hostname == groups.couchdb2.0

- name: Set up aws credentials
  become: yes
  import_role:
    name: backups
    tasks_from: set_up_aws_credentials.yml
  vars:
    s3_user: "couchdb"
    s3_user_home_dir: "{{ couchdb_dir }}"
  when: couch_s3|bool
  tags:
    - cron
    - backups

- name: start the couchdb2 service
  service: name="couchdb2" state=started enabled=yes
  tags: after-reboot

- name: couchdb2 monit config
  become: yes
  template:
    src: "monit.couchdb2.j2"
    dest: "/etc/monit/conf.d/couchdb2"
    group: root
    owner: root
    mode: 0640
  notify: reload monit
  tags: monit

- meta: flush_handlers

- monit:
    name: couchdb2
    state: monitored
  tags: monit
  ignore_errors: "{{ ansible_check_mode }}"
  register: result
  until: not result.failed or 'process not presently configured with monit' not in result.msg
  retries: 5
  delay: 20
