---

- import_playbook: host_group_aliases.yml

- name: Put /etc under version control using etckeeper
  hosts: all_commcarehq
  become: True
  roles:
    - role: debops-contrib.etckeeper
      tags: 'etckeeper'
  tasks:
    - name: Config git for /etc
      git_config:
        name: user.email
        repo: /etc
        scope: local
        value: 'root@{{ ansible_fqdn }}'
      tags: 'etckeeper'
