- name: Install pgpool2 
  apt: name= state=present
  with_items:
    - "postgresql-{{ postgresql_version }}-pgpool2"
    - pgpool2=3.7.5-2.pgdg14.04+1
  notify: Start pgpool
  tags:
    - pgpool

- name: Configure pgpool app
  template: src={{ item }}.j2 dest="{{ pgpool_config_home }}/{{ item }}" mode=0644 owner=root group=root
  with_items:
   - pcp.conf
   - pgpool.conf
   - pool_hba.conf
  notify: Restart pgpool

- name: Setup /etc/pgpool2/pool_passwd file
  shell: "pg_md5 -m -u {{ item.username }} {{ item.password }}"
  with_items: "{{ postgres_users.values() }}"
  notify: Restart pgpool

# Todo; review whether below will be needed
# - name: Setup pgpool extensions
#   sudo_user: postgres
#   command: "{{postgres_install_dir}}/bin/psql}}" -f /usr/share/postgresql/"{{ postgresql_version }}"/extension/{{ item }} template1
#   with_items:
#     - pgpool-recovery.sql

- name: Start pgpool
  service: name=pgpool2 state=started enabled=yes

