SITE_HOST: 'www.icds-cas.gov.in'
CAS_SITE_HOST: 'cas.commcarehq.org'
ALTERNATE_FORMPLAYER_HQ_HOST: "{{ CAS_SITE_HOST }}"
NO_WWW_SITE_HOST: 'icds-cas.gov.in'
deploy_env: icds
internal_domain_name: 'internal-icds.commcarehq.org'
tableau_server: 10.247.24.11:80

TABLEAU_HOST: 'reports.icds-cas.gov.in'

nginx_combined_cert_file: '../config/{{ deploy_env}}/ssl/icds-cas.gov.in.combined.crt'
nginx_key_file: '../config/{{ deploy_env }}/ssl/icds-cas.gov.in.key'

cas_nginx_combined_cert_file: '../config/{{ deploy_env}}/ssl/cas.commcarehq.org.combined.crt'
cas_key_file: '../config/{{ deploy_env }}/ssl/cas.commcarehq.org.key'

tableau_nginx_combined_cert_file: '../config/{{ deploy_env }}/ssl/reports.icds-cas.gov.in.crt'
tableau_key_file: '../config/{{ deploy_env }}/ssl/reports.icds-cas.gov.in.key'

active_sites:
  cchq_ssl: True
  cchq_redirect: True
  cchq_http: True
  cchq_http_redirect: True
  cchq_http_j2me: False
  commtrack_ssl: False
  commtrack_http: False
  hq_status: False
  tableau: False
  icds_tableau: True
  dhis: False
  wiki: False
  wiki_http: False
  motech: False
  motech1: False
  motech2: False
  riakcs: True
  cas_ssl: True
  couchdb2: True

riak_ring_size: 64

riakcs_s3_access_key: "{{ secrets.RIAKCS_S3_ACCESS_KEY }}"
riakcs_s3_secret_key: "{{ secrets.RIAKCS_S3_SECRET_KEY }}"

proxy_type: 'nginx'
primary_ssl_env: "cas"
nginx_max_clients: 1024
nginx_worker_rlimit_nofile : 16384

ansible_user_password_sha_512: "{{ secrets.ANSIBLE_USER_PASSWORD_SHA_512 }}"
fake_ssl_cert: no

elasticsearch_endpoint: '{{ groups.elasticsearch.0 }}'
elasticsearch_cluster_name: 'prodhqes-1.x'

formplayer_sentry_dsn: '{{ secrets.FORMPLAYER_SENTRY_DSN }}'

supervisor_http_enabled: True
supervisor_http_username: "{{ secrets.SUPERVISOR_HTTP_USERNAME }}"
supervisor_http_password: "{{ secrets.SUPERVISOR_HTTP_PASSWORD }}"

keystore_file: '../config/DimagiKeyStore'

backup_blobdb: False
backup_postgres: True
backup_es: False
postgres_s3: False
backup_couch: True
nadir_hour: 16

postgres_users: "{{ secrets.POSTGRES_USERS }}"

postgresql_shared_buffers: '8GB'
postgresql_max_stack_depth: '6MB'
postgresql_effective_cache_size: '16GB'
pgbouncer_reserve_pool: 5
pgbouncer_pool_timeout: 1
pgbouncer_pool_mode: transaction
pg_query_stats: True

formplayer_db_name: formplayer

nofile_limit: 65536

postgresql_dbs:
  - django_alias: default
    name: "{{localsettings.PG_DATABASE_NAME}}"
    host: "{{ groups.postgresql.2 }}"
  - django_alias: proxy
    name: commcarehq_proxy
    host: "{{ groups.postgresql.1 }}"
  - django_alias: p1
    name: commcarehq_p1
    shards: [0, 103]
    host: "{{ groups.postgresql.3 }}"
  - django_alias: p2
    name: commcarehq_p2
    shards: [104, 205]
    host: "{{ groups.postgresql.3 }}"
  - django_alias: p3
    name: commcarehq_p3
    shards: [206, 308]
    host: "{{ groups.postgresql.3 }}"
  - django_alias: p4
    name: commcarehq_p4
    shards: [309, 411]
    host: "{{ groups.postgresql.3 }}"
  - django_alias: p5
    name: commcarehq_p5
    shards: [412, 514]
    host: "{{ groups.postgresql.3 }}"
  - django_alias: p6
    name: commcarehq_p6
    shards: [515, 617]
    host: "{{ groups.postgresql.1 }}"
    query_stats: True
  - django_alias: p7
    name: commcarehq_p7
    shards: [618, 720]
    host: "{{ groups.postgresql.1 }}"
  - django_alias: p8
    name: commcarehq_p8
    shards: [721, 823]
    host: "{{ groups.postgresql.1 }}"
  - django_alias: p9
    name: commcarehq_p9
    shards: [824, 926]
    host: "{{ groups.postgresql.1 }}"
  - django_alias: p10
    name: commcarehq_p10
    shards: [927, 1023]
    host: "{{ groups.postgresql.1 }}"
  - name: commcarehq_ucr
    host: "{{ groups.postgresql.0 }}"
    django_alias: ucr
    django_migrate: False
  - django_alias: icds-ucr
    name: commcarehq_icds_aggregatedata
    host: "{{ groups.postgresql.0 }}"
    query_stats: True
  - name: commcarehq_icds_testdata
    host: "{{ groups.postgresql.0 }}"
  - name: "{{ formplayer_db_name }}"
    host: "{{ groups.postgresql.0 }}"
  - django_alias: icds-ucr-standby
    name: commcarehq_icds_aggregatedata
    host: "{{ hostvars[groups.postgresql.0].hot_standby_server }}"
    create: False
    django_migrate: False

redis_max_memory: 4096mb
redis_logfile: '/var/log/redis/redis-server.log'
redis_syslog_enabled: 'no'
redis_database_save_times: []
redis_max_clients: 10000
redis_maxmemory_policy: allkeys-lru

kafka_log_dir: '/opt/data/kafka'

ECRYPTFS_PASSWORD: "{{ secrets.ECRYPTFS_PASSWORD }}"

KSPLICE_ACTIVE: no
KSPLICE_ACTIVATION_KEY: "{{ secrets.KSPLICE_ACTIVATION_KEY }}"

AMQP_USER: "{{ secrets.AMQP_USER }}"
AMQP_PASSWORD: "{{ secrets.AMQP_PASSWORD }}"
AMQP_HOST: "{{ groups.rabbitmq.0 }}"
AMQP_NAME: commcarehq

ZABBIX_DB_ROOT_PASS: "{{ secrets.ZABBIX_DB_ROOT_PASS }}"
ZABBIX_DB_USER_PASS: "{{ secrets.ZABBIX_DB_USER_PASS }}"

DATADOG_ENABLED: True
DATADOG_API_KEY: "{{ secrets.DATADOG_API_KEY }}"
DATADOG_APP_KEY: "{{ secrets.DATADOG_APP_KEY }}"
datadog_integration_cloudant: False
datadog_integration_vmware: True

file_email: False

ufw_private_interface: eth0

shared_drive_enabled: true

# point hosts to the proxy machine
etc_hosts_lines:
  - '10.247.24.13		cas.commcarehq.org'
  - '10.247.24.13		reports.icds-cas.gov.in'
  - '10.247.24.13		www.icds-cas.gov.in'
etc_hosts_lines_removed: []

http_proxy_address: '10.247.24.16'
http_proxy_port: '3128'

commcare_errors_branch: "master-icds"
site_locations:
  - name: /files
    try_files: "$uri $uri/index.html $uri/ =404"
    auth_basic: '"Restricted Content"'
    auth_basic_user_file: '/etc/nginx/.htpasswd'
  - name: /bihar_ls_files 
    try_files: "$uri $uri/index.html $uri/ =404"
    auth_basic: '"Restricted Content"'
    auth_basic_user_file: "/etc/nginx/.htpasswd_bihar"
  - name: /maharashtra_icds-cas_files 
    try_files: "$uri $uri/index.html $uri/ =404"
    auth_basic: '"Restricted Content"'
    auth_basic_user_file: "/etc/nginx/.htpasswd_maharashtra"
  - name: /mp_ls_files
    try_files: "$uri $uri/index.html $uri/ =404"
    auth_basic: '"Restricted Content"'
    auth_basic_user_file: "/etc/nginx/.htpasswd_mp"
  - name: /ls_hindi 
    try_files: "$uri $uri/index.html $uri/ =404"
    auth_basic: '"Restricted Content"'
    auth_basic_user_file: "/etc/nginx/.htpasswd_ls_hindi"
  - name: /ls_marathi 
    try_files: "$uri $uri/index.html $uri/ =404"
    auth_basic: '"Restricted Content"'
    auth_basic_user_file: "/etc/nginx/.htpasswd_ls_marathi"
  - name: /ls_telugu 
    try_files: "$uri $uri/index.html $uri/ =404"
    auth_basic: '"Restricted Content"'
    auth_basic_user_file: "/etc/nginx/.htpasswd_ls_telugu"
  - name: /hindi_files 
    try_files: "$uri $uri/index.html $uri/ =404"
    auth_basic: '"Restricted Content"'
    auth_basic_user_file: "/etc/nginx/.htpasswd_hindi_files"
  - name: /marathi_files 
    try_files: "$uri $uri/index.html $uri/ =404"
    auth_basic: '"Restricted Content"'
    auth_basic_user_file: "/etc/nginx/.htpasswd_marathi_files"
  - name: /telugu_files 
    try_files: "$uri $uri/index.html $uri/ =404"
    auth_basic: '"Restricted Content"'
    auth_basic_user_file: "/etc/nginx/.htpasswd_telugu_files"
  - name: /adhaar_id_scanner_apk
    try_files: "$uri $uri/index.html $uri/ =404"
    auth_basic: '"Restricted Content"'
    auth_basic_user_file: "/etc/nginx/.htpasswd_adhaar_id_scanner_apk"

couchdb_cluster_settings:
  q: 8
  r: 2
  w: 2
  n: 2

couchdb2:
  username: "{{ localsettings_private.COUCH_USERNAME }}"
  password: "{{ localsettings_private.COUCH_USERNAME }}"

couch_dbs:
  default:
    host: "{{ groups.couchdb2[0] }}"
    port: "{{ couchdb2_proxy_port }}"
    name: commcarehq
    username: "{{ localsettings_private.COUCH_USERNAME }}"
    password: "{{ localsettings_private.COUCH_PASSWORD }}"
    is_https: False

localsettings:
  ALLOWED_HOSTS:
    - localhost
    - 127.0.0.1
    - '{{ SITE_HOST }}'
    - '{{ CAS_SITE_HOST }}'
  ASYNC_INDICATORS_TO_QUEUE: 30000
  ASYNC_INDICATOR_QUEUE_CRONTAB:
    minute: '*/5'
    hour: '0-7,18-23'
  BANK_ACCOUNT_NUMBER: "{{ localsettings_private.BANK_ACCOUNT_NUMBER }}"
  BANK_ADDRESS: { 'first_line': "1 Citizens Drive", 'city': "Riverside", 'region': "RI", 'postal_code': "02915" }
  BANK_NAME: "RBS Citizens N.A."
  BANK_SWIFT_CODE: 'CTZIUS33'
  BANK_ROUTING_NUMBER_ACH: "{{ localsettings_private.BANK_ROUTING_NUMBER_ACH }}"
  BANK_ROUTING_NUMBER_WIRE: "{{ localsettings_private.BANK_ROUTING_NUMBER_WIRE }}"
  BIGCOUCH: True
  BIGCOUCH_QUORUM_COUNT: 2
  BITLY_APIKEY: "{{ localsettings_private.BITLY_APIKEY }}"
  BITLY_LOGIN: "{{ localsettings_private.BITLY_LOGIN }}"
  BOOKKEEPER_CONTACT_EMAILS: "{{ localsettings_private.BOOKKEEPER_CONTACT_EMAILS }}"
  BROKER_URL: 'amqp://{{ secrets.AMQP_USER }}:{{ secrets.AMQP_PASSWORD }}@{{ AMQP_HOST }}:5672/{{ AMQP_NAME }}'
  CELERY_FLOWER_URL: "http://{{ groups.celery.0 }}:5555"
  CELERY_PERIODIC_QUEUE: 'celery_periodic'
  CELERY_REMINDER_CASE_UPDATE_QUEUE: 'reminder_case_update_queue'
  CELERY_REMINDER_RULE_QUEUE: 'reminder_rule_queue'
  CELERY_REPEAT_RECORD_QUEUE: 'repeat_record_queue'
  CELERY_RESULT_BACKEND: 'djcelery.backends.database:DatabaseBackend'
  CELERY_TIMEZONE: 'Asia/Kolkata'
  COMMCARE_HQ_NAME: 'ICDS-CAS Server'
  COMMCARE_NAME: 'ICDS-CAS'
  COUCH_CACHE_DOCS: True
  COUCH_CACHE_VIEWS: True
  COUCH_STALE_QUERY: 'update_after'
  COUCH_MONITORING_USERNAME: "{{ localsettings_private.COUCH_MONITORING_USERNAME }}"
  COUCH_MONITORING_PASSWORD: "{{ localsettings_private.COUCH_MONITORING_PASSWORD }}"
  DATADOG_TRACE:
    TAGS:
      env: icds
  DAYS_TO_KEEP_DEVICE_LOGS: 45
  DEPLOY_MACHINE_NAME: "{{ ansible_hostname }}"
  DROPBOX_APP_NAME: 'CommCareHQFiles'
  DROPBOX_KEY: "{{ localsettings_private.DROPBOX_KEY }}"
  DROPBOX_SECRET: "{{ localsettings_private.DROPBOX_SECRET }}"
  ELASTICSEARCH_HOST: "{{ groups.elasticsearch.0 }}"
  ELASTICSEARCH_PORT: '9200'
  EMAIL_LOGIN: "{{ localsettings_private.EMAIL_LOGIN }}"
  EMAIL_SMTP_HOST: 'localhost'
  EMAIL_SMTP_PORT: 25
  EMAIL_USE_TLS: no
  FORMPLAYER_URL: "/formplayer"
  FORMPLAYER_INTERNAL_AUTH_KEY: "{{ localsettings_private.FORMPLAYER_INTERNAL_AUTH_KEY }}"
  GMAPS_API_KEY: "{{ localsettings_private.GMAPS_API_KEY }}"
  GOOGLE_ANALYTICS_API_ID: "{{ localsettings_private.GOOGLE_ANALYTICS_API_ID }}"
  HQ_INSTANCE: 'icds'
#  HUBSPOT_API_ID: "{{ localsettings_private.HUBSPOT_API_ID }}"
#  HUBSPOT_API_KEY: "{{ localsettings_private.HUBSPOT_API_KEY }}"
  HQ_PRIVATE_KEY: "{{ localsettings_private.HQ_PRIVATE_KEY }}"
  ICDS_UCR_TEST_DATABASE_ALIAS : icds-ucr
  ICDS_UCR_DATABASE_ALIAS: icds-ucr
  INACTIVITY_TIMEOUT: 20160
  INVOICE_FROM_ADDRESS:
    'name': "Dimagi, Inc."
    'first_line': "585 Massachusetts Ave"
    'city': "Cambridge"
    'region': "MA"
    'postal_code': "02139"
    'country': "US"
    'phone_number': "(617) 649-2214"
    'email': "accounts@dimagi.com"
    'website': "http://www.dimagi.com"
  INVOICE_PREFIX: INC-
  INVOICE_STARTING_NUMBER: 5000
  JAR_KEY_ALIAS: javarosakey
  JAR_KEY_PASS: "{{ localsettings_private.JAR_KEY_PASS }}"
  JAR_STORE_PASS: "{{ localsettings_private.JAR_STORE_PASS }}"
  KAFKA_URL: "{{ groups.kafka.0 }}:9092"
  LOCAL_APPS:
    - 'ddtrace.contrib.django'
  LOCAL_PILLOWS:
    icds:
      - name: 'kafka-ucr-static-awc-location'
        class: 'corehq.apps.userreports.pillow.ConfigurableReportKafkaPillow'
        instance: 'corehq.apps.userreports.pillow.get_kafka_ucr_static_pillow'
        params:
          topics:
            - 'location'
          include_ucrs:
            - 'static-awc_location'
      - name: 'kafka-ucr-static-cases'
        class: 'corehq.apps.userreports.pillow.ConfigurableReportKafkaPillow'
        instance: 'corehq.apps.userreports.pillow.get_kafka_ucr_static_pillow'
        params:
          topics:
            - 'case-sql'
          include_ucrs:
            - 'static-hardware_cases'
            - 'static-household_cases'
            - 'static-tasks_cases'
            - 'static-tech_issue_cases'
            - 'static-child_health_cases'
            - 'static-child_cases_monthly'
            - 'static-child_cases_monthly_v2'
            - 'static-child_cases_monthly_tableau_v2'
            - 'static-ccs_record_cases'
            - 'static-ccs_record_cases_monthly'
            - 'static-ccs_record_cases_monthly_v2'
            - 'static-ccs_record_cases_monthly_tableau_v2'
            - 'static-person_cases_v2'
      - name: 'kafka-ucr-static-forms'
        class: 'corehq.apps.userreports.pillow.ConfigurableReportKafkaPillow'
        instance: 'corehq.apps.userreports.pillow.get_kafka_ucr_static_pillow'
        params:
          topics:
            - 'form-sql'
          include_ucrs:
            - 'static-child_delivery_forms'
            - 'static-daily_feeding_forms'
            - 'static-gm_forms'
            - 'static-home_visit_forms'
            - 'static-infrastructure_form'
            - 'static-awc_mgt_forms'
            - 'static-ls_home_visit_forms_filled'
            - 'static-thr_forms'
            - 'static-usage_forms'
            - 'static-vhnd_form'
            - 'static-visitorbook_forms'
  MIA_THE_DEPLOY_BOT_API: "{{ localsettings_private.MIA_THE_DEPLOY_BOT_API }}"
  OPEN_EXCHANGE_RATES_API_ID: "{{ localsettings_private.OPEN_EXCHANGE_RATES_API_ID }}"
  PG_DATABASE_HOST: "{{ groups.postgresql.0 }}"
  PG_DATABASE_NAME: commcarehq
  PG_DATABASE_PASSWORD: "{{ secrets.POSTGRES_USERS.commcare.password }}"
  PG_DATABASE_USER: "{{ secrets.POSTGRES_USERS.commcare.username }}"
  PG_DATABASE_PORT: 6432
  PILLOWTOP_MACHINE_ID: pil0
  PILLOW_RETRY_QUEUE_ENABLED: True
  REDIS_DB: '0'
  REDIS_HOST: "{{ groups.redis.0 }}"
  REDIS_PORT: '6379'
  REMINDERS_QUEUE_ENABLED: True
  REPORTING_DATABASES:
    ucr: ucr
    icds-ucr: icds-ucr
    icds-test-ucr: icds-ucr
  SECRET_KEY: "{{ localsettings_private.SECRET_KEY }}"
  SENTRY_PUBLIC_KEY: "{{ localsettings_private.SENTRY_PUBLIC_KEY }}"
  SENTRY_PRIVATE_KEY: "{{ localsettings_private.SENTRY_PRIVATE_KEY }}"
  SENTRY_PROJECT_ID: "{{ localsettings_private.SENTRY_PROJECT_ID }}"
  SENTRY_QUERY_URL: "{{ localsettings_private.SENTRY_QUERY_URL }}"
  SENTRY_API_KEY: "{{ localsettings_private.SENTRY_API_KEY }}"
#  SIMPLE_API_KEYS: "{{ localsettings_private.SIMPLE_API_KEYS }}"
  SMS_GATEWAY_PARAMS:
  SMS_GATEWAY_URL: 
  SMS_QUEUE_ENABLED: True
  STRIPE_PRIVATE_KEY: "{{ localsettings_private.STRIPE_PRIVATE_KEY }}"
  STRIPE_PUBLIC_KEY: "{{ localsettings_private.STRIPE_PUBLIC_KEY }}"
  TOUCHFORMS_API_PASSWORD: "{{ localsettings_private.TOUCHFORMS_API_PASSWORD }}"
  TOUCHFORMS_API_USER: "{{ localsettings_private.TOUCHFORMS_API_USER }}"
  TWO_FACTOR_SMS_GATEWAY: 'corehq.apps.hqwebapp.two_factor_gateways.Gateway'
  TWO_FACTOR_CALL_GATEWAY: 'corehq.apps.hqwebapp.two_factor_gateways.Gateway'
  USE_PARTITIONED_DATABASE: True
  WS4REDIS_CONNECTION_HOST: "{{ groups.redis.0 }}"
  XFORMS_PLAYER_URL: "http://{{ groups.touchforms.0 }}:4444/"
  ENABLE_PRELOGIN_SITE: False
  CUSTOM_LANDING_TEMPLATE: 'icds/login.html'
  ENTERPRISE_MODE: True
  ENABLE_DRACONIAN_SECURITY_FEATURES: yes
  TABLEAU_URL_ROOT: "https://{{ TABLEAU_HOST }}/"
  ICDS_DOMAIN: "{{ localsettings_private.ICDS_DOMAIN }}"
