init_config:

instances:
{% for couch_config in couch_dbs.values() %}
{% if couch_config.host == inventory_hostname %}
    - server: "http://{{ inventory_hostname|ipaddr }}:{{ couchdb2_port }}"
      user: {{ couch_dbs.default.username }}
      password: {{ couch_dbs.default.password }}
{% endif %}
{% endfor %}
