init_config:

instances:
{% for couch_config in couch_dbs.values() %}
{% if couch_config.host == inventory_hostname %}
    - server: "http{% if couch_config.is_https %}s{% endif %}://{{ couch_config.host }}:{{ couch_config.port }}"
{% endif %}
{% endfor %}
