#jinja2:trim_blocks: False
#
# {{ ansible_managed }}
#

[Main]
dd_url: https://app.datadoghq.com
api_key: {{ DATADOG_API_KEY }}
tags: environment:{{ deploy_env }}

# use unique hostname for GCE hosts, see http://dtdg.co/1eAynZk
gce_updated_hostname: yes

# Use mount points instead of volumes to track disk and fs metrics
# DEPRECATED: use conf.d/disk.yaml instead to configure it
use_mount: no

{% if inventory_hostname in groups['proxy'] %}
dogstreams: {{ log_home }}/{{ deploy_env }}-timing.log:{{ datadog_parsers_dest }}/nginx/timings.py:parse_nginx_timings
{% endif %}

{% if inventory_hostname in groups['webworkers'] %}
dogstreams: {{ log_home }}/{{ inventory_hostname_short }}-commcarehq.couch.log:{{ datadog_parsers_dest }}/couch/parsers.py:parse_couch_logs
{% endif %}
