#jinja2:trim_blocks: False
#
# {{ ansible_managed }}
#

[Main]
dd_url: https://app.datadoghq.com
api_key: {{ DATADOG_API_KEY }}
tags: {% for group, group_hosts in groups.items() -%}
    {%- if inventory_hostname in group_hosts %}group:{{ group }}, {% endif -%}
{%- endfor %} environment:{{ deploy_env }}

# use unique hostname for GCE hosts, see http://dtdg.co/1eAynZk
gce_updated_hostname: yes

# Use mount points instead of volumes to track disk and fs metrics
# DEPRECATED: use conf.d/disk.yaml instead to configure it
use_mount: no

{% if inventory_hostname in datadog_parsers|map(attribute='hosts')|join %}
dogstreams: {% for parser in datadog_parsers -%}
    {%- if inventory_hostname in parser.hosts -%}
        {{ parser.input }}
        {%- if parser.python_file is defined -%}
        :{{ parser.python_file }}
        {%- endif -%}
        {%- if parser.python_function is defined -%}
        :{{ parser.python_function }},
        {%- endif -%}
    {%- endif -%}
{%- endfor %}
{% endif %}
