init_config:

instances:
  - name: {{ env_monitoring_id }}
    url: https://{{ SITE_HOST }}/serverup.txt
    disable_ssl_validation: false
    check_certificate_expiration: true
    days_warning: 28
    days_critical: 14
    timeout: 20
    include_content: true
{#  wait for https://github.com/dimagi/commcare-hq/commit/22a1c1205ac48757996b45d2b6e5fdbc39b9ff31 #}
{#  - name: {{ env_monitoring_id }} Heartbeat#}
{#    url: https://{{ SITE_HOST }}/serverup.txt?only=heartbeat#}
{% for host in datadog_extra_host_checks %}
  - name: {{ host.url|urlsplit('hostname') }}
    url: {{ host.url }}
    disable_ssl_validation: {{ host.disable_ssl_validation|default('false') }}
    check_certificate_expiration: {{ host.check_certificate_expiration|default('true') }}
    days_warning: 28
    days_critical: 14
    timeout: 20
    include_content: false
{% endfor %}
