#
# {{ ansible_managed }}
#
init_config:
  custom_jar_paths: # optional
    - {{ code_home }}/formplayer_build/formplayer.jar

instances:
  - host: localhost
    port: 9999

    name: jmx_formplayer_instance

    tags:
      env: {{ deploy_env }}
      newTag: formplayer

    conf:
      # Permanent Generation
      # Java meta data about classes and other permanent objects are stored here.
      - include:
          domain: java.lang
          bean:
            - 'java.lang:type=MemoryPool,name=PS Perm Gen'
          attribute:
            Usage.committed:
              metric_type: gauge
              alias: jvm.perm_gen.committed
            Usage.init:
              metric_type: gauge
              alias: jvm.perm_gen.init
            Usage.max:
              metric_type: gauge
              alias: jvm.perm_gen.max
            Usage.used:
              metric_type: gauge
              alias: jvm.perm_gen.used
      # Eden Space
      # Most java allocations first happen in this space and then are moved to other spaces.
      - include:
          domain: java.lang
          bean:
            - 'java.lang:type=MemoryPool,name=PS Eden Space'
          attribute:
            Usage.committed:
              metric_type: gauge
              alias: jvm.eden_space.committed
            Usage.init:
              metric_type: gauge
              alias: jvm.eden_space.init
            Usage.max:
              metric_type: gauge
              alias: jvm.eden_space.max
            Usage.used:
              metric_type: gauge
              alias: jvm.eden_space.used
      # Survivor Space
      # Objects that survive garbage collection in the Eden space end up here.
      - include:
          domain: java.lang
          bean:
            - 'java.lang:type=MemoryPool,name=PS Survivor Space'
          attribute:
            Usage.committed:
              metric_type: gauge
              alias: jvm.survivor_space.committed
            Usage.init:
              metric_type: gauge
              alias: jvm.survivor_space.init
            Usage.max:
              metric_type: gauge
              alias: jvm.survivor_space.max
            Usage.used:
              metric_type: gauge
              alias: jvm.survivor_space.used
      # Old Gen Space
      # Objects that are in the survivor space for a long time end up here.
      - include:
          domain: java.lang
          bean:
            - 'java.lang:type=MemoryPool,name=PS Old Gen'
          attribute:
            Usage.committed:
              metric_type: gauge
              alias: jvm.old_gen.committed
            Usage.init:
              metric_type: gauge
              alias: jvm.old_gen.init
            Usage.max:
              metric_type: gauge
              alias: jvm.old_gen.max
            Usage.used:
              metric_type: gauge
              alias: jvm.old_gen.used
      - include:
          bean:
            - Tomcat:type=GlobalRequestProcessor
            - Tomcat:type=RequestProcessor
            - java.lang:type=Threading
            - java.lang:type=OperatingSystem
          attribute:
            - bytesSent
            - bytesReceived
            - errorCount
            - processingTime
            - requestCount
            - requestProcessingTime
            - requestBytesReceived
            - CurrentThreadCpuTime
            - CurrentThreadUserTime
            - TotalStartedThreadCount
            - DaemonThreadCount
            - PeakThreadCount
            - MaxFileDescriptorCount
            - OpenFileDescriptorCount
            - CommittedVirtualMemorySize
            - FreePhysicalMemorySize
            - FreeSwapSpaceSize
            - ProcessCpuLoad
            - ProcessCpuTime
            - SystemCpuLoad
            - TotalPhysicalMemorySize
            - TotalSwapSpaceSize
            - SystemLoadAverage
            - AvailableProcessors
