#
# {{ ansible_managed }}
#
init_config:
  custom_jar_paths: # optional
    - {{ code_home }}/formplayer_build/formplayer.jar

instances:
  - host: localhost
    port: 9999

    name: jmx_formplayer_instance

    tags:
      env: {{ deploy_env }}
      newTag: formplayer

    conf:
      - include:
          bean:
            - Tomcat:type=GlobalRequestProcessor
            - Tomcat:type=RequestProcessor
            - java.lang:type=Threading
            - java.lang:type=OperatingSystem
          attribute:
            - bytesSent
            - bytesReceived
            - errorCount
            - processingTime
            - bytesSent
            - bytesReceived
            - errorCount
            - requestCount
            - requestProcessingTime
            - requestBytesReceived
            - errorCount
            - CurrentThreadCpuTime
            - CurrentThreadUserTime
            - TotalStartedThreadCount
            - DaemonThreadCount
            - PeakThreadCount
            - MaxFileDescriptorCount
            - OpenFileDescriptorCount
            - CommittedVirtualMemorySize
            - FreePhysicalMemorySize
            - FreeSwapSpaceSize
            - ProcessCpuLoad
            - ProcessCpuTime
            - SystemCpuLoad
            - TotalPhysicalMemorySize
            - TotalSwapSpaceSize
            - SystemLoadAverage
            - AvailableProcessors
