#
# {{ ansible_managed }}
#
init_config:

instances:
   -   host: localhost
       port: 5432
       username: {{ postgres_users.devreadonly.username }}
       password: {{ postgres_users.devreadonly.password }}
       ssl: False
       tags:
            - environment:{{ deploy_env }}
