init_config:

# key values are set by ../../roles/riakcs/sync_keys/main.yml
instances:
  - host: {{ inventory_hostname if inventory_hostname|ipaddr else lookup('dig', inventory_hostname, wantlist=True)[0] }}
    port: {{ riakcs_port }}
    is_secure: False
    access_id: {{ s3_blob_db_access_key }}
    access_secret: {{ s3_blob_db_secret_key }}
