# {{ ansible_managed }}

# For information on supported formats and syntax for the config file, see
# <http://elasticsearch.org/guide/en/elasticsearch/reference/current/setup-configuration.html>

cluster.name: "{{ elasticsearch_cluster_name }}"

node.name: "{{ elasticsearch_node_name }}"

transport.tcp.port: {{ elasticsearch_tcp_port }}

http.port: {{ elasticsearch_http_port }}

http.cors.enabled: true

path.data: {{ elasticsearch_data_dir }}/data
path.logs: {{ elasticsearch_data_dir }}/logs

discovery.zen.ping.timeout: 90s
discovery.zen.fd.ping_timeout: 90s
discovery.zen.fd.ping_interval: 10s
discovery.zen.fd.ping_retries: 20

discovery.zen.ping.multicast.enabled: false
{% if elasticsearch_endpoint|ipaddr %}
discovery.zen.ping.unicast.hosts: ["{{ elasticsearch_endpoint }}:{{ elasticsearch_tcp_port }}"]
{% else %}
discovery.zen.ping.unicast.hosts: ["{{ lookup('dig', elasticsearch_endpoint, wantlist=True)[0] }}:{{ elasticsearch_tcp_port }}"]
{% endif %}

index.search.slowlog.threshold.query.warn: 10s
index.search.slowlog.threshold.query.info: 5s
index.search.slowlog.threshold.query.debug: 2s
index.search.slowlog.threshold.query.trace: 500ms

{% if elasticsearch_version|int < 1 %}
index.cache.field.max_size: 5000
index.cache.field.expire: 10m
index.cache.field.type: soft
{% endif %}
