# {{ ansible_managed }}

# For information on supported formats and syntax for the config file, see
# <http://elasticsearch.org/guide/en/elasticsearch/reference/current/setup-configuration.html>

cluster.name: "{{ elasticsearch_cluster_name }}"

node.name: "{{ elasticsearch_node_name }}"

transport.tcp.port: {{ elasticsearch_tcp_port }}

{% if elasticsearch_bind_to_localhost %}
# don't expose ES to public
network.bind_host: localhost
{% endif %}

http.port: {{ elasticsearch_http_port }}

http.cors.enabled: true

path.data: {{ elasticsearch_data_dir }}/data
path.logs: {{ elasticsearch_data_dir }}/logs

discovery.zen.ping.timeout: 90s
discovery.zen.fd.ping_timeout: 90s
discovery.zen.fd.ping_interval: 10s
discovery.zen.fd.ping_retries: 20

discovery.zen.ping.multicast.enabled: false
discovery.zen.ping.unicast.hosts: [
{% for endpoint in groups.elasticsearch %}
  {% if endpoint|ipaddr %}
    "{{ endpoint }}:{{ elasticsearch_tcp_port }}",
  {% else %}
    "{{ lookup('dig', endpoint, wantlist=True)[0] }}:{{ elasticsearch_tcp_port }}",
  {% endif %}
{% endfor %}
]

{% if inventory_hostname|ipaddr %}
network.host: "{{ inventory_hostname }}"
{% else %}
network.host: "{{ lookup('dig', inventory_hostname, wantlist=True)[0] }}"
{% endif %}

index.search.slowlog.threshold.query.warn: 10s
index.search.slowlog.threshold.query.info: 5s
index.search.slowlog.threshold.query.debug: 2s
index.search.slowlog.threshold.query.trace: 500ms

# somewhat of a security risk but required by pact custom reports
script.engine.groovy.inline.aggs: true
script.engine.groovy.inline.search: true
