---
nginx_ssl_cert: "{{ cas_nginx_ssl_cert }}"
nginx_ssl_key:  "{{ cas_nginx_ssl_key }}"

nginx_sites:
- server:
   balancers:
    - name: "{{ deploy_env }}_cas_commcare"
      hosts: "{{ groups['mobile_webworkers'] | default('webworkers') }}"
      port: "{{ django_port }}"
    - name: "{{ deploy_env }}_cas_formplayer"
      hosts: formplayer
      port: "{{ formplayer_port }}"
      method: "hash $cookie_sessionid consistent"
   geo:
    - name: "$limited"
      mappings:
      - 'default    1;'
      - '192.168.8.218    0;  # Ben Talbot'
      - '180.151.231.114    0;  # Ashish'
      - '120.56.84.164    0;  # Sankalp'
      - '50.78.242.97    0;  # Boston office'
      - '203.100.67.204    0;  # Surabhi'
      - '120.56.80.94    0;  # Sankalp'
      - '106.198.205.84  0;  # Sankalp'
      - '106.210.65.91    0;  # Jayshree'
      - '223.238.221.223  0;  # Shubham'
      - '120.56.91.78     0; # Sankalp'
      - '120.56.87.120    0; # Sankalp'
      - '103.70.153.140   0; #Kiran'
      - '103.248.95.173   0; #Surabhi'
      - '110.225.81.102   0; #Akansha'
      - '180.151.20.137   0; #Kanwalrpreet'
      - '182.77.11.62     0; #Akshita'
      - '157.32.64.61     0; #Akshita'
      - '106.213.189.115  0; #Akshita'
      - '106.213.131.56   0; #Mruga'
   mappings:
    # Remove 'username' query param from request uri for use in cache key
    # https://stackoverflow.com/a/45587134
    # https://stackoverflow.com/a/35772678
    - name: "$request_uri_no_username"
      variable: "$request_uri"
      default_value: "$request_uri"
      var_mappings:
        # username is first query param
        - key: '"~^(?P<path>[^?]*)\?(username=[^&]*)&?(?P<args>.*)?$"'
          value: '$path?$args'
        # username is not first query param
        - key: '"~^(?P<path>[^?]*)\?(?P<args1>.*?)(&?username=[^&]*)(?P<args2>&?.*)?$"'
          value: '$path?$args1$args2'
    - name: "$global_limit"
      variable: "$limited"
      var_mappings:
        - key: "1"
          value: "$server_name"
        - key: "0"
          value: '""'
    - name: "$per_ip_limit"
      variable: "$limited"
      var_mappings:
        - key: "1"
          value: "$binary_remote_addr"
        - key: "0"
          value: '""'
    - name: "$synced_never_bucket"
      variable: "$arg_days_since_last_sync"
      var_mappings:
        - key: '""'
          value: "$global_limit"
        - key: "default"
          value: '""'      
    - name: "$synced_today_bucket"
      variable: "$arg_days_since_last_sync"
      var_mappings:
        - key: "0"
          value: "$global_limit"
        - key: "default"
          value: '""'
    - name: "$synced_old_bucket"
      variable: "$arg_days_since_last_sync"
      var_mappings:
        - key: ~^[1-9]\d*  # match number > 0
          value: "$global_limit"
        - key: "default"
          value: '""'        

   limit_req_zones:
    - name: "synced_never"
      zone: "$synced_never_bucket"
      size: "10m"
      rate: "10r/s"
    - name: "synced_today"
      zone: "$synced_today_bucket"
      size: "10m"
      rate: "10r/s" 
    - name: "synced_old"
      zone: "$synced_old_bucket"
      size: "10m"
      rate: "10r/s"  
    - name: "overall_restore" # Limits all restores
      zone: "$global_limit"
      size: "10m"
      rate: "30r/s"
    - name: "per_ip_restore"
      zone: "$per_ip_limit"
      size: "50m"
      rate: "6r/m"
    - name: "submissions"
      zone: "$global_limit"
      size: "10m"
      rate: "300r/s"
    - name: "server_name"
      zone: "$global_limit"
      size: "10m"
      rate: "50r/s"
    - name: "profile_downloads"
      zone: "$global_limit"
      size: "10m"
      rate: "2r/s"
   proxy_cache_path:
    - name: "app_cache"
      path: "{{ www_home }}/app_downloads/cache"
      max_size: "5g"
      inactive_time: "24h"
   file_name: "{{ deploy_env }}_cas_commcare"
   listen: "443 ssl http2 default_server"
   server_name: "{{ CAS_SITE_HOST }}"
   client_max_body_size: 100m
   proxy_set_headers:
   - "Host $host"
   - "X-Forwarded-For $remote_addr"
   - "X-Forwarded-Protocol  $scheme"
   access_log: "{{ log_home }}/{{ deploy_env }}_cas-timing.log timing"
   locations:
     - name: "/hq/multimedia/file"
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
       proxy_cache: app_cache
       limit_rate: 500k
     - name: "/a/icds-test/apps/download"
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
       proxy_cache: app_cache
       client_body_buffer_size: 5m
       proxy_ignore_headers: Set-Cookie
     - name: "~* /a/icds-cas/apps/download/.*/.*_profile.ccpr"
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
       proxy_cache: app_cache
       proxy_cache_lock: "on"
       proxy_cache_lock_timeout: 30s
       # exclude username arg from cache key
       proxy_cache_key: "$proxy_host$request_uri_no_username"
       client_body_buffer_size: 5m
       proxy_ignore_headers: Set-Cookie
       limit_reqs:
         - zone_name: "profile_downloads"
           burst: 10
           nodelay: True
     - name: "/a/icds-cas/apps/download"
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
       proxy_cache: app_cache
       proxy_cache_lock: "on"
       proxy_cache_lock_timeout: 30s
       # exclude username arg from cache key
       proxy_cache_key: "$proxy_host$request_uri_no_username"
       client_body_buffer_size: 5m
       proxy_ignore_headers: Set-Cookie
     - name: "/accounts/login"
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
     - name: "/a/icds-cas/phone/keys"
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
     - name: "/a/icds-cas/phone/restore"
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
       limit_reqs:
         - zone_name: "synced_never"
         - zone_name: "synced_old"
         - zone_name: "synced_today"
         - zone_name: "per_ip_restore"
           burst: 2
           nodelay: True
         - zone_name: "overall_restore"
           burst: 100
           nodelay: True
     - name: "/a/icds-cas/receiver/logs"
       return: >-
          201 '<OpenRosaResponse xmlns="http://openrosa.org/http/response"><message nature="submit_success">ignored</message></OpenRosaResponse>'
       add_header: "Content-Type application/xml"
     - name: "/a/icds-cas/receiver"
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
       client_body_buffer_size: 512k
       limit_reqs:
         - zone_name: "submissions"
           burst: 100
           nodelay: True
     - name: /
       balancer: "{{ deploy_env }}_cas_commcare"
       proxy_redirect: "http://{{ CAS_SITE_HOST }} https://{{ CAS_SITE_HOST }}"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
       limit_reqs:
         - zone_name: "server_name"
           nodelay: True
     - name: "/static"
       alias: "{{ nginx_static_home }}"
       add_header: "Access-Control-Allow-Origin *"
       expires: "1M"
       try_files: "$uri $uri/index.html $uri/ =404"
     - name: "/{{ transfer_payload_dir_name }}"
       alias: "{{ shared_mount_dir if shared_drive_enabled else shared_data_dir }}/{{ transfer_payload_dir_name }}"
       is_internal: True
     - name: /errors
       alias: "{{ errors_home }}/pages"
     - name: /ws
       proxy_pass: "http://unix:{{ www_home }}/web.socket"
       proxy_http_version: "1.1"
       proxy_set_headers:
       - "Upgrade $http_upgrade"
       - "Connection \"upgrade\""
     - name: /formplayer
       balancer: "{{ deploy_env }}_cas_formplayer/"
       proxy_next_upstream_tries: 1
       proxy_read_timeout: 900s
     - name: /sentry
       proxy_pass: "http://{{ groups['sentry'][0] }}:8080"
       proxy_read_timeout: 900s
