# Todo: update for env specific ip
host    all         all         127.0.0.1/32          md5
local   all         all                               md5
# Accept private connections
host    all         all         192.168.33.0/24        md5
